@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout_Post_Detail.cshtml";
}

<link href="~/ThemeBlue/css/SumIntro.css" rel="stylesheet" />

<div class="Div_introMain">
    <div style=" overflow: hidden; margin: 20px 5px 30px 0px;">
        <h1 class="Font1"><strong>Liên hệ</strong></h1>
        <div class="Div_main">
            <div class="MenuTrai">
                <p><a href="/gioithieu">Giới thiệu</a></p>
                <p><a href="/quydinh">Quy định</a></p>
                <p><a href="/huongdansudung"> Hướng dẫn sử dụng</a></p>
                <p class="Border_left"><a href="/lienhe">Liên hệ - Góp ý</a></p>
            </div>
            <div class="Div_NoiDung">
                <p>Mọi thắc  mắc, khiếu nại và góp ý xin vui lòng gửi về</p>
                <ul>
                    <li>Skype:  phochungkhoan.com</li>
                    <li>E-mail: <a href="mailto:admin@phochungkhoan.com">admin@phochungkhoan.com</a></li>
                    <li>Phone: 0918.500.047</li>
                    @*<li>Hoặc qua ô góp ý nhanh sau:</li>*@
                </ul>
                @*<p class="Font2">&nbsp;</p>*@
                <p>
                    @*<div>
                        <iframe src="https://www.foxyform.com/form.php?id=742541&sec_hash=bc5480e82f2&width=450px"style="border: none; width:450px; height:370px" frameborder="0"></iframe>
                    </div>*@
                </p>
            </div>

        </div>
    </div>
</div>
