@{
    ViewBag.Title = @Resources.UserInterface.changePasswordSuccessfully;
}

<p class="alert-message">
    @Resources.UserInterface.changePasswordSuccessMessage      
</p>
<div data-role="controlgroup" data-type="horizontal" >
    <a href="../Home" data-role="button" data-icon="back" data-theme="e" >@Resources.UserInterface.goBack</a>
    <a href="../Account/LogOff" data-role="button" data-icon="arrow-r" data-theme="e" >@Resources.UserInterface.relogon</a>
</div>

