@{
    ViewBag.Title = @Resources.UserInterface.changePasswordSuccessfully;
}
<div class="main-content">
    <div class="left-menu">
        @Html.Partial("ProfileLeftMenuPartial")
    </div>
    <div class="box" style="height:100px;padding-top:20px;"><span style="margin-left:20px;"><strong>@Resources.Resource.changePasswordSuccessfully</strong></span>
    </div>  
</div>
