@{
    ViewBag.Title = @Resources.UserInterface.resetPasswordSuccessfully;
}
<div class="main-content" style="margin-top:30px">
       <div class="contentLogin">
        
         <fieldset>
        <br /> 
        
        <table>
            <tr>
                <td>@Resources.UserInterface.resetPasswordSuccessMessage </td>               
            </tr>            
        </table>
        
    </fieldset>
    </div>
</div>
