@{
    ViewBag.Title = @Resources.UserInterface.resetPasswordSuccessfully;
}

<p class="alert-message">
    @Resources.UserInterface.resetPasswordSuccessMessage      
</p>
<div>
    <a href="../Account/LogOff" data-role="button" data-icon="check" data-theme="e">@Resources.UserInterface.relogon</a>
</div>