@{
    ViewBag.Title = "ACB chat group";
}

<link type="text/css" rel="stylesheet" href="/Css/ChatStyle.css" />
<link rel="stylesheet" href="/Css/JQueryUI/themes/base/jquery.ui.all.css">
<link href="~/Content/ACBChatGroup.css" rel="stylesheet" />

<!--Script references. -->
<!--Reference the jQuery library. -->
<script src="/Scripts/ui/jquery.ui.core.js"></script>
<script src="/Scripts/ui/jquery.ui.widget.js"></script>
<script src="/Scripts/ui/jquery.ui.mouse.js"></script>
<script src="/Scripts/ui/jquery.ui.draggable.js"></script>
<script src="/Scripts/ui/jquery.ui.resizable.js"></script>


<!---------------------------multiple checkbox-------------------------------->
<script src="~/DetailTheme/multiplecheckbox/jquery.multiple.select.js"></script>
<link href="~/DetailTheme/multiplecheckbox/multiple-select.css" rel="stylesheet" />
<!----------------------------------------------------------->

<!---------------------------Diaglog-------------------------------->
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<!----------------------------------------------------------->
<div id="header">
    <a href="/"><img src="/img/Logo_ACBS_DF.png" alt="ACBS" /></a>
    
</div>
<br />
<br />
<br />

<div id="divContainer">
    <div style="margin-bottom:7px">        
        <input id="LinkimgCreate" class="submitButton button" type="button" value="ADD ROOM">
    </div>
    <div id="divChat" class="chatRoom">

    </div>

    <div id="listUser" class="listUserLoad">
        
    </div>
    

    <input id="hdId" type="hidden" />
    <input id="hdUserName" type="hidden" />

    <div class="dialogGroup" id="dialog">
        <div class="form-group">
            <select id="ms" multiple="multiple">
                @*<option value="anhcop86">anhcop86</option>
                <option value="truongvoky">truongvoky</option>                
                <option value="truongthuyson">truongthuyson</option>*@
            </select>
        </div>
        <div style="margin-top: 180px; text-align:center;">
            <input id="txtGroupName" type="text" placeholder="Nhập tên group" width="100" style="margin-bottom:10px" />
            <br />
            <input id="btnCreateGroup" class="submitButton button" type="button" value="Tạo group chat">
        </div>
    </div>
</div>



<!------------------script----------------------------------------->

<script>
    $(function () {

        $('#ms').multipleSelect({
            width: '250px',
            selectAll: false,
            filter: true,
            isOpen: true,
            keepOpen: true,
            maxHeight: 250
            
        });
        $('#LinkimgCreate').click(function () {
            $('#ms').html('');
            $('#txtGroupName').val('');
            document.body.style.overflow = 'hidden';
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetListUserExcept", "Home")',
                success: function (data) {
                    $.each(data, function (id, option) {         
                        $opt = $("<option />", {
                            value: option.name,
                            text: option.name
                        });

                        $('#ms').append($opt).multipleSelect("refresh");
                    });
                },

            })
            
            dialog.dialog("open");

        });
        dialog = $("#dialog").dialog({
            modal: true,
            width: 300,
            height:400,
            resizable: false,
            autoOpen: false,
            title: 'Tạo nhóm chat'
        });
    });
</script>

<script type="text/javascript">

    $(function () {

        setScreen(false);

        // Declare a proxy to reference the hub.
        var chatHub = $.connection.chatHub;

        registerClientMethods(chatHub);

        // Start Hub
        $.connection.hub.start().done(function () {

            registerEvents(chatHub)

        });

    });

    function setScreen(isLogin) {
        if (!isLogin) {

            $("#divChat").hide();
            $("#divLogin").show();
        }
        else {

            $("#divChat").show();
            $("#divLogin").hide();
        }

    }

    function registerEvents(chatHub) {
        chatHub.server.connect();       // load user mới khi đăng nhập vào hệ thống

        $('#btnSendMsg').click(function () {

            var msg = $("#txtMessage").val();
            if (msg.length > 0) {

                var userName = $('#hdUserName').val();
                chatHub.server.sendMessageToAll(userName, msg);
                $("#txtMessage").val('');
            }
        });


        $("#txtNickName").keypress(function (e) {
            if (e.which == 13) {
                $("#btnStartChat").click();
            }
        });

        $("#txtMessage").keypress(function (e) {
            if (e.which == 13) {
                $('#btnSendMsg').click();
            }
        });
        
        // chat group
        // khi click vào tạo nhóm trên 
        $('#btnCreateGroup').click(function () {
            var listGroup = $('#ms').val();
            var groupName = $('#txtGroupName').val();
            if (listGroup != null) {
                chatHub.server.createGroup_User(listGroup, groupName);
                dialog.dialog("close");
            }
        })
    }

    function registerClientMethods(chatHub) {

        // Calls when user successfully logged in
        chatHub.client.onConnected = function (id, userName, allUsers, statusUser) {

            setScreen(true);

            $('#hdId').val(userName);
            $('#hdUserName').val(userName);
            $('#spanUser').html(userName);

            // Add All Users
            for (i = 0; i < allUsers.length; i++) {

                AddUser(chatHub, allUsers[i].UserId, allUsers[i].UserName, statusUser);
            }

            // Add Existing Messages
            //for (i = 0; i < messages.length; i++) {

            //    AddMessage(messages[i].UserName, messages[i].Message);
            //}


        }

        // On New User Connected
        chatHub.client.onNewUserConnected = function (id, name) {

            UpDateUser(chatHub, id, name);
        }

        function UpDateUser(chatHub, id, name) {
            var checkuser = $('#listUser').find('#' + name).length;
            console.log(checkuser);
            if (checkuser == 0) {
                AddUser(chatHub, name, name, "O");
            }
            else {
                $('#listUser').find('#' + name).find('div').css({ "background-color": "green" })
            }

        }




        // On User Disconnected
        chatHub.client.onUserDisconnected = function (id, userName) {
            $('#listUser').find('#' + userName).find('div').css({ "background-color": "#b0b3b7" })
            //$('#' + id).remove();

            //var ctrId = 'private_' + id;
            //$('#' + ctrId).remove();


            //var disc = $('<div class="disconnect">"' + userName + '" logged off.</div>');

            //$(disc).hide();
            //$('#divusers').prepend(disc);
            //$(disc).fadeIn(200).delay(2000).fadeOut(200);

        }

        chatHub.client.messageReceived = function (userName, message) {

            AddMessage(userName, message);
        }


        chatHub.client.sendPrivateMessage = function (windowId, fromUserName, message , group, groupname) {
            var ctrId = "";
            if (group == "G") {
                ctrId = 'Group_' + windowId;
            }
            else {
                ctrId = 'private_' + windowId;
            }

            //var ctrId = 'private_' + windowId;


            if ($('#' + ctrId).length == 0) {

                createPrivateChatWindow(chatHub, windowId, ctrId, fromUserName, groupname);
            }

            $('#' + ctrId).find('#divMessage').append('<div class="message"><span class="userName">' + fromUserName + '</span>: ' + message + '</div>');
            
            if (windowId == fromUserName && group == "P") {
                
                $('#' + ctrId).find('.header').css({ "background-color": "#287CDB" });
            }

            if ($('#hdId').val() != fromUserName && group == "G") {

                $('#' + ctrId).find('.header').css({ "background-color": "#287CDB" });
            }
            
            // set scrollbar
            var height = $('#' + ctrId).find('#divMessage')[0].scrollHeight;
            $('#' + ctrId).find('#divMessage').scrollTop(height);

        }

    }

    function AddUser(chatHub, id, name, statusUser) {

        var userId = $('#hdId').val();

        var code = "";

        if (userId == name) {

            code = $('<div id="' + name + '" class="loginUser">' + name + '<div class="OnlineIcon"></div></div>');

        }
        else {
            if (statusUser == "O") {
                code = $('<a id="' + name + '" class="user" >' + name + '<div class="OnlineIcon"></div><a>');
            }
            if (statusUser == "F") {
                code = $('<a id="' + name + '" class="user" >' + name + '<div class="OfflineIcon"></div><a>');
            }

            if (statusUser == "G") {
                code = $('<a alt="G"  id="' + id + '" class="user" >Group: ' + name + '</div><a>');
            }

            $(code).click(function () {

                var id = $(this).attr('id');

                if (userId != id) {
                    if ($(this).attr('alt') == "G") {
                        OpenPrivateChatWindow(chatHub, id, name, "G");
                    }
                    else {
                        OpenPrivateChatWindow(chatHub, id, name, "P");
                    }
                   
                }

            });
        }

        $("#listUser").append(code);

    }

    function AddMessage(userName, message) {
        $('#divChatWindow').append('<div class="message"><span class="userName">' + userName + '</span>: ' + message + '</div>');

        var height = $('#divChatWindow')[0].scrollHeight;
        $('#divChatWindow').scrollTop(height);
    }

    function OpenPrivateChatWindow(chatHub, id, userName, group) {
        var ctrId = "";
        if (group == "G") {
            ctrId = 'Group_' + id;
        }
        else {
            ctrId = 'private_' + userName;
        }
        

        if ($('#' + ctrId).length > 0) return; // check esist window

        createPrivateChatWindow(chatHub, id, ctrId, userName, userName);

    }

    function createPrivateChatWindow(chatHub, userId, ctrId, userName, groupname) {

        var div = '<div  id="' + ctrId + '" class="ui-widget-content draggable" rel="0">' +
                   '<div class="header">' +
                      '<div  style="float:right;">' +
                          '<img id="imgDelete"  style="cursor:pointer;" src="/Images/delete.png"/>' +
                       '</div>' +
                      

                       '<span class="selText" rel="0">' + groupname + '</span>' +
                   '</div>' +
                   '<div id="divMessage" class="messageArea">' +

                   '</div>' +
                   '<div class="buttonBar">' +
                      '<input id="txtPrivateMessage" class="msgText" type="text"   />' +
                      '<input id="btnSendMessage" class="submitButton button" type="button" value="Send"   />' +
                   '</div>' +
                '</div>';

        //'<div  style="float:right;margin-right:5px">' + cai nay de lam left room
        //                   '<img id="imgAddUser"  style="cursor:pointer;" src="/Images/AddUser.png"/>' +
        //                '</div>' +
        // tạo cửa sổ chat
        var $div = $(div);
              

        // DELETE BUTTON IMAGE
        $div.find('#imgDelete').click(function () {
            $('#' + ctrId).remove();
        });      
        

        // Send Button event
        $div.find("#btnSendMessage").click(function () {
            $('#' + ctrId).find('.header').css({ "background-color": "#d7e5e4" });
            $textBox = $div.find("#txtPrivateMessage");
            var msg = $textBox.val();
            if (msg.length > 0) {

                chatHub.server.sendPrivateMessage(userId, msg);
                $textBox.val('');
            }
        });

        // Text Box event
        $div.find("#txtPrivateMessage").keypress(function (e) {
            if (e.which == 13) {
                $div.find("#btnSendMessage").click();
            }
        });

        $div.find("#txtPrivateMessage").focus(function () {
            $('#' + ctrId).find('.header').css({ "background-color": "#d7e5e4" });
        });

        AddDivToContainer($div);

    }

    function AddDivToContainer($div) {
        var top = Math.floor((Math.random() * 500) + 1);
        var left = Math.floor((Math.random() * 1000) + 1);
        
        $('#divContainer').prepend($div.css({"left":left,"top":top}));

        $div.draggable({

            handle: ".header",
            stop: function () {

            }
        });

        //$div.resizable({
        //    maxHeight: 250,
        //    maxWidth: 350,
        //    minHeight: 150,
        //    minWidth: 200,
        //    stop: function () {

        //    }
        //});

    }

</script>