body {
    padding-top: 0;
    padding-bottom: 20px;
}

.menu {
    /*border:none;*/
}

* {
    border-radius: 0 !important;
}

.blue-theme {
    background-color: #4db5e7;
    color: #fff;
}

.dropdown-menu li a:hover {
    background-color: #e7e7e7;
}

.dropdown-menu {
    /*min-width: 48px;
    text-align: center;*/
}

.glyphicon {
    color: #969696;
}

.panal-new .panel-heading {
    border: none;
    background-color: #e7e7e7;
    color: #606060;
    text-align: center;
    font-weight: bold;
}

.panel-warning .panel-body span {
    padding-right: 10px;
}

.panel-warning .panel-body .row {
    margin-bottom: 5px;
}

.panel-warning {
    border-color: #e7e7e7;
}
/*.dropdown:hover .dropdown-menu {
    display: block;
}*/

.menu-format li {
    padding-top: 5px;
    padding-bottom: 5px;
}

    .menu-format li:last-child {
        padding-bottom: 6px;
    }

.container-fluid, .navbar, .container {
    /*border-radius: 0;*/
    border: none;
}

.container-fluid {
    margin: 0;
    padding: 0;
}
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
    top: 0;
    width: 100%;
}

.navbar-custom-menu > .navbar-nav > li {
    position: relative;
}

.skin-yellow .main-header .navbar .nav > li > a {
    color: #fff;
}


.input-group {
    position: relative;
    display: block;
    border-collapse: separate;
    /*float:right;*/
}

.carousel {
    margin: 0px 0 10px 0;
}

.catalogy-title {
    color: #4db5e7;
    font-weight: bold;
    padding-top: 3px;
}

img {
    border: none !important;
}

.carousel-inner img {
    height: 347px;
}

.affix + .container-fluid {
    padding-top: 70px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 10px 0;
    border: none;
    /*border-radius: 0;*/
}

    .thumbnail p {
        margin-top: 8px;
        color: #000;
    }
/* Black buttons with extra padding and without rounded borders */
.btn {
    /*padding: 8px 20px;
background-color: #333;
color: #f1f1f1;*/
    /*border-radius: 0;*/
    transition: 0s;
}

.form-control {
    /*border-radius: 0;*/
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.35);
}

.logo {
    /*height: 115px;*/
    margin-top: 5px;
    margin-bottom: 10px;
}

/* On hover, the color of .btn will transition to white with black text */
/*.btn:hover, .btn:focus {
border: 1px solid #5bc0de;
background-color: #fff;
color: #000;
}*/

/* Add a dark background color with a little bit see-through */
.navbar-collapse {
    position: relative;
    /*padding-top: 30px !important;*/
    max-height: 270px;
}

    .navbar-collapse form[role="search"] {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 0;
    }

        .navbar-collapse form[role="search"] button,
        .navbar-collapse form[role="search"] input {
            padding: 8px 12px;
            color: rgb(119, 119, 119);
            background-color: rgb(248, 248, 248);
            border-color: rgb(231, 231, 231);
            box-shadow: none;
            outline: none;
        }

        .navbar-collapse form[role="search"] input {
            padding: 16px 12px;
            font-size: 14pt;
            font-style: italic;
            color: rgb(160, 160, 160);
            box-shadow: none;
        }

        .navbar-collapse form[role="search"] button[type="reset"] {
            display: none;
        }

.button-search {
    float: right;
    margin-top: 10px;
    display: inline-flex;
}

    .button-search #searchInput {
        border-right: 0px;
    }

    .button-search button {
        background-color: #d81920;
        border-color: #d81920;
    }

        .button-search button:hover {
            background-color: #d81920;
            border-color: #d81920;
        }

#myNavbar {
    font-weight: bold;
}

    #myNavbar ul li:hover {
        background-color: #e7e7e7;
    }

#navbar-title {
    display: none;
}

@media (max-width: 768px) {
    #navbar-title {
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar-collapse {
        padding-top: 0px !important;
        /*padding-right: 38px !important;*/
    }



        .navbar-collapse form[role="search"] {
            width: 38px;
        }

            .navbar-collapse form[role="search"] button,
            .navbar-collapse form[role="search"] input {
                padding: 15px 12px;
            }

            .navbar-collapse form[role="search"] input {
                padding: 25px 12px;
                font-size: 18pt;
                opacity: 0;
                display: none;
            }

            .navbar-collapse form[role="search"].active {
                width: 100%;
            }

                .navbar-collapse form[role="search"].active button,
                .navbar-collapse form[role="search"].active input {
                    display: table-cell;
                    opacity: 1;
                }

                .navbar-collapse form[role="search"].active input {
                    width: 100%;
                }
}
