<html>
<head>
<title>Biz Company</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="Desciption" content="This web design site is a very good site with wonderful web design resources">
<meta name="keywords" content="This,web,design,site,is,a,very,good,site,with,wonderful,web,design,resources">
<link href="style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<center>
  <div class="wrapper">
    <div class="header">
      <div style="float:left; margin-left:110px; margin-top:20px;"> <img src="images/logo.jpg" style="float:left;">
        <div style="float:left;  text-align:left; font-family:tahoma; font-size:24pt; color:#636363; margin-left:5px;margin-top:5px;">Harvard<b>TIPS</b><br>
          <span style="float:left;  text-align:left; font-family:tahoma; font-size:8pt; color:#b1b1b1;"><b>&nbsp;best business in football</b></span> </div>
      </div>
      <div style="float:right; margin-right:30px; margin-top:50px; text-align:left; font-family:tahoma; font-size:17pt; color:#636363;">make a lot of <b>money</b><br>
        <span style="float:left;  text-align:left; font-family:tahoma; font-size:8pt; color:#b1b1b1;"><b>&nbsp;with us</b></span> </div>
    </div>
    <div class="menu">
      <div class="menu-text" style="padding-left:40px;padding-right:50px;"><a href="http://all-free-download.com/free-website-templates/" class="nav">Home</a></div>
      <div class="menu-text"><a href="http://all-free-download.com/free-website-templates/" class="nav">About</a></div>
      <div class="menu-text"><a href="http://all-free-download.com/free-website-templates/" class="nav">Media</a></div>
      <div class="menu-text" style="padding-right:30px;"><a href="http://all-free-download.com/free-website-templates/" class="nav">Products</a></div>
      <div class="menu-text"><a href="http://all-free-download.com/free-website-templates/" class="nav">Contact</a></div>
      <div style="float:right; padding-right:25px;padding-top:12px;">
        <input type="image" src="images/go.jpg" />
      </div>
      <div style="float:right;padding-right:8px;padding-top:14px;">
        <input style="border:none; height:18px;width:130px;" type="text" name="search_box" />
      </div>
    </div>
    <div class="first-section">
      <div class="left-image">
        <div class="title1" style="border-bottom:solid 1px #0669BC; width:900px; padding-bottom:7px;">Welcome &nbsp;<span class="title2" style="">Harvard-tips</span> </div>
        <div style="margin-top:7px">			
			We are team of professional soccer bettors. Our expertise is in English Premier League, Spanish La Liga, German Bundesliga, Italian Serie A, French Ligue 1, UEFA Champions League, UEFA Europa League and other minor leagues. Our team has many years of experience in soccer betting. Successful soccer betting tips are based on several factors including statistical analysis, situational trends, motivational & psychological factors, team news, injuries, suspensions etc. Contact mail: TIP1X2.TIPS@GMAIL.COM
		</div>
		
      </div>
	  
    </div>
      
   
    <div class="wrapper">
      <div class="payed_ticket">
		<div id="cast2" class="cast2">	
			<table> 		
				
			<tbody><tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  13.09.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>			
				<td><p>Feyenoord	vs	Willem II</p>	</td>
				<td><p> Over 2.5</p></td>
				<td> <p> 1.60</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/drAs4cRN/#match-summary" target="_blank">1 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  </td>
			</tr> 
			<tr>
				<td><p>  13.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>
				<td>  	<p> Groningen	vs	Heerenveen</p> 	</td>
					<td> <p> Over 2.5</p></td>
					<td> <p> 1.60</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/IiBw5wCH/#match-summary" target="_blank">3 : 1 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  13.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Germany.png" class="attachment-thumbnail" alt="Germany Tip1x2"> </td>
				<td><p> Hoffenheim	vs	Werder Bremen</p></td>
				<td><p> 1</p></td>
				<td> <p> 1.95</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/dzObPbPL/#match-summary" target="_blank">1 : 3 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.00 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost.png" class="attachment-thumbnail" alt="lost"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  12.09.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Wales.png" class="attachment-thumbnail" alt="Wales Tip1x2"> </td>			
				<td><p>TNS	vs	Port Talbot</p>	</td>
				<td><p> Over 3.5</p></td>
				<td> <p> 2.15</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/h4lZqMcr/#match-summary" target="_blank">3 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/12/win.png" class="attachment-thumbnail" alt="Win Predictions Soccer Tip1x2.tips">  </td>
			</tr> 
			<tr>
				<td><p>  12.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Wales.png" class="attachment-thumbnail" alt="Wales Tip1x2"> </td>
				<td>  	<p> Bangor	vs	Carmarthen Town</p> 	</td>
					<td> <p> Over 2.5</p></td>
					<td> <p> 1.60</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/dY23krzL/#match-summary" target="_blank">1 : 2 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  12.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/12/United-Arab-Emirates.png" class="attachment-thumbnail" alt="United Arab Emirates Best Fixed Soccer Tips"> </td>
				<td><p> Bani Yas	vs	Dibba Al Fujairah</p></td>
				<td><p> Over 2.5</p></td>
				<td> <p> 1.60</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/4200RIta/#match-summary" target="_blank">3 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.16 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  11.09.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>			
				<td><p>Sparta Rotterdam	vs	Achilles 29</p>	</td>
				<td><p> Over 3.5</p></td>
				<td> <p> 2.20</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/CMfGwMMl/#match-summary" target="_blank">3 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  </td>
			</tr> 
			<tr>
				<td><p>  11.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>
				<td>  	<p> Emmen	vs	Waalwijk</p> 	</td>
					<td> <p> GG</p></td>
					<td> <p> 1.50</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/thqJcsEK/#match-summary" target="_blank">6 : 1 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  11.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Wales.png" class="attachment-thumbnail" alt="Wales Tip1x2"> </td>
				<td><p> Bala	vs	Connahs Q.</p></td>
				<td><p> Over 2.5</p></td>
				<td> <p> 1.60</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/UBW6jOKE/#match-summary" target="_blank">2 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.28 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost.png" class="attachment-thumbnail" alt="lost"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  08.09.2015</p>
				</td>				
				<td><img width="26" height="15" src="http://tip1x2.tips/wp-content/uploads/2014/11/Bolivia-Tip1x2.png" class="attachment-thumbnail" alt="Bolivia Tip1x2"> </td>			
				<td><p>Sport Boys	vs	Wilstermann</p>	</td>
				<td><p> GG</p></td>
				<td> <p> 1.70</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/2kvYnW0q/#match-summary" target="_blank">1 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/12/win.png" class="attachment-thumbnail" alt="Win Predictions Soccer Tip1x2.tips">  </td>
			</tr> 
			<tr>
				<td><p>  08.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Germany.png" class="attachment-thumbnail" alt="Germany Tip1x2"> </td>
				<td>  	<p> Alemannia Aachen	vs	Schalke II</p> 	</td>
					<td> <p> GG</p></td>
					<td> <p> 2.00</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/nmVffTPP/#match-summary" target="_blank">1 : 2 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  08.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/world.png" class="attachment-thumbnail" alt="world Tip1x2"> </td>
				<td><p> St. Pauli (Ger)	vs	Dortmund (Ger)</p></td>
				<td><p> GG</p></td>
				<td> <p> 1.65</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/jVYBRVei/#match-summary" target="_blank">1 : 2 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.61 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  06.09.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Chile.png" class="attachment-thumbnail" alt="Chile Tip1x2"> </td>			
				<td><p>U. Catolica	vs	Union La Calera</p>	</td>
				<td><p> Over 3.5</p></td>
				<td> <p> 2.20</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/hv3rlZTQ/#match-summary" target="_blank">3 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  06.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Chile.png" class="attachment-thumbnail" alt="Chile Tip1x2"> </td>
				<td>  	<p> Huachipato	vs	D. Puerto Montt</p> 	</td>
					<td> <p> Over 2.5</p></td>
					<td> <p> 1.70</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/nFqHmkmr/#match-summary" target="_blank">5 : 3 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  06.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Italy.png" class="attachment-thumbnail" alt="Italy Tip1x2"> </td>
				<td><p> Italy	vs	Bulgaria</p></td>
				<td><p> 1</p></td>
				<td> <p> 1.40</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/pf3BQfu7/#match-summary" target="_blank">1 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.23 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/12/win.png" class="attachment-thumbnail" alt="Win Predictions Soccer Tip1x2.tips"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  05.09.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Wales.png" class="attachment-thumbnail" alt="Wales Tip1x2"> </td>			
				<td><p>Rhyl	vs	TNS</p>	</td>
				<td><p> GG</p></td>
				<td> <p> 1.60</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/OEuHT0D1/#match-summary" target="_blank">0 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  </td>
			</tr> 
			<tr>
				<td><p>  05.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Wales.png" class="attachment-thumbnail" alt="Wales Tip1x2"> </td>
				<td>  	<p> Connahs Q.	vs	Haverfordwest</p> 	</td>
					<td> <p> Over 2.5</p></td>
					<td> <p> 1.50</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/tjjCUtbe/#match-summary" target="_blank">2 : 1 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  05.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Wales.png" class="attachment-thumbnail" alt="Wales Tip1x2"> </td>
				<td><p> Carmarthen Town	vs	Bala</p></td>
				<td><p> 2</p></td>
				<td> <p> 2.20</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/2ai8VMrk/#match-summary" target="_blank">0 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.28 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost.png" class="attachment-thumbnail" alt="lost"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  04.09.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Wales.png" class="attachment-thumbnail" alt="Wales Tip1x2"> </td>			
				<td><p>Port Talbot	vs	Aberystwyth</p>	</td>
				<td><p> Over 3.5</p></td>
				<td> <p> 2.15</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/YPn4W2Tr/#match-summary" target="_blank">4 : 2 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/12/win.png" class="attachment-thumbnail" alt="Win Predictions Soccer Tip1x2.tips">  </td>
			</tr> 
			<tr>
				<td><p>  04.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2015/04/peru.jpg" class="attachment-thumbnail" alt="soccer 1x2 betting predictions"> </td>
				<td>  	<p> FBC Melgar	vs	León de Huánuco</p> 	</td>
					<td> <p> 1</p></td>
					<td> <p> 1.55</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/0C0n6We2/#match-summary" target="_blank">5 : 0 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  04.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Chile.png" class="attachment-thumbnail" alt="Chile Tip1x2"> </td>
				<td><p> Everton	vs	U. Espanola</p></td>
				<td><p> GG</p></td>
				<td> <p> 1.60</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/UPPHiblG/#match-summary" target="_blank">1 : 2 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.33 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  02.09.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Argentina.png" class="attachment-thumbnail" alt="Argentina Tip1x2"> </td>			
				<td><p>Gimnasia L.P.	vs	Velez Sarsfield</p>	</td>
				<td><p> 1</p></td>
				<td> <p> 2.10</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/4l3eGM6J/#match-summary" target="_blank">0 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  </td>
			</tr> 
			<tr>
				<td><p>  02.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Chile.png" class="attachment-thumbnail" alt="Chile Tip1x2"> </td>
				<td>  	<p> Coquimbo	vs	Colo Colo</p> 	</td>
					<td> <p> Over 2.5</p></td>
					<td> <p> 1.55</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/z3QDhvZ9/#match-summary" target="_blank">1 : 1 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost.png" class="attachment-thumbnail" alt="lost">  </td>
			</tr> 
			<tr>
				<td><p>  02.09.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Denmark.png" class="attachment-thumbnail" alt="Denmark Tip1x2"> </td>
				<td><p> Avedore	vs	Vestsjaelland</p></td>
				<td><p> Over 2.5</p></td>
				<td> <p> 1.55</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/WpnQSJxH/#match-summary" target="_blank">0 : 3 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.04 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  30.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>			
				<td><p>AZ Alkmaar	vs	Roda</p>	</td>
				<td><p> 1</p></td>
				<td> <p> 1.65</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/voOBjvcO/#match-summary" target="_blank">0 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  </td>
			</tr> 
			<tr>
				<td><p>  30.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>
				<td>  	<p> Vitesse	vs	Cambuur</p> 	</td>
					<td> <p> Over 3.5</p></td>
					<td> <p> 2.10</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/IyNFkbCU/#match-summary" target="_blank">4 : 1 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  30.08.2015</p></td>
				<td><img width="26" height="15" src="http://tip1x2.tips/wp-content/uploads/2014/11/Bolivia-Tip1x2.png" class="attachment-thumbnail" alt="Bolivia Tip1x2"> </td>
				<td><p> Bolivar	vs	Real Potosi</p></td>
				<td><p> Over 2.5</p></td>
				<td> <p> 1.60</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/AiagfE89/#match-summary" target="_blank">3 : 2 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.54 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost.png" class="attachment-thumbnail" alt="lost"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  29.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Chile.png" class="attachment-thumbnail" alt="Chile Tip1x2"> </td>			
				<td><p>U. De Concepcion	vs	Cobresal</p>	</td>
				<td><p> Over 2.5</p></td>
				<td> <p> 1.75</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/UcqXfssB/#match-summary" target="_blank">3 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/12/win.png" class="attachment-thumbnail" alt="Win Predictions Soccer Tip1x2.tips">  </td>
			</tr> 
			<tr>
				<td><p>  29.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/England1.png" class="attachment-thumbnail" alt="England Tip1x2"> </td>
				<td>  	<p> Wolves	vs	Charlton</p> 	</td>
					<td> <p> 1</p></td>
					<td> <p> 1.85</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/8YLdzXzS/#match-summary" target="_blank">2 : 1 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  29.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Wales.png" class="attachment-thumbnail" alt="Wales Tip1x2"> </td>
				<td><p> Newtown	vs	Haverfordwest</p></td>
				<td><p> Over 2.5</p></td>
				<td> <p> 1.55</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/xI7Tx5jF/#match-summary" target="_blank">3 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.01 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  28.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>			
				<td><p>Eindhoven FC	vs	Maastricht</p>	</td>
				<td><p> Over 2.5</p></td>
				<td> <p> 1.70</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/AwKfvYe2/#match-summary" target="_blank">4 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/12/win.png" class="attachment-thumbnail" alt="Win Predictions Soccer Tip1x2.tips">  </td>
			</tr> 
			<tr>
				<td><p>  28.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>
				<td>  	<p> Telstar	vs	Emmen</p> 	</td>
					<td> <p> Over 2.5</p></td>
					<td> <p> 1.65</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/jkBXopF8/#match-summary" target="_blank">2 : 1 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  28.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Germany.png" class="attachment-thumbnail" alt="Germany Tip1x2"> </td>
				<td><p> Fortuna Köln	vs	Magdeburg</p></td>
				<td><p> GG</p></td>
				<td> <p> 1.75</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/4vbowC00/#match-summary" target="_blank">2 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/12/win.png" class="attachment-thumbnail" alt="Win Predictions Soccer Tip1x2.tips">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 4.90 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  26.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Finland.png" class="attachment-thumbnail" alt="Finland Tip1x2"> </td>			
				<td><p>SJK	vs	KuPS</p>	</td>
				<td><p> 1</p></td>
				<td> <p> 1.60</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/0QeCAbBt/#match-summary" target="_blank">1 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  26.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Finland.png" class="attachment-thumbnail" alt="Finland Tip1x2"> </td>
				<td>  	<p> VPS	vs	Lahti</p> 	</td>
					<td> <p> GG</p></td>
					<td> <p> 2.00</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/fmeG9IQn/#match-summary" target="_blank">3 : 1 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  26.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/England1.png" class="attachment-thumbnail" alt="England Tip1x2"> </td>
				<td><p> Barnsley	vs	Everton</p></td>
				<td><p> 2</p></td>
				<td> <p> 1.60</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/phKzQ2a4/#match-summary" target="_blank">3 : 3 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.12 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost.png" class="attachment-thumbnail" alt="lost"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  24.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Germany.png" class="attachment-thumbnail" alt="Germany Tip1x2"> </td>			
				<td><p>Kaiserslautern	vs	Paderborn</p>	</td>
				<td><p> 1</p></td>
				<td> <p> 1.60</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/ClTBRXrF/#match-summary" target="_blank">1 ; 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  24.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Turkey.png" class="attachment-thumbnail" alt="Turkey Tip1x2"> </td>
				<td>  	<p> Gaziantep BB	vs	Yeni Malatyaspor</p> 	</td>
					<td> <p> 1</p></td>
					<td> <p> 2.20</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/2m1jYiRS/#match-summary" target="_blank">0 : 0 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  </td>
			</tr> 
			<tr>
				<td><p>  24.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2015/06/Belarus-Free-Tip-Soccer-Betting.gif" class="attachment-thumbnail" alt="Belarus Free Tip Soccer Betting"> </td>
				<td><p> Mikashevichi	vs	Slutsk</p></td>
				<td><p> 1</p></td>
				<td> <p> 1.70</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/M7GVAjmk/#match-summary" target="_blank">1 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.98 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost.png" class="attachment-thumbnail" alt="lost"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  23.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/France.png" class="attachment-thumbnail" alt="France Tip1x2"> </td>			
				<td><p>Marseille	vs	Troyes</p>	</td>
				<td><p> 1</p></td>
				<td> <p> 1.55</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/KGJ7HFbj/#match-summary" target="_blank">6 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/12/win.png" class="attachment-thumbnail" alt="Win Predictions Soccer Tip1x2.tips">  </td>
			</tr> 
			<tr>
				<td><p>  23.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Brazil.png" class="attachment-thumbnail" alt="Brazil Tip1x2"> </td>
				<td>  	<p> Joinville	vs	Fluminense</p> 	</td>
					<td> <p> 1</p></td>
					<td> <p> 2.50</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/rqlg0cDn/#match-summary" target="_blank">2 : 1 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  23.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Norway.png" class="attachment-thumbnail" alt="Norway Tip1x2"> </td>
				<td><p> Stromsgodset	vs	Start</p></td>
				<td><p> Over 2.5</p></td>
				<td> <p> 1.45</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/dbOXddzO/#match-summary" target="_blank">2 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.61 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  22.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>			
				<td><p>Roda	vs	Graafschap</p>	</td>
				<td><p> 1</p></td>
				<td> <p> 1.70</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/zZ2DsqEg/#match-summary" target="_blank">1 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  22.08.2015</p></td>
				<td><img width="26" height="15" src="http://tip1x2.tips/wp-content/uploads/2014/11/Bolivia-Tip1x2.png" class="attachment-thumbnail" alt="Bolivia Tip1x2"> </td>
				<td>  	<p> The Strongest	vs	Petrolero de Y.</p> 	</td>
					<td> <p> Over 3.5</p></td>
					<td> <p> 2.20</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/jHDPLg2p/#match-summary" target="_blank">3 : 1 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/12/win.png" class="attachment-thumbnail" alt="Win Predictions Soccer Tip1x2.tips">  </td>
			</tr> 
			<tr>
				<td><p>  22.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Brazil.png" class="attachment-thumbnail" alt="Brazil Tip1x2"> </td>
				<td><p> Bragantino	vs	CRB</p></td>
				<td><p> 1</p></td>
				<td> <p> 1.80</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/C8uPwQhp/#match-summary" target="_blank">2 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 6.73 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  21.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Germany.png" class="attachment-thumbnail" alt="Germany Tip1x2"> </td>			
				<td><p>Hertha Berlin	vs	Werder Bremen</p>	</td>
				<td><p> GG</p></td>
				<td> <p> 1.75</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/EXoqClk5/#match-summary" target="_blank">1 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  21.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>
				<td>  	<p> Groningen	vs	Excelsior</p> 	</td>
					<td> <p> 1</p></td>
					<td> <p> 1.65</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/tC39rPbm/#match-summary" target="_blank">2 : 0 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  21.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Denmark.png" class="attachment-thumbnail" alt="Denmark Tip1x2"> </td>
				<td><p> Hobro	vs	Nordsjaelland</p></td>
				<td><p> 2</p></td>
				<td> <p> 2.10</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/QieAgZ9h/#match-summary" target="_blank">1 ; 3 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 6.06 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/12/win.png" class="attachment-thumbnail" alt="Win Predictions Soccer Tip1x2.tips"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  19.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Argentina.png" class="attachment-thumbnail" alt="Argentina Tip1x2"> </td>			
				<td><p>Independiente	vs	Lanus</p>	</td>
				<td><p> 1</p></td>
				<td> <p> 2.10</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/joFDiwUI/#match-summary" target="_blank">0 : 2 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  </td>
			</tr> 
			<tr>
				<td><p>  19.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/world.png" class="attachment-thumbnail" alt="world Tip1x2"> </td>
				<td>  	<p> Skenderbeu (Alb)	vs	D. Zagreb (Cro)</p> 	</td>
					<td> <p> 2</p></td>
					<td> <p> 1.75</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/ttNcFhpo/#match-summary" target="_blank">1 : 2 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  19.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/world.png" class="attachment-thumbnail" alt="world Tip1x2"> </td>
				<td><p> Celtic (Sco)	vs	Malmo FF (Swe)</p></td>
				<td><p> 1</p></td>
				<td> <p> 1.60</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/fqBuvxNo/#match-summary" target="_blank">3 : 2 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.88 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost.png" class="attachment-thumbnail" alt="lost"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  16.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Brazil.png" class="attachment-thumbnail" alt="Brazil Tip1x2"> </td>			
				<td><p>Gremio	vs	Joinville</p>	</td>
				<td><p> 1</p></td>
				<td> <p> 1.45</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/IRPdWIb6/#match-summary" target="_blank">2 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  16.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Brazil.png" class="attachment-thumbnail" alt="Brazil Tip1x2"> </td>
				<td>  	<p> Fluminense	vs	Figueirense</p> 	</td>
					<td> <p> 1</p></td>
					<td> <p> 1.70</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/pERlYvUg/#match-summary" target="_blank">2 : 1 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  16.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Denmark.png" class="attachment-thumbnail" alt="Denmark Tip1x2"> </td>
				<td><p> Odense	vs	Randers FC</p></td>
				<td><p> Over 2.5</p></td>
				<td> <p> 2.10</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/OOYvvfA5/#match-summary" target="_blank">2 : 3 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.17 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  15.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Germany.png" class="attachment-thumbnail" alt="Germany Tip1x2"> </td>			
				<td><p>Dortmund	vs	B. Monchengladbach</p>	</td>
				<td><p> Over 2.5</p></td>
				<td> <p> 1.70</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/OQoPMpnQ/#match-summary" target="_blank">4 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/12/win.png" class="attachment-thumbnail" alt="Win Predictions Soccer Tip1x2.tips">  </td>
			</tr> 
			<tr>
				<td><p>  15.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>
				<td>  	<p> Excelsior	vs	AZ Alkmaar</p> 	</td>
					<td> <p> Over 2.5</p></td>
					<td> <p> 1.50</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/rseovA71/#match-summary" target="_blank">2 : 2 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  15.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Austria.png" class="attachment-thumbnail" alt="Austria Tip1x2"> </td>
				<td><p> Austria Vienna	vs	Mattersburg</p></td>
				<td><p> 1</p></td>
				<td> <p> 1.50</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/YV1tNlM7/#match-summary" target="_blank">5 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
			<tr>
				<td><p>  15.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Brazil.png" class="attachment-thumbnail" alt="Brazil Tip1x2"> 
				</td>
				<td><p> Nautico	vs	Bragantino</p></td>
				<td> <p> 1</p></td>
				<td> <p> 1.65</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/6HV7DEMl/#match-summary" target="_blank">3 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 6.31 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2"> 
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  14.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/England1.png" class="attachment-thumbnail" alt="England Tip1x2"> </td>			
				<td><p>Aston Villa	vs	Manchester United</p>	</td>
				<td><p> 2</p></td>
				<td> <p> 1.70</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/QgOXPGxF/#match-summary" target="_blank">0 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  14.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Germany.png" class="attachment-thumbnail" alt="Germany Tip1x2"> </td>
				<td>  	<p> Bayern Munich	vs	Hamburger SV</p> 	</td>
					<td> <p> Over 3.5</p></td>
					<td> <p> 1.85</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/pzmLNQWJ/#match-summary" target="_blank">5 : 0 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick1.png" class="attachment-thumbnail" alt="Win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  14.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>
				<td><p> Vitesse	vs	Roda</p></td>
				<td><p> GG</p></td>
				<td> <p> 1.70</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/jqG6ohFR/#match-summary" target="_blank">3 : 0 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost.png" class="attachment-thumbnail" alt="lost">  
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td> 
				</td>
				<td><p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank">Odd 5.34 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost.png" class="attachment-thumbnail" alt="lost"> 	
				</td>
			</tr> 
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
					
			<tr>
				<th>Date</th>
				<th>Soccer League</th>
				<th>Match</th>
				<th>Tips</th>
				<th>Odd</th>
				<th>Game Results</th>
			</tr>			
			
			<tr>
				<td>
					<p>  12.08.2015</p>
				</td>				
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>			
				<td><p>Zwolle	vs	Cambuur</p>	</td>
				<td><p> 1</p></td>
				<td> <p> 1.90</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/zeG2Thgq/#match-summary" target="_blank">2 : 2 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/lost1.png" class="attachment-thumbnail" alt="lost">  </td>
			</tr> 
			<tr>
				<td><p>  12.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Netherlands.png" class="attachment-thumbnail" alt="Netherlands | Tip1x2"> </td>
				<td>  	<p> Nijmegen	vs	Excelsior</p> 	</td>
					<td> <p> 1</p></td>
					<td> <p> 1.85</p></td>
					<td> <a id="link1" href="http://www.flashscore.com/match/0fNglfV8/#match-summary" target="_blank">1 : 0 </a> 
					<img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/win.png" class="attachment-thumbnail" alt="win Tip1x2">  </td>
			</tr> 
			<tr>
				<td><p>  12.08.2015</p></td>
				<td><img width="26" height="16" src="http://tip1x2.tips/wp-content/uploads/2014/11/Brazil.png" class="attachment-thumbnail" alt="Brazil Tip1x2"> </td>
				<td><p> Botafogo RJ	vs	ABC</p></td>
				<td><p> 1</p></td>
				<td> <p> 1.55</p></td>
				<td> <a id="link1" href="http://www.flashscore.com/match/6Darxwrh/#match-summary" target="_blank">3 : 1 </a> <img width="14" height="14" src="http://tip1x2.tips/wp-content/uploads/2014/11/green-tick.png" class="attachment-thumbnail" alt="Win Tip1x2">  
				</td>
			</tr> 
						
			<tr>
				<td><p>  </p></td>
				<td>			</td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <p> </p></td>
				<td> <a id="link1" href="" target="_blank"> </a>  
				</td>
			</tr> 
				 

		</tbody>
		</table>    
			<a class="more1" href="#Ticket-Archive">Total performance</a>			
		</div>	
		
	</div>
    </div>    
  </div>
</center>

</body>
</html>
