﻿<table style="text-align:center;padding-left:5px; width:auto;margin:auto">
    <tr style="vertical-align:middle">
       <td>
           <table cellpadding="0" cellspacing="0" >
                <tr>
                    <td rowspan="2" ><img border="0" src="../../images/skype.jpg" alt="Skype support" title="Aquila Skype support"/></td>                
                    <td style="padding-right:30px;padding-left:30px;"><a href="skype:aquila.booking?chat" title="Aquila Skype Support 1"><strong>Support 1</strong></a></td>                
                    <td style="padding-right:30px;padding-left:30px"><a href="skype:aquila.booking1?chat" title="Aquila Skype Support 2"><strong>Support 2</strong></a></td>
                </tr>           
                <tr>                                                                                                     
                    <td style="padding-right:30px;padding-left:30px"><a href="skype:aquila.booking2?chat" title="Aquila Skype Support 3"><strong>Support 3</strong></a></td>                
                    <td style="padding-right:30px;padding-left:30px"><a href="skype:aquila.booking4?chat" title="Aquila Skype Support 4"><strong>Support 4</strong></a></td>
                </tr>       
            </table>
      </td>
    </tr>
    <tr style="vertical-align:middle">
       <td>
           <table cellpadding="0" cellspacing="0" >
                <tr>
                    <td rowspan="2" > <img border="0" src="../../images/yahoo_icon1.png" alt="Aquila Yahoo support" title="Aquila Yahoo support"/></td>                
                    <td style="padding-right:30px;padding-left:30px"><a href="ymsgr:SendIM?thoapk77" ><img border="0" src="http://opi.yahoo.com/online?u=thoapk77&m=g&t=1" alt="Aquila Yahoo support 1" title="Aquila Yahoo support 1"></a></td>                
                    <td style="padding-right:30px;padding-left:30px"><a href="ymsgr:SendIM?thoapk77"><img border="0" src="http://opi.yahoo.com/online?u=thoapk77&m=g&t=1" alt="Aquila Yahoo support 2" title="Aquila Yahoo support 2"></a></td>
                </tr>           
                <tr>                
                    <td style="padding-right:30px;padding-left:30px"><a href="ymsgr:SendIM?thoapk77"><img border="0" src="http://opi.yahoo.com/online?u=thoapk77&m=g&t=1" alt="Aquila Yahoo support 3" title="Aquila Yahoo support 3"></a></td>                
                    <td style="padding-right:30px;padding-left:30px"><a href="ymsgr:SendIM?thoapk77"><img border="0" src="http://opi.yahoo.com/online?u=thoapk77&m=g&t=1" alt="Aquila Yahoo support 4" title="Aquila Yahoo support 4"></a></td>
                </tr>       
            </table>
      </td>
    </tr> 
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" >
                <tr>
                    <td rowspan="2" > <img border="0" src="../../images/phone_icon.png" alt="Aquila phone support" title="Aquila phone support" /></td>                
                    <td style="padding-right:30px;padding-left:30px" title="Aquila phone support:08.3602.7684"><strong>08.3602.7684</strong></td>                
                    <td style="padding-right:30px;padding-left:8px" title="Aquila phone support:08.3602.7685"><strong>08.3602.7685</strong></td>
                </tr>           
                <tr>                
                    <td style="padding-right:30px;padding-left:30px" title="Aquila hotine 1:094.909.0818"><strong>094.909.0818</strong></td>                
                    <td style="padding-right:30px;padding-left:8px" title="Aquila hotline 2:090.251.4439"><strong>090.251.4439</strong></td>
                </tr>       
            </table>
        </td> 
    </tr>
</table>
