<ul class="menu-left box-box">
    <li><a href="ymsgr:SendIM?thoapk77" ><strong>08.3602.7684</strong></a><a href="ymsgr:SendIM?thoapk77" ><strong>08.3602.7685</strong></a></li>
    <li><a href="skype:aquila.booking?chat" title="Aquila Skype Support 1"><strong>Skype support 1</strong></a><a href="skype:aquila.booking1?chat" title="Aquila Skype Support 2"><strong>Skype Support 2</strong></a></li>
    <li><a href="skype:aquila.booking2?chat" title="Aquila Skype Support 3"><strong>Skype Support 3</strong></a><a href="skype:aquila.booking3?chat" title="Aquila Skype Support 4"><strong>Skype Support 4</strong></a></li>
    <li><a href="ymsgr:SendIM?thoapk77" ><strong>Yahoo support 1</strong></a><a href="ymsgr:SendIM?thoapk77" ><strong>Yahoo support 2</strong></a></li>
    <li><a href="ymsgr:SendIM?thoapk77" ><strong>Yahoo support 3</strong></a><a href="ymsgr:SendIM?thoapk77" ><strong>Yahoo support 4</strong></a></li>
</ul>
<div class="hinh-pro">	
    <img src="../../images/hinh3.jpg" />
</div>