
		   <div id="example1">
			  <div class="effectContainer">
			  
				<div class="slide r1">
				<img src="../../images/hinh.jpg" />
				</div><!--slide-->
				<div class="slide r1">
				<img src="../../images/hinh1.jpg" />
				</div><!--slide-->
			  </div>
			</div>