<li class="MainItem">Giao dịch
    <ul id="left-nav" >
		    <li class="FirstItem">@Html.ActionLink("Tìm kiếm", "Index", "TradingTransaction")</li>
		    <li class="SubItem">@Html.ActionLink("Chi tiết sổ cổ đông", "CurrentBalance", "TradingTransaction")</li>			
		    <li class="SubItem">@Html.ActionLink("Thống kê số dư", "SummaryCurrentBalance", "TradingTransaction")</li>
		    <li class="LastItem">&nbsp;</li>
    </ul>
 </li>