

/*BEAR*/
#dk_container_mama_bear {

}

#dk_container_papa_bear {
	font-size: 40px;
	margin: 0 0 0 2em;
}




/* === DROPKICK CSS === */
/* One container to bind them... */
.dk_container {
	margin-right:10px;
}

.dk_container:focus {
	outline: 0;
}

.dk_container a {
	cursor: pointer;
	text-decoration: none;
}

/* Opens the dropdown and holds the menu label */
.dk_toggle {							/*changed to ems*/
	background:url(../images/select.jpg) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 26px;
    width: 66px;
	text-align:left;
	color: #000;
    font-size: 14px;
}
.dk_toggle span {
	display:block;
	margin-top:5px;
	margin-left:5px;
}

.dk_toggle:after {
	color: #000;
	font-size: 1em;						/*changed to ems*/				/*exactly the same as the parent - so everything aligns vertically*/
	text-shadow: 0 0 .05em #222427;		/*changed to ems*/
	float: right;
	/*changed to ems*/
	/*margin-top: 4px;					won't need this, we've specified the lineheight for vertical aligning*/
}

/* Applied whenever the dropdown is open */
.dk_open {
z-index: 10;
}

.dk_open .dk_toggle {
	background:url(../images/select.jpg) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 26px;
    width: 66px;
	text-align:left;
	color: #000;
    font-size: 14px;
}

.dk_open .dk_toggle:after {
	/*I've removed a load of styles here, as they're all inherited from .dk_toggle:after */
	color: #000;	
	text-shadow: 0 0 .05em #272a2c;		/*changed to ems*/
}

/* The outer container of the options */
.dk_options {
		font-weight:bold;
		font-size:14px;				/*changed to ems*/
}

.dk_options a {
	padding:5px;
		/*added this instead of the padding top/bottom. we can now calculate it exactly */
	
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dk_options li:hover {
	background:#cfddef;
}

.dk_options li {
	border-bottom: 1px solid #81AAB5;
    color: #000;
	background:#DFE8F6 ;
	text-align:left;
	font-size:15px;
	padding-left:0px;
	margin-bottom:0px;
}

.dk_options li:first-child {
	display: none;
}

.dk_options #divider {
	width: 90%;							/*flexible value - leave as it is!*/
	height: .1em;						/*rounded to a neat ems value*/		
	margin: auto;

}

.dk_options li:last-child #divider {
	display: none;
}

.dk_options a:hover,.dk_option_current a {
	color: #000;
	text-decoration: none;
}

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
	border:1px solid #81aab5;
	border-top:0px;
	color: #000;
	border-radius: 0 0 .4em .4em;		/*change to ems*/
}

/* Set a max-height on the options inner */
.dk_options_inner,.dk_touch .dk_options {
	/*max-height: 250px;	
				not sure why?*/
}

/******  End Theme ******/
/***** Critical to the continued enjoyment of working dropdowns ******/
.dk_container {
	display: none;
	float: left;
	position: relative;
}

.dk_container a {
	/*width: auto!important;		I don't like using !important, but this needs to override a fixed pixel width which is added inline by the dropkick script - or comment out line 116 in the js*/
	outline: 0;
	color: #000;
}

.dk_toggle {
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	position: relative;
	zoom: 1;
}

.dk_open {
	position: relative;
}

.dk_open .dk_options {
	display: block;
}

.dk_open .dk_label {
	color: inherit;
}

.dk_options {
	display: none;	/*change to ems*/
	position: absolute;
	left: 0;
	width: 100px;
	top:-1px;
}

.dk_options a,.dk_options a:link,.dk_options a:visited {
	display: block;
}

.dk_options_inner {
	overflow: auto;
	position: relative;
}

.dk_touch .dk_options {
	overflow: hidden;
}

.dk_touch .dk_options_inner {
	max-height: none;
	overflow: visible;
}
#dk_container_select7 .dk_toggle{
	background:url(../images/select-deal.jpg) no-repeat right;
	width:350px;
	height:24px;
}
#dk_container_select7 .dk_toggle span {
	margin:0px;
	margin-left:5px;s
}
#dk_container_select7 .dk_options {
	width:350px;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/