* {
    margin: 0;
    padding: 0;
}
body
{
    background-color:#2F77FD;
    color: #000;
    font-family: 'Lato',Arial;
    font-size: 14px;
	line-height:20px;
}
a {
    color: #1b75bb;
    text-decoration: none;    
}
li {
    list-style: none outside none;
}
img {
    border: 0 none;
}
.clear {
    clear: both;
}
.main {
	width:980px;
	margin:auto;
	margin-top:5px;
	margin-bottom:10px;
}
.header {
	height:85px;
	position:relative;
}
.logo {
	float:left;
}
.right-header {
	float:right;
}
.top-hea {
	float:right;
}
.top-hea a {
	color:#fff;
	margin-left:20px;
	background:url(../images/mui.png) no-repeat right;
	padding-right:30px;
	font-weight:bold;
	display:block;
	float:left;
}
.top-hea  span {
	background:url(../images/mui.png) no-repeat right;
	border-radius:7px 7px;
	padding:5px 10px;
	color:#1870ec;
}
.menu-hea {
	float:right;
	margin-top:15px;
	padding-top:15px;
	border-top:1px solid #ddd;
	
}
.menu-hea li {
	float:left;
	margin-left:20px;
	
	
	
}

.menu-hea li a {
	color:#fff;
	background: none repeat scroll 0 0 #1B75BB;
    border: 0 none;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
}

.menu-hea li a:hover{
	color:#fff;
	background: none repeat scroll 0 0 #58A0AF;
    border: 0 none;
    border-radius: 7px 7px 7px 7px;
    /*color: #FFFFFF;*/
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
}

.nav {
	overflow:hidden;
	margin-bottom:10px;
}
.nav li {
	float:left;
	margin-right:20px;
}
.nav li a {
	color:#fff;
}
.box-main {
	margin-bottom:5px;
	min-height:187px;
}
.box-left {
	float:left;
	width:500px;
	margin-right:5px;
}
.box-right {
	float:right;
	width:475px;
}
.box {
	border-radius:10px 10px;
	background:#fff;
	border:1px solid #d4e3f1;
	-moz-box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px#333;
	box-shadow: 0 0 5px #333;
	margin-bottom:5px;
}
.box .title {

	padding:10px;
	color:#1870ec;
	font-size:18px;
	background:url(../images/bg-title.png) repeat-x bottom;
}

.box .title2 {
	padding:0px;
	color:#1870ec;
	font-size:18px;
	background:url(../images/bg-title.png) repeat-x bottom;
}

.box .text {
	padding:4.5px;
	margin-top:1px;
}
.search input {
	border:1px solid #5295ca; 
	border-radius:7px 7px;
	height:25px;
	width:265px;
	color:#1B75BB;
	font-weight:bold;
	margin-right:7px;
	padding-left:5px;
}



.search p {
	height:32px;
}
.search label {
	float:left;
	font-size:14px;
	margin-right:20px;
	display:block;
	width:65px;
}
.search button {
	background:#1b75bb;
	border-radius:7px 7px;
	border:0px;
	padding:5px 10px;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	width:70px;
}

#buttonsubmit {
	background: url(../images/find.png) no-repeat;
     display: block;
     width: 70px;
     height: 38px;
     
     margin-top:10px;
     
     text-indent: -9999px; 
}
.submitbutton {
	background: none repeat scroll 0 0 #1B75BB;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    padding: 3px 10px;
	
	float:left;
     
}

.slider {
	background:#fff;
	padding:5px;
	height:136px;
	border-radius:7px 7px;
	margin-top:42px;
}
.slide {
	width:100%;
}
.slider img  {
	width:100%;
	border-radius:10px 10px;
	height:135px;
}
.effectContainer{
	height:137px;
}
.fadenav {
	overflow:hidden;
	position:absolute;
	z-index:10000;
	right:20px;
	bottom:10px;
}
.fadenav a {
	background:#f9e708;
	width:10px;
	height:10px;
	border-radius:20px;
	display:block;
	float:left;
	margin-right:5px;
}
.fadenav a.current {
	background:#f90308;
}
.travel-main {
	overflow:hidden;
}
.travel-left {
	float:left;
	width:700px;
}
.travel-right {
	float:right;
	width:230px;
}
.travel-right a {
	color:White;
}
.travel-left img {
	float:left;
	width:200px;
	margin-right:10px;
}
.travel-right {
	line-height:30px;
	border-left:1px solid #ccc;
	padding-left:20px;
}
.cols span {
	padding:3px;
	background:#1b75bb;
	border-radius:5px 5px;
	color:#fff;
}
.cols label {
	width:130px;
	display:inline-block;
}
h3 {
	color:#1870EC;
}
.line-chay {
	overflow:hidden;
}
.line-chay li {
	float:left;
	text-align:center;
	margin-left:10px;
}
.line-chay li img {
	width:228px;
	height:220px;
	border-radius:10px 10px;
	display:block;
	margin-bottom:5px;
} 


.footer {
	overflow:hidden;
	color:#1b75bb;
	background:#fff;
	border-radius:10px 10px;
	padding:10px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px#000;
	box-shadow: 0 0 5px #000;
}
.footer li {
	float:left;
}
.footer li a {
	color:#1b75bb;
	display:block;
	width:auto;
	margin-left:10px;
}
.footer li.addres {
	border-left:1px solid #1b75bb;
	padding-left:10px;
}
.box-social {
	position:absolute;
	right:0px;
	bottom:-25px;
}
.box-fac {
	overflow:hidden;

}
.box-fac a {
	background-image:url(../images/like.png);
	display:block;
	float:left;
}
.twter {
	background-position:0px -24px;
	width:27px;
	height:25px;
}
.face {
	background-position:-27px -50px;
	width:27px;
	height:25px;
}
.like {
	background-position:-63px -50px;
	width:45px;
	height:25px;
	margin-left:10px;
}
.mail {
	background-position:-110px -50px;
	width:37px;
	height:25px;
	margin-left:10px;
	margin-right:5px;
}
.box-like {
	background:#b7d6f5;
	border:1px solid #97bbfd;
	padding:3px;
	margin-top:3px;
}
.cols-la {
	padding:10px;
	line-height:30px;
}
.cols-la label {
	width:auto;
	margin-right:30px;
}
.box-de {
	overflow:hidden;
	padding:10px;
	color:#1B75BB;
	line-height:25px;
}
.box-de img {
	width:40%;
	margin-right:10px;
	float:left;
}
.read-more {
	background: none repeat scroll 0 0 #1B75BB;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    padding: 3px 10px;
	display:block;
	float:right;
}
.hot-deal {
	background:url(../images/HalongBayVietnam.jpg) no-repeat bottom;
	height:545px;
}
.deal-phan {
	line-height:30px;
	color:White;
	width:350px;
	margin:auto;
	font-weight:bold;
}
.line {
	border-bottom:1px solid #0d00df;
	margin-bottom:10px;
	margin-top:10px;
}

.left {
	overflow:hidden;
	width:320px;
	float:left;
}
.but-search {
	float:right;
	margin-right:10px;
	margin-top:10px;
}
.box-box {
	padding:10px;
}
.menu-left li {
	margin-bottom:7px;
	overflow:hidden;
}
.menu-left li a {
	color:#;
	padding-left:20px;
	background:url(../images/bg-menu-left.jpg) no-repeat 0px 3px;
}
.menu-left li a.botton {
	background: none repeat scroll 0 0 #1B75BB;
    border: 0 none;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
	float:right;
}
.hinh-pro {
	padding:10px;
}
.hinh-pro img {
	width:100%;
	border-radius:10px 10px;
	margin-top:30px;
}
.right {
	float:right;
	width:655px;
}
.review {
	font-size:14px;
	color:#f16522;
	float:right;
	font-weight:bold;
}
/*.line-review  li img{ 
	width:148px;
	height:140px;
} */

.line-review  li img{ 
	width:95px;
	height:95px;
}
.table-re {
	width:100%;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	margin-bottom:10px;
}
.table-re th{
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.table-re td{
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:5px;
	text-align:center;
}
.img-bo {
	width:150px;
	border-radius:10px 10px;
	display:inline-block;
}
.box-check {
	border:1px solid #1e75f5;
	border-radius:0px 0px 10px 10px;
}
.title-check {
	background:url(../images/cac-dd.jpg) repeat-x;
	height:30px;
	line-height:30px;
	color:#fff;
	font-weight:bold;
	padding-left:10px;
	overflow:hidden;
}
.title-check img {
	float:right;
}
.table-tngh {
	padding:10px;
	width:100%;
	background:#f5f5f5;
}
.table-tngh td.check {
	background:url(../images/co.jpg) no-repeat;
	padding-left:30px;
}
.table-tngh td.no {
	background:url(../images/khong.jpg) no-repeat;
	padding-left:30px;
}
.hea-kh .right-header {
	position:relative;
	top:-10px;
}
.hea-kh .box-social {
	bottom:-25px;
}
.pricing{
    border-right: 1px solid #3870f3;
    border-top: 1px solid #3870f3;
    margin-bottom: 10px;
    width: 100%;
}
.pricing td {
    border-bottom: 1px solid #3870f3;
    border-left: 1px solid #3870f3;
    padding: 10px;
    text-align: center;
}
.pricing th {
    border-bottom: 1px solid #3870f3;
    border-left: 1px solid #3870f3;
    padding: 10px;
    text-align: center;
}
.box-pha {
	padding:20px;
	background:#f5f5f5;
}
.main-step {
	min-height:181px;
}
.step {
	width:100%;
	
	border:1px solid #5295ca;
	border-radius:10px 10px;
	margin-right:5px;
	margin-bottom:5px;
	text-align:center;
}
.step1 {
	width:100%;
	overflow:scroll;
	height:210px;
	border:1px solid #5295ca;
	border-radius:10px 10px;
	margin-right:5px;
	margin-bottom:5px;
}
.menu-list li {
	margin-bottom:10px;
	color:#1B75BB;
	background:url(../images/bg-menu-left.jpg) no-repeat 0px 5px;
	padding-left:20px;
}
.table-step {
	width:100%;
	color:#1870EC;
}
.table-step h3 {
	text-decoration:underline;
	margin-bottom:10px;
}
.table-step td {
	line-height:30px;
	vertical-align:top;
}
.box-chi {
	border:1px solid #5295ca;
	border-radius:10px 10px;
	padding:20px;
}
.box-cart {
	border:1px solid #5295ca;
	border-radius:10px 10px;
	padding:20px;
	background-color:White;	
	margin-bottom:5px;
}
.box-cart table tr th {
	background-color:#3870f3;	
	color:White;	
}
.botton {
	background: none repeat scroll 0 0 #1B75BB;
    border: 0 none;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
	float:right;
}
.botton-book {
	background: none repeat scroll 0 0 #1B75BB;
    border: 0 none;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
	float:right;
}
.title-step {
	border-bottom:1px solid #5295ca;
	margin-bottom:10px;
}
.form-pay {
	margin-top:10px;
}
.form-pay td {
	padding-right:30px;
	padding-bottom:5px;
}
.form-pay input,select{
	background:url(../images/bg-in.jpg) repeat;
	height:25px;
	width:350px;
	border:1px solid #ccc;
}
.form-pay textarea {
	width:350px;
	height:100px;
}
.tt-thanh {
	overflow:hidden;
	margin-top:20px;
margin-bottom:20px;
}
.table-xac {
	width:450px;
	float:left;
	padding:10px;
	border:1px solid #5295ca;
	margin-top:10px;
}
.table-xac td {
	padding:3px;
}
.nhap-ma {
	float:right;
	width:462px;
	
}
.thanhtoan {
	width:193px;
	height:43px;
	line-height:43px;
	text-align:center;
	border:0px;
	cursor:pointer;
	color:#fff;
	font-size:20px;
	background:#0032df;
	border-radius:10px 10px;
}
.kiem-check {
	overflow:hidden;
	float:right;
}
.kiem-check span {
	margin-right:20px;
}
.co {
	display:block;
	float:left;
	color:#FFFFFF;
	background:url(../images/co.png) no-repeat 0px 3px ;
	padding-left:25px;
}
.khong {
	display:block;
	float:left;
	color:#FFFFFF;
	background:url(../images/khong-1.png) no-repeat 0px 10px ;
	padding-left:20px;
}
.box-km {
	background:#0032df;
	padding:10px;
	overflow:hidden;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	line-height:35px;
}
.box-km p {
	float:left;
	margin-right:20px;
}
.box-km span {
	font-size:30px;
}
.box-km input {
	border-radius:7px 7px;
	height:30px;
	width:350px;
	display:block;
	border:0px;
	margin-bottom:5px;
}
.box-km button {
	color:#FFFFFF;
	font-size:18px;
	background:none;
	border:0px;
	cursor:pointer;
}
.line-km {
	border-left:1px solid #fff;
	padding-left:15px;
}

.dateoption 
{
    background: url(../images/bg_textbox_03.jpg) repeat-x; 
    height:26px !important; border-radius:3px !important; 
    width:60px !important;
     line-height:26px !important;
      border:solid 1px #909090 !important;
       margin-top:5px !important;
       float: none  !important;
}
.defaultOption 
{
    background: url(../images/bg_textbox_03.jpg) repeat-x; 
    height:26px !important; border-radius:3px !important; 
    
     line-height:26px !important;
      border:solid 1px #909090 !important;
       margin-top:5px !important;
       float: none  !important;
}
.monthoption
{
	background: url(../images/bg_textbox_03.jpg) repeat-x !important;
	 height:26px !important;
	  line-height:26px !important;
	   border-radius:3px !important; 
	   width:120px !important; 
	   border:solid 1px #909090 !important;
	    margin-left:5px !important;
	    margin-top:5px !important;
	    float: none !important;
}

.hotdealoption
{
	background: url(../images/bg_textbox_03.jpg) repeat-x !important;
	 height:26px !important;
	  line-height:26px !important;
	   border-radius:3px !important; 
	   width:250px !important; 
	   border:solid 1px #909090 !important;
	    margin-left:5px !important;
	    margin-top:5px !important;
	    float: none !important;
}

.page
{
	color: White;
	font-size:13px;
}

.logon
{    
    background-color:White;
    overflow:hidden;
    border-radius:10px 10px;
    margin-bottom:5px;
    width:100%;
}

.staticText
{    
    background-color:White;
    overflow:hidden;
    border-radius:10px 10px;
    margin-bottom:5px;
    margin-top:5px;
    width:99%;
    padding-top:20px;
    padding-left:10px;
    padding-bottom:20px;
}

.staticText p
{    
	margin-top:5px;
	margin-left: 10px;	
	text-align:justify;
	padding-right:20px
}

.staticTextLevel2
{    
	margin-top:5px;
	margin-left: 15px;
	
}

.staticTextul li
{    
    list-style:circle url(../images/khong-1.png) !important;
	margin-left: 55px;
	text-align:justify;
	margin-right:20px;
}

.logon fieldset
{
    border:none;   
    
}
.logon fieldset table 
{
    padding:10px;
    margin:5px;
}
.logon fieldset table td
{
    padding:2px;
    margin:5px;
    text-align:left;
}
.logon fieldset table tr td input
{
    border:1px solid #5295ca;
    border-radius:5px;
    height:22px;
}
.content {

    overflow:hidden;
    border-radius:10px 10px;
    margin-bottom:5px;
    width:100%;
}
.contentLogin {
	 background-color:White;
    overflow:hidden;
    border-radius:10px 10px;
    margin-bottom:5px;
    width:100%;
}
.contentLogin fieldset
{
    border:none;   
}

.contentLogin fieldset table
{
     padding:10px;
        margin:5px;
}

.contentLogin fieldset table td
{
    padding:2px;
    margin:5px;
    text-align:left;
}
.contentLogin fieldset table tr td input
{
    border:1px solid #5295ca;
    border-radius:5px;
    height:22px;
}

.menuleft {
	 background-color:White;
    overflow:hidden;
    border-radius:10px 10px;
    margin-bottom:5px;
    width:100%;
}
.menuleft table
{
     padding:10px 10px 0px 10px;
     
        margin:5px;
}

.menuleft table td
{
    padding:2px;
    margin:5px;
    text-align:left;
}
.menuleft table tr td input
{
    border:1px solid #5295ca;
    border-radius:5px;
    height:22px;
}
.Rememberme
{
    margin-left:15px;
}
.buttonwrapper
{
    margin:5px 0px 15px 15px;
}

.searchAirTicket input {
	border:1px solid #5295ca; 
	border-radius:7px 7px;
	height:25px;
	width:150px;
	color:#1B75BB;
	font-weight:bold;
	margin-right:7px;
	padding-left:5px;
}

.searchAirTicket p {
	height:32px;
}
.searchAirTicket label {
	/*float:left;*/
	font-size:14px;
	margin-right:5px;
	/*display:block;*/
	width: auto;
}
.searchAirTicket button {
	background:#1b75bb;
	border-radius:7px 7px;
	border:0px;
	padding:5px 10px;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	width:70px;
}
staticText
.searchAirTicket .normal {
	border:1px solid #5295ca; 
	border-radius:7px 7px;
	height:auto;
	width:auto;
	color:#1B75BB;
	font-weight:bold;
	margin-right:7px;
	padding-left:5px;
}

.searchAirTicket table 
{
}

.searchAirTicket table  tr
{
	height:32px;
}

.top-hea a.langue {
	color:#fff;
	margin-left:15px;
	background:url(../images/mui.png) no-repeat right;
	padding-right:15px;	
	font-weight:bold;
	display:block;
	float:left;   
}
 /*
.top-hea a:hover {
	color:#fff;	
	background:url(../images/mui.png) no-repeat right;
	background-color: #1B75BB;
	padding-right:30px;
	padding-left:15px;
}*/
.top-hea div ul li a.langue1 
{
    color:#fff;
    background-image:url(../images/blank.png) no-repeate right;
    background: #1B75BB;
    margin-left:15px;
    font-size:12px;    
	/*font-weight:bold;*/
	display:block;
	float:left;
	
}

.top-hea div ul li a:hover 
{
    text-decoration: underline; 
}

.top-hea a.cart {
	color:#fff;
	margin-left:20px;
	background:url(../images/cart.png) no-repeat right;
	padding-right:30px;
	font-weight:bold;
	display:block;
	float:left;
}

.top-hea a.login {
	color:#fff;
	margin-left:20px;
	background:url(../images/logon.png) no-repeat right;
	padding-right:30px;
	font-weight:bold;
	display:block;
	float:left;
}

.top-hea a.signup {
	color:#fff;
	margin-left:20px;
	background:url(../images/register.png) no-repeat right;
	padding-right:30px;
	font-weight:bold;
	display:block;
	float:left;
}

.top-hea a.logout {
	color:#fff;
	margin-left:20px;
	background:url(../images/logout.png) no-repeat right;
	padding-right:30px;
	font-weight:bold;
	display:block;
	float:left;
}

.hot-deal-airticket {
	background:url(../images/AirTicket-bg.jpg) no-repeat bottom;
	height:470px;
}
.deal-phan-airticket {
	line-height:30px;
	color:White;
	width:350px;
	margin:auto;
	font-weight:bold;
}

.widthFull 
{
		margin-bottom:7px;
		padding:0px;
		font-size:11px;
		font-weight:bold;
		color:#C5E2F2;
}

.widthFull a
{
	text-decoration:none;
	color:#C5E2F2;
}

.languageBox
{
    width:120px;
    font-size:medium;
    clear:left;
    z-index:2;
    float:right; 
    display:none;
    position:fixed;
    top: 0px; left: 0px; 
    background-color:#1B75BB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pagingForDestinationSearchResult
{
    text-align:center;
    
}
.pagingForDestinationSearchResult table
{
    border: 1;
}
.pagingForDestinationSearchResult table a
{
    
    text-align:center;
    color:Green;
}

/* styles for validation helpers */
.field-validation-error
{
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 10px;
}

.validation-summary-valid
{
    display: none;
}