

/* table */
#mainContent .Table { padding: 3px 0; }
#mainContent .Table table { border-collapse: collapse; width: 96%; }
#mainContent .Table table th, #mainContent .Table table td { text-align: center; }
#mainContent .Table table th {
    background: #fbfbfa url(../images/bg-table-head.gif) repeat-x;
    
    padding: 5px 3px;
    white-space: nowrap;
    color:#6DB4FB;
}
#mainContent .Table table td { font-weight:normal; padding: 10px 3px; }
#mainContent .Table table td.Desc { font-weight: normal; text-align: left; }
#mainContent .Table table td.Desc h3 { font-size: 1em; }
#mainContent .Table table tr.Over td { background: url(../images/bg-table-row.gif) repeat-x left bottom; }
#mainContent .Table table td img { vertical-align: middle}
#mainContent .Table table td .imageHotel { width:73px; height:73px }

#mainContent fieldset .Filter a:hover { color: #09f; }

/* table 
#mainContent .Table table td { border-bottom: #09f solid 1px; }*/


