 .webGrid { font-size: 13px;
                    background-color: #E7F3DD;
                     width: 98%;
                    margin-left:3px;
                    border-collapse: collapse; }
        .header {   height: 20px;
                    background-color: #AAD48A;
                    text-align:center;                    
                     }
        .header th a:link { text-decoration : none;color: #00000C;}           
        .webGrid  tr  { height: 20px;
                           
                            text-align:center;}
        .webGrid tr td {    padding-left: 5px;}
        .alt { background-color: #C5E1AE;  }
        .person { width: 200px; font-weight:bold;}