
<div class="second-left-banner">
<div class="banner-header-white">QUẢNG CÁO</div>
    
        <div class="banner-item1">
        <div class="item-left">
            <a href="/Symbol/item.CompanyID">item.CompanyID<br><span>item.CompanyID</span></a>
        </div>
        <div class="item-right">
            <strong>item.FinishPrice</strong>
            
                <span class="bearish">
                    <br>
                    <span class="top-menu-point">
                        item.Diff (item.DiffRate)
                    </span>
                </span>              
            
            
        </div>
    </div>
    



<div class="banner-item-user-detail">
    <div class="avata-genaral-size">
        <img src="~/img/avatar2.jpg" class="img-rounded" alt="avatar">
    </div>
    <div class="list-item-detail">
        <div class="list-item-username">Tom Truong 1</div>
        <div class="list-item-control">
            <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>
        </div>
    </div>
</div>
<div class="banner-item-user-detail">
    <div class="avata-genaral-size">
        <img src="~/img/avatar2.jpg" class="img-rounded" alt="avatar">
    </div>
    <div class="list-item-detail">
        <div class="list-item-username">Tom Truong</div>
        <div class="list-item-control">
            <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>
        </div>
    </div>
</div>
<div class="banner-item-user-detail">
    <div class="avata-genaral-size">
        <img src="~/img/avatar4.jpg" class="img-rounded" alt="avatar">
    </div>
    <div class="list-item-detail">
        <div class="list-item-username">Tom Truong</div>
        <div class="list-item-control">
            <a class="button" href="#">PhimHang</a>
        </div>
    </div>
</div>
<div class="banner-item-user-detail">
    <div class="avata-genaral-size">
        <img src="~/img/avatar5.jpg" class="img-rounded" alt="avatar">
    </div>
    <div class="list-item-detail">
        <div class="list-item-username">Tom Truong</div>
        <div class="list-item-control">
            <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>
        </div>
    </div>
</div>

    </div>