<div class="cp-banner">
    <div class="cp-top">
        <div class="cp-logo f-left" style="padding-top: 20px;">
            <img src="/img/kindo-logo.jpg" alt="logo" />
        </div>
        <div class="f-right" style="width: 160px;">
            <div style="padding: 5px; text-align: right;">
                <a href="#" class="follow-button1"><i class="fa fa-plus"></i> Theo dõi</a>
            </div>
            <div style="padding-top: 15px;">
                <h2 class="bullish" style="font-weight: normal; font-size: 2.6rem;">90(+2)</h2>
            </div>
        </div>
    </div>
    <div class="cp-detail clear">
        <h2>Vinamilk (VNM - HOSE)</h2>
        <h4>Công ty cổ phần Sữa Việt Nam</h4>
        <div style="margin-top: 5px;">Bài Phím: 99999</div>
        <div>Được theo dõi: 99999</div>
    </div>
</div>
<div class="second-left-banner">
    <div class="banner-header-white">HÀNG NÓNG VỪA XEM</div>
    <div class="banner-item1">
        <div class="item-left">
            <a href="#">$GAS<br><span>PV GAS</span></a>
        </div>
        <div class="item-right">
            <strong>108.66</strong>
            <span class="bearish">
                <i class="fa fa-sort-down"></i><br>
                <span class="top-menu-point">
                    0.35 (0,32%)
                </span>
            </span>
        </div>
    </div>
    <div class="banner-item1">
        <div class="item-left">
            <a href="#">$GAS<br><span>PV GAS</span></a>
        </div>
        <div class="item-right">
            <strong>108.66</strong>
            <span class="bullish">
                <i class="fa fa-sort-up"></i><br>
                <span class="top-menu-point">
                    0.35 (0,32%)
                </span>
            </span>
        </div>
    </div>
    <div class="banner-item1">
        <div class="item-left">
            <a href="#">$GAS<br><span>PV GAS</span></a>
        </div>
        <div class="item-right">
            <strong>108.66</strong>
            <span class="bullish">
                <i class="fa fa-sort-up"></i><br>
                <span class="top-menu-point">
                    0.35 (0,32%)
                </span>
            </span>
        </div>
    </div>
    <div class="banner-item1">
        <div class="item-left">
            <a href="#">$GAS<br><span>PV GAS</span></a>
        </div>
        <div class="item-right">
            <strong>108.66</strong>
            <span class="bullish">
                <i class="fa fa-sort-up"></i><br>
                <span class="top-menu-point">
                    0.35 (0,32%)
                </span>
            </span>
        </div>
    </div>

    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="/img/avatar.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail2">
            <div class="list-item-username">Quân Kun <i class="fa  fa-check-circle">&nbsp;</i></div>
            <div class="pro-user-content">
                <div class="pro-user-content1">Bài phím (99999)</div>
                <div>Được theo dõi (99999)</div>
            </div>
            <a href="#" class="follow-button-mini"><i class="fa fa-plus"></i> Theo dõi</a>
        </div>
    </div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="/img/avatar2.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail2">
            <div class="list-item-username">Kendy Sang <i class="fa  fa-check-circle">&nbsp;</i></div>
            <div class="pro-user-content">
                <div class="pro-user-content1">Bài phím (99999)</div>
                <div>Được theo dõi (99999)</div>
            </div>
            <a href="#" class="follow-button-mini"><i class="fa fa-plus"></i> Theo dõi</a>
        </div>
    </div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="/img/avata3.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail2">
            <div class="list-item-username">Lệ Rơi <i class="fa  fa-check-circle">&nbsp;</i></div>
            <div class="pro-user-content">
                <div class="pro-user-content1">Bài phím (99999)</div>
                <div>Được theo dõi (99999)</div>
            </div>
            <a href="#" class="follow-button-mini"><i class="fa fa-plus"></i> Theo dõi</a>
        </div>
    </div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="/img/avatar4.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail2">
            <div class="list-item-username">Tom Trường <i class="fa  fa-check-circle">&nbsp;</i></div>
            <div class="pro-user-content">
                <div class="pro-user-content1">Bài phím (99999)</div>
                <div>Được theo dõi (99999)</div>
            </div>
            <a href="#" class="follow-button-mini"><i class="fa fa-plus"></i> Theo dõi</a>
        </div>
    </div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="/img/avatar5.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail2">
            <div class="list-item-username">Tuấn Đỗ <i class="fa  fa-check-circle">&nbsp;</i></div>
            <div class="pro-user-content">
                <div class="pro-user-content1">Bài phím (99999)</div>
                <div>Được theo dõi (99999)</div>
            </div>
            <a href="#" class="follow-button-mini"><i class="fa fa-plus"></i> Theo dõi</a>
        </div>
    </div>
</div>
            