<div class="banner-right-first" style="padding: 0px; border-radius: 5px; background-color: #F8F8F8;">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Biểu đồ</a></li>
           @* <li><a href="#tabs-2">Thống kê</a></li>*@
            <li><a href="#tabs-3">Nhận định cổ phiếu</a></li>
        </ul>
        <div id="tabs-1">
            <div class="demo-container">
                <div id="placeholder" class="demo-placeholder"></div>
            </div>
            <div class="button-chart">
                <a href="#" class="button"><span>Chỉ số tài chính</span></a>
            </div>
        </div>
        @*<div id="tabs-2">
            <div class="demo-container">
                <div id="placeholder2" class="demo-placeholder"></div>
            </div>
        </div>*@
        <div id="tabs-3">
            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>            
        </div>
    </div>
</div>
<div class="second-left-banner">
    <div class="banner-header-white">DÂN PHÍM CHUYÊN NGHIỆP</div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="/img/avatar.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail2">
            <div class="list-item-username">Lệ Rơi <i class="fa  fa-check-circle">&nbsp;</i></div>
            <div class="pro-user-content">
                <div class="pro-user-content1">Bài phím (99999)</div>
                <div>Được theo dõi (99999)</div>
            </div>
            <a href="#" class="follow-button-mini"><i class="fa fa-plus"></i> Theo dõi</a>
        </div>
    </div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="/img/avatar2.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail2">
            <div class="list-item-username">Lệ Rơi <i class="fa  fa-check-circle">&nbsp;</i></div>
            <div class="pro-user-content">
                <div class="pro-user-content1">Bài phím (99999)</div>
                <div>Được theo dõi (99999)</div>
            </div>
            <a href="#" class="follow-button-mini"><i class="fa fa-plus"></i> Theo dõi</a>
        </div>
    </div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="/img/avata3.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail2">
            <div class="list-item-username">Lệ Rơi <i class="fa  fa-check-circle">&nbsp;</i></div>
            <div class="pro-user-content">
                <div class="pro-user-content1">Bài phím (99999)</div>
                <div>Được theo dõi (99999)</div>
            </div>
            <a href="#" class="follow-button-mini"><i class="fa fa-plus"></i> Theo dõi</a>
        </div>
    </div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="/img/avatar4.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail2">
            <div class="list-item-username">Lệ Rơi <i class="fa  fa-check-circle">&nbsp;</i></div>
            <div class="pro-user-content">
                <div class="pro-user-content1">Bài phím (99999)</div>
                <div>Được theo dõi (99999)</div>
            </div>
            <a href="#" class="follow-button-mini"><i class="fa fa-plus"></i> Theo dõi</a>
        </div>
    </div>
    <div class="loadmore"><a href="#"><i class="fa  fa-angle-double-down"></i></a></div>
</div>
<div class="banner-info">
    <div>
        <a href="#">Giới thiệu</a>
        <a href="#">Quy định</a>
        <a href="#">Trợ giúp</a>
        <a href="#">Liên hệ</a>
    </div>
    <p>
        Bản quyền thuộc về Công ty TNHH XXXXXXXXXX<br>
        Theo giấy xác nhận cung cấp dịch vụ MXH trực tuyến số: ....
    </p>
</div>
            