@{
    if (User.Identity.IsAuthenticated)
    {
        if (ViewBag.CheckUserExist == "E")
        {
            <!-- End For crop image-->
            <script src="~/ThemeBlue/js/CropImageUser.js"></script>
            <!-- End For crop image-->
        }
    }
}

<img id="CoverImageId" style="top:@ViewBag.CurrentPositionImage" alt="Ảnh bìa" src="@ViewBag.CoverImage?w=1366&mode=crop">
<input class="cover-position" name="pos" value="0" type="hidden">
<div class="uploadStatus">    
</div>
    <div class="covertEdit">
        @{
            if (User.Identity.IsAuthenticated)
            {
                if (ViewBag.CheckUserExist == "E")
                {
                    <a id="SavePositionCover" href="#">Lưu vị trí</a> <!--thực hiện trong file file cropimageuser.js-->
                    <div class="uploadFile">
                        <input onchange="uploadCoverUser(files)" accept="image/*" type="file" id="coverInput" name="coverInput" value="" />
                    </div>
                    <script>
                        function uploadCoverUser(files) {
                            file = files[0];
                            if (file == null) {
                                return;
                            }
                            if (file.size > 5000000) {
                                showNotification('File hình quá lớn, xin vui lòng chọn hình khác?');
                                return;
                            }
                            var ext = file.name.split('.').pop().toLowerCase();
                            if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
                                showNotification('File hình không đúng định dạng!. Chỉ hỗ trợ file hình png, jpg, jpeg');
                                return;
                            }
                            // Add the uploaded image content to the form data collection
                            if (files.length > 0) {
                                var formData = new FormData();
                                formData.append("UploadedImage", file);
                                //upload via ajax
                                $.ajax({
                                    url: '/Account/CoverUpload',
                                    type: 'POST',
                                    data: formData,
                                    cache: false,
                                    contentType: false,
                                    processData: false,
                                    crossDomain: false,
                                    beforeSend: function (xhr) {
                                        $('.uploadStatus').html('<img src="/img/uploading.gif" />');
                                    },
                                    success: function (data) {
                                        if (data === "error") {
                                            showNotification('Có lỗi khi upload ảnh, vui lòng thử lại');                                            
                                            return
                                        }
                                        else {
                                            showNotification('Cập nhật hình cover thành công, có thể kéo ảnh để thay đổi góc nhìn');
                                            $('#CoverImageId').attr("src", data.replace("YES|", "") + "?w=1366&mode=crop");                                            
                                        }
                                        $('.uploadStatus').html('');

                                    },
                                    fail: function () {
                                        showNotification('Có lỗi khi upload ảnh, vui lòng thử lại');                                        
                                        $('.uploadStatus').html('');
                                    }
                                })
                            }
                        }
                        
                    </script>
                }
            }
        }


    </div>
