<div id="page3-tab3" class="banner-right-first">
    <div class="banner-header-white banner-header-white-page3">Được theo dõi</div>
    @{
        foreach (var item in ViewBag.FollowerList as List<PhimHang.Controllers.UserFollowView>)
        {
            <div class="follower-item" tabindex="-1">
                <div class="avata-genaral-size">
                    <img src="@item.Avata?width=50&height=50&mode=crop" class="img-rounded" alt="avatar">
                </div>
                <div class="list-item-detail list-item-custom">
                    @*<div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>*@
                    <div class="list-item-username"><a href="/user/@item.UserName/tab/1">@item.UserName</a></div>
                    <div class="list-item-status-content">@item.Status</div>
                </div>
            </div>
        }
    }



   
</div>

<script>
    $(function () {
        $('.category-tab-active').removeClass('category-tab-active');
        $('#tab-DuocTheoDoi').addClass('category-tab-active');
    });
</script>