@{
    if (User.Identity.IsAuthenticated)
    {
        if (ViewBag.CheckUserExist == "E")
        {
            <!-- End For crop image-->
            <script src="~/ThemeBlue/js/CropImageUser.js"></script>
            <!-- End For crop image-->
        }
    }
}

<img id="CoverImageId" style="top:@ViewBag.CurrentPositionImage" alt="Ảnh bìa" src="@ViewBag.CoverImage?w=1366&mode=crop">
<input class="cover-position" name="pos" value="0" type="hidden">
<div class="uploadStatus">    
</div>
    <div class="covertEdit">
        @{
            if (User.Identity.IsAuthenticated && ViewBag.CheckUserExist == "E")
            {
                <a id="SavePositionCover" href="#">Lưu vị trí</a> <!--thực hiện trong file file cropimageuser.js-->
                <div class="uploadFile">
                    <input onchange="uploadCoverUser(files)" accept="image/*" type="file" id="coverInput" name="coverInput" value="" />
                </div>
                <!--uploadCoverUser(files): action.js-->                
            }
        }


    </div>
