@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container menu">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="#">Top upgrape</a></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
    <div>
        <div class="row enigma_blog_wrapper">
            <div class="col-md-8">

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <u>
                        <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";color:#262626'>Minh h&#7885;a c&#417; ch&#7871; h&#7907;p tác:</span>
                    </u>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";color:#262626'>
                        Khách hàng A s&#7917; d&#7909;ng d&#7883;ch v&#7909; qu&#7843;n
                        lý &#273;&#7847;u t&#432; theo danh m&#7909;c TOP UPGRADE c&#7911;a <b>FIN</b>
                    </span><b>
                        <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";color:#B2B2B2'>AND</span>
                    </b><b>
                        <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#262626'>LIFE</span>
                    </b><span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        . Sau th&#7901;i h&#7841;n h&#7907;p tác cam k&#7871;t, 2 bên
                        s&#7869; cùng tính toán hi&#7879;u qu&#7843; &#273;&#7847;u t&#432; và
                        x&#7843;y ra các tình hu&#7889;ng sau:
                    </span>
                </p>

                <p class=MsoListParagraphCxSpFirst style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        Tình hu&#7889;ng 1: N&#7871;u có
                        l&#7907;i nhu&#7853;n, ph&#7847;n l&#7907;i nhu&#7853;n này
                        &#273;&#432;&#7907;c chia theo t&#7927; l&#7879; 85:15, theo &#273;ó, 85%
                        s&#7869; thu&#7897;c v&#7873; khách hàng, 15% còn l&#7841;i là phí
                        th&#432;&#7903;ng hi&#7879;u qu&#7843; cho nhà qu&#7843;n lý &#273;&#7847;u
                        t&#432;. Ví d&#7909;: <b>FIN</b>
                    </span><b>
                        <span lang=EN-US style='font-size:
13.0pt;line-height:150%;font-family:"Cambria","serif";color:#B2B2B2'>AND</span>
                    </b><b>
                        <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>LIFE</span>
                    </b><span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#262626'>
                        giúp khách hàng
                        A sinh lãi 100 tri&#7879;u &#273;&#7891;ng trong th&#7901;i h&#7841;n
                        &#273;&#7847;u t&#432;. 85 tri&#7879;u &#273;&#7891;ng s&#7869; thu&#7897;c
                        v&#7873; khách hàng A, 15 tri&#7879;u &#273;&#7891;ng còn l&#7841;i là phí
                        th&#432;&#7903;ng hi&#7879;u qu&#7843; cho nhà qu&#7843;n lý &#273;&#7847;u
                        t&#432;.
                    </span>
                </p>

                <p class=MsoListParagraphCxSpLast style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        Tình hu&#7889;ng 2: N&#7871;u
                        kho&#7843;n &#273;&#7847;u t&#432; ghi nh&#7853;n l&#7895;, khách hàng A
                        ch&#7883;u toàn b&#7897; ph&#7847;n l&#7895;.
                    </span>
                </p>

            </div>
            <div class="col-md-4">
                @Html.Partial("~/Views/Shared/_BoxRight.cshtml")
            </div>
        </div>
    </div>
</div>


