@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container menu">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/TOP_UPGRADE">Top upgrape</a></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
    <div>
        <div class="row enigma_blog_wrapper">
            <div class="col-md-8">
                <p class="article">
                    <b>
                        <span>DANH M&#7908;C TOP UPGRADE LÀ GÌ?</span>
                    </b>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";color:#262626'>
                        Danh m&#7909;c g&#7891;m 10 c&#7893; phi&#7871;u,
                        &#273;&#432;&#7907;c thay &#273;&#7893;i &#273;&#7883;nh k&#7923; m&#7895;i
                        quý, theo &#273;ó, nh&#7919;ng c&#7893; phi&#7871;u có m&#7913;c &#273;&#7897;
                        c&#7843;i thi&#7879;n m&#7841;nh m&#7869; nh&#7845;t v&#7873; s&#7843;n
                        xu&#7845;t kinh doanh, tài chính và thanh kho&#7843;n s&#7869;
                        &#273;&#432;&#7907;c n&#7857;m trong danh m&#7909;c.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";color:#262626'>
                        &#272;ây là l&#7883;ch s&#7917; các k&#7923; review danh m&#7909;c
                        TOP UPGRADE c&#7911;a chúng tôi trong quá kh&#7913;.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <img class="img-thumbnail" style="border: solid 1px #e7e7e7 !important;" width=621 height=446 id="Picture 1" src="~/images/image001.jpg">
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <i>
                        <span lang=EN-US style='font-size:12.0pt;line-height:150%;font-family:"Cambria","serif";color:#262626'>
                            T&#7845;t c&#7843; các k&#7923; review này &#273;&#7873;u
                            &#273;&#432;&#7907;c chúng tôi công b&#7889; r&#7897;ng rãi &#273;&#7871;n
                            khách hàng, anh/ch&#7883; quan tâm có th&#7875; t&#7843;i &#273;&#7885;c
                            l&#7841;i trên m&#7909;c GÓC PHÂN TÍCH c&#7911;a
                        </span>
                    </i><span lang=EN-US>
                        <a target="_blank" href="http://www.vfs.com.vn">
                            <i>
                                <span style='font-size:12.0pt;line-height:150%;font-family:"Cambria","serif"'>www.vfs.com.vn</span>
                            </i>
                        </a>
                    </span><i>
                        <span lang=EN-US style='font-size:12.0pt;line-height:150%;font-family:"Cambria","serif";color:#262626'>ho&#7863;c SEARCH trên trang</span>
                    </i>
                    <span lang=EN-US>
                        <a target="_blank" href="http://www.finandlife.com">
                            <i>
                                <span style='font-size:12.0pt;line-height:150%;font-family:"Cambria","serif"'>www.finandlife.com</span>
                            </i>
                        </a>
                    </span><i>
                        <span lang=EN-US style='font-size:12.0pt;line-height:150%;font-family:"Cambria","serif";color:#262626'>.</span>
                    </i>
                </p>
                <div class="push-right">
                    <hr class="blog-sep header-sep">
                </div>
            </div>
            <div class="col-md-4">
                @Html.Partial("~/Views/Shared/_BoxRight.cshtml")
            </div>
        </div>
    </div>
</div>


