
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container menu">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/TOP_UPGRADE">Top upgrape</a></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
    <div>
        <div class="row enigma_blog_wrapper">
            <div class="col-md-8">

                <p class="article">
                    <b>
                        <span>ĐẦU TƯ THEO DANH MỤC TOP UPGRADE</span>
                    </b>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        Nhi&#7873;u nghiên c&#7913;u c&#7911;a môn tài chính hành vi
                        ch&#7881; ra r&#7857;ng&nbsp;<i>
                            “t&#7847;n su&#7845;t giao d&#7883;ch l&#7899;n
                            ch&#7859;ng giúp ích gì cho t&#7927; su&#7845;t sinh lãi trong dài h&#7841;n.”
                        </i>&nbsp;Trong
                        hình th&#7913;c qu&#7843;n lý &#273;&#7847;u t&#432; này, chúng tôi s&#7869;
                        chia s&#7867; m&#7897;t công c&#7909; &#273;&#7847;u t&#432; do chúng tôi
                        nghiên c&#7913;u, mà qua &#273;ó, giúp nhà &#273;&#7847;u t&#432; h&#7841;n
                        ch&#7871; t&#7889;i &#273;a phí giao d&#7883;ch, c&#7843;m xúc chi ph&#7889;i mà
                        t&#7927; su&#7845;t sinh lãi l&#7841;i R&#7844;T CAO.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        Chúng tôi &#273;ã giúp nhi&#7873;u nhà &#273;&#7847;u t&#432;
                        sinh lãi h&#417;n 90 tri&#7879;u &#273;&#7891;ng trên m&#7895;i 100 tri&#7879;u
                        &#273;&#7891;ng &#273;&#7847;u t&#432; ch&#7881; trong ch&#432;a &#273;&#7871;n
                        m&#7897;t n&#259;m r&#432;&#7905;i, ch&#7881; v&#7899;i 4 ngày giao d&#7883;ch
                        m&#7895;i n&#259;m.
                    </span>
                </p>

                <p class=MsoNormal align=center style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;
background:white'>
                    <img width=480 height=288 id="Chart 1" style="border: solid 1px #e7e7e7 !important;"
                         src="/images/hieuquadautu001.png">
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        90 tri&#7879;u trên 100 tri&#7879;u &#273;&#7891;ng v&#7889;n
                        &#273;&#7847;u t&#432;, t&#7927; su&#7845;t sinh lãi 90%. &#272;&#7863;t
                        c&#7841;nh hi&#7879;u su&#7845;t vài % c&#7911;a VNIndex và HNXIndex, hay 8%
                        cho lãi su&#7845;t ti&#7871;t ki&#7879;m k&#7923; h&#7841;n &gt;12 tháng c&#7911;a
                        các ngân hàng thì &#273;ó là con s&#7889;&nbsp;<b>
                            &#272;ÁNG M&#416;
                            &#431;&#7898;C.
                        </b>
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>V&#7899;i nh&#7919;ng &#273;&#7897;c gi&#7843;<b>FIN</b></span><b>
                        <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#B2B2B2'>AND</span>
                    </b><b>
                        <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#262626'>LIFE</span>
                    </b><span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        , danh m&#7909;c TOP UPGRADE không còn xa l&#7841;. Chính các
                        b&#7841;n và khách hàng chúng tôi t&#7841;i Công ty Ch&#7913;ng khoán
                        Nh&#7845;t Vi&#7879;t &#273;ã có nh&#7919;ng ph&#7843;n h&#7891;i r&#7845;t
                        tích c&#7921;c. Nhi&#7873;u ng&#432;&#7901;i &#273;&#7873; ngh&#7883; ph&#7893;
                        bi&#7871;n cách &#273;&#7847;u t&#432; này, &#273;&#7875; chính h&#7885;, gia
                        &#273;ình và b&#7841;n bè có th&#7875; d&#7877; dàng sinh lãi t&#7915;
                        ch&#7913;ng khoán.
                    </span>
                </p>

            </div>
            <div class="col-md-4">
                @Html.Partial("~/Views/Shared/_BoxRight.cshtml")
            </div>
        </div>
    </div>
</div>

