
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container menu">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="#">Top upgrape</a></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
    <div>
        <div class="row enigma_blog_wrapper">
            <div class="col-md-8">

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <b>
                        <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>&#431;u &#273;i&#7875;m c&#7911;a hình th&#7913;c này:</span>
                    </b>
                </p>

                <p class=MsoListParagraphCxSpFirst style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        &#272;&#7847;u t&#432; vào
                        nh&#7919;ng doanh nghi&#7879;p có m&#7913;c &#273;&#7897; th&#259;ng h&#7841;ng
                        m&#7841;nh nh&#7845;t trong m&#7895;i k&#7923; tài chính quý.
                    </span>
                </p>

                <p class=MsoListParagraphCxSpMiddle style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        Các c&#7893; phi&#7871;u
                        &#273;&#432;&#7907;c &#273;&#7897;i ng&#361; phân tích c&#7911;a chúng tôi
                        &#273;ánh giá k&#7929; l&#432;&#7905;ng v&#7873; tri&#7875;n v&#7885;ng trong 3
                        &#273;&#7871;n 6 tháng ti&#7871;p theo, &#432;u tiên c&#7893; phi&#7871;u có
                        nhi&#7873;u dòng tin t&#7889;t s&#7855;p &#273;&#7871;n.
                    </span>
                </p>

                <p class=MsoListParagraphCxSpMiddle style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        T&#7847;n su&#7845;t giao
                        d&#7883;ch th&#7845;p giúp ti&#7871;t ki&#7879;m t&#7889;i &#273;a phí giao
                        d&#7883;ch.
                    </span>
                </p>

                <p class=MsoListParagraphCxSpMiddle style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        Lo&#7841;i b&#7887; y&#7871;u
                        t&#7889; c&#7843;m xúc trong giao d&#7883;ch.
                    </span>
                </p>

                <p class=MsoListParagraphCxSpMiddle style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        Phí qu&#7843;n lý&nbsp;<b>
                            TH&#7844;P
                            NH&#7844;T TH&#7882; TR&#431;&#7900;NG,
                        </b>phí th&#432;&#7903;ng hi&#7879;u
                        qu&#7843;: 15% ph&#7847;n l&#7907;i nhu&#7853;n có &#273;&#432;&#7907;c trong
                        k&#7923;.
                    </span>
                </p>

                <p class=MsoListParagraphCxSpLast style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        Th&#7901;i h&#7841;n h&#7907;p tác
                        &#273;&#7847;u t&#432; ng&#7855;n. Nhà &#273;&#7847;u t&#432; có th&#7875;
                        ch&#7885;n k&#7923; &#273;&#7847;u t&#432; t&#7889;i thi&#7875;u ch&#7881; m&#7897;t
                        (01) quý.
                    </span>
                </p>

            </div>
            <div class="col-md-4">
                @Html.Partial("~/Views/Shared/_BoxRight.cshtml")
            </div>
        </div>
    </div>
</div>



