@using Microsoft.Owin.Security

<h4>Hoặc đăng nhập bằng:</h4>
<hr />
@{
    <fb:login-button show-faces="false" width="200" max-rows="1" onlogin="afterFacebookConnect();"></fb:login-button>
}

<script>
         function afterFacebookConnect() {
             FB.getLoginStatus(function (response) {
                 if (response.status === 'connected') {
                     var uid = response.authResponse.userID;
                     var accessToken = response.authResponse.accessToken;
                     window.location = "/Account/FacebookLogin?token=" + accessToken;                 
                 } else if (response.status === 'not_authorized') {
                     alert('not_authorized');
                 } else {
                     alert('not_authorized');
                 }
             });
         }
    
    </script>
