
@{
    ViewBag.Title = "Thông báo thay đổi mật khẩu" ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="outer-frame">
    <div id="page-content">
        <div id="login-or-register-page-content">            
            <div class="top-sidebar">
                <div class="login-register-container  standard">
                    <div class="login-register-login-part">
                        <div class="clearfix">
                            <div class="login-register-header">Thông báo</div>
                            <div class="login-register-switch">
                                <a href="/Account/Login/?ReturnUrl=@ViewBag.ReturnUrl" class="login-register-switch-link">Đăng nhập</a>
                            </div>
                        </div>
                        <div class="login-form-container  standard">                           
                                <div class="text-input login-text-input standard">
                                    <div class="text-input-error-wrapper"><br />@Html.Raw(@ViewBag.StatusMessage) </div>
                                </div>                                
                               <div class="login-need-help"><a href="/Account/request_password_reset">Quên mật khẩu</a><a style="float:right" href="/">Trang chủ</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>