<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- templatemo 420 ocean -->
    <!-- 
    Ocean Template
    http://www.templatemo.com/preview/templatemo_420_ocean
    -->
    <title>Ocean HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Animate -->
    <link rel="stylesheet" href="css/animate.min.css">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    
    <!-- Normailize Stylesheet -->
    <link rel="stylesheet" href="css/normalize.min.css">

    <!-- Main Styles -->
    <link rel="stylesheet" href="css/templatemo_style.css">

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    

    <div id="responsive-menu">
        <ul class="menu-holder">
            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="#services"><i class="fa fa-cogs"></i>Services</a></li>
            <li><a href="#products"><i class="fa fa-list"></i>Products</a></li>
            <li><a href="#video"><i class="fa fa-list"></i>Video</a></li>
            <li><a href="#contact"><i class="fa fa-envelope"></i>Contact</a></li>
        </ul>
    </div>

    <!-- HEADER -->
   
    
    
    <!-- TOP CONTENT -->
    <div class="top-c">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-lg-5 col-md-5 col-xs-offset-1 col-sm-5 col-xs-8 col-xs-offset-2">
                    <div class="topc-img">
                        <img src="images/slide1.png" alt="">
                    </div>
                </div>
                <div style="color:white; font-weight:bold" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h3 class="topc-title">VFS thông báo</h3>
                    <ul>
                        <h2>Công ty cổ phần chứng khoán Nhất Việt trân trọng thông báo</h2>
                        <li><i class="fa fa-check"></i>Nghỉ giao dịch từ ngày 20-12-2014 đến 30-12-2018</li>
                        <li><i class="fa fa-check"></i>Vestibulum euismod turpis auctor, lobortis quam non, lacinia ligula.</li>
                        <li><i class="fa fa-check"></i>Sed tristique quam in magna euismod, et ullamcorper ipsum tempus.</li>
                        <li><i class="fa fa-check"></i>Nullam dapibus odio nec orci euismod, vitae scelerisque dolor facilisis.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    
    

    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/templatemo_custom.js"></script> 
    
</body>
</html>