 @{                            
     if (HttpContext.Current.Session["comparelistold"] == null || !HttpContext.Current.Session["comparelistold"].ToString().Contains(Session["comparelistnew"].ToString()))
                            {
                                
                                @Ajax.ActionLink(" ", "../CompareList/Add/", null, new { id = Session["comparelistnew"].ToString() },
                                                new AjaxOptions
                                                {
                                                    UpdateTargetId = "ImageAddAjax",                                                    
                                                    InsertionMode = InsertionMode.Replace,
                                                    HttpMethod = "POST",
                                                    Confirm = Resources.UserInterfaceVN.QuestionComparelist,
                                                }, new { id = "ImageRemoveAjax", title = @Resources.UserInterfaceVN.CompareList, style = "background: url('" + Url.Content("~/images/icon.jpg") + "') no-repeat ; float:right; height:31px; width:31px;" })
                                                
                            
                                
                            }
                            else
                            {
                                
                                
                               @* @: <a href="#" class="RemoveAjax"><img alt="" class="ImageRemoveAjax" src="../../images/remove.jpg" style="float:right; width:22px; height:22px" /></a>*@
                                @Ajax.ActionLink(" ", "../CompareList/Remove/", null, new { id = Session["comparelistnew"].ToString() },
                                                new AjaxOptions
                                                {
                                                    UpdateTargetId = "ImageRemoveAjax",
                                                    InsertionMode = InsertionMode.Replace,
                                                    HttpMethod = "POST",
                                                    Confirm = Resources.UserInterfaceVN.QuestionComparelist,
                                                }, new { id = "ImageAddAjax", title = @Resources.UserInterfaceVN.CompareList, style = "background: url('" + Url.Content("~/images/remove.jpg") + "') no-repeat ; float:right; height:31px; width:31px;" })

     
                            }
                            
        
                        }
                        