/* body */
body { color: #333; font: 100% Arial, Helvetica, sans-serif; text-align: center; }

/* reset */
h1, h2, h3, h4, h5,
body, fieldset, blockquote, p,
ul, ul li, ol, ol li, dl, dl dt, dl dd,
fieldset input, fieldset select, fieldset textarea { margin: 0px; padding: 0px; }
ul, ol { list-style: none; }

/* form */
fieldset { border: none; }
fieldset input, fieldset select, fieldset textarea { color: #333; font: normal normal 1em Arial, Helvetica, sans-serif; }

/* hyperlink */
a:link, a:visited { text-decoration: none; }
a img { border: none; }

/* login */
#login {
    background: no-repeat;
    color: #fff;
    font-size: .75em;
    height: 265px;
    margin: 100px auto;
    padding: 20px 0 50px;
    text-align: left;
    width: 330px;
}
#login h1 {
    background: url(../../images/bg-login-title-wrapper.gif) no-repeat right top;
    color: #333;
    font-size: 2em;
    height: 45px;
    right: -12px;
    padding-bottom: 12px;
    padding-right: 12px;
    position: relative;
}
#login h1 span {
    background: url(../../images/bg-login-title.gif) repeat-x;
    display: block;
    float: right;
    line-height: 45px;
    padding: 0 50px 0 20px;
}
#login fieldset { padding: 5px 0; }
#login fieldset div { overflow: hidden; padding: 5px 0; }
* html #login fieldset div { height: 1%; }
#login fieldset div label, #login fieldset input { float: left; padding: 2px; }
#login fieldset label { font-weight: bolder; margin-right: 10px; text-align: right; width: 100px; }
#login fieldset input { margin-right: 5px; width: 170px; }
#login fieldset input.Error { border: #f00 solid 1px; }
#login fieldset .Submit { padding-left: 113px; }
#login fieldset .Submit input { float: none; margin: 0px; width: 178px; }
#login fieldset .Info {
    background-color: #fff;
    color: #333;
    font-size: .9em;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}
#login fieldset .Error {
    background-color: #fff;
    color: #f00;
    font-size: .9em;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}
#login fieldset .Support { margin: 15px 20px 0; padding: 10px; text-align: center; }
#login fieldset .Support a:link, #login fieldset .Support a:visited { color: #fff; font-weight: bolder; margin: 0 2px; }
#login fieldset .Support a:hover { color: #333; }

.submitbutton {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: #1B75BB;
    padding: 3px 10px;
    float: left;
    width: 160px;
    text-align: center;
}