<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="StoxDataEntities" connectionString="metadata=res://*/StoxDB.csdl|res://*/StoxDB.ssdl|res://*/StoxDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=125.234.253.4;initial catalog=StoxData;persist security info=True;user id=sa;password=@password123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StockChart_HieuEntities" connectionString="metadata=res://*/SVR-17DB.csdl|res://*/SVR-17DB.ssdl|res://*/SVR-17DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StockChart_Hieu;persist security info=True;user id=sa;password=@password123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="IntervalMinutes" value="30"/>
    <add key="TimeStart" value="18"/>
  </appSettings>
</configuration>