.NotificationCenter{
    height:55px;
    width: 100%;
    top:0px;
    text-align: center;
    position:fixed;
    background:#e5f2f8;
    color:green;
    overflow:hidden;
    z-index:10003;
    display:none;
}

#textNoti{
   top: 15px;
font-size: 20px;
font-family: arial;
}

.MessegeNofity {
    color: white;
    background: #FA2B42;
    border-radius: 5px;
    padding: 0px 3px 0px 3px;
    left: -10px;
    top: -10px;
}

.StarRedNew > i{
    color: #FF7171;
    font-size: 16px;
}