.NotificationCenter{
    height:55px;
    width: 100%;
    top:0px;
    text-align: center;
    position:fixed;
    background:#e5f2f8;
    color:green;
    overflow:hidden;
    z-index:10003;
    display:none;
}

#textNoti{
   top: 15px;
font-size: 20px;
font-family: arial;
}

.MessegeNofity {
    color: white;
    background: #FA2B42;
    border-radius: 5px;
    padding: 0px 3px 0px 3px;
    left: -10px;
    top: -10px;
}

.StarRedNew > i{
    color: #FF7171;
    font-size: 16px;
}
#Are-dev{
    display:none;
}



@media only screen and (min-width: 150px) and (max-width: 640px) {
    .tabs-left>.nav-tabs {
        float:none !important; 
        border:none;       
        text-align:center;
    }
    .nav-tabs{
       
    }

    #profileli a,#manageli a{

        border:none;
    }
    .user-profile .nav-tabs li.active a {
        color: #fff;
        background-color: #328AC5;
    }
    .form-horizontal .controls textarea {
        width:95% !important;
    }
    #Are-dev{
    display:block;
}
}