/*reponesive with @media only screen and (min-width: 150px) and (max-width: 600px) Iphone*/

@media only screen and (min-width: 150px) and (max-width: 640px) {
    .area-center {
        width: 100%;
        margin: 10px 0px 0px 0px;
    }

    .area-left, .area-right, .filer-bar-item-home, #hotTicker, .avata-comment {
        display: none;
    }

    .filer-bar-item a.active {
        display: block;
        text-align: center;
    }

    .content-main {
        width: 100%;
    }

    .avata-genaral-size {
        height: 45px;
        width: 45px;
        margin: 5px 0px 5px 5px;
    }

    .list-item-status {
        width: 100%;
    }

    .bg-white .list-item-status .list-item-detail {
        width: 80%;
    }

    .list-item-detail {
        margin-left: 0px;
        width: 76%;
    }

    .hidden-xs-button {
        margin-right: 0px;
    }

    .avata-genaral-size img, .avata-comment img {
        width: 70%;
    }

    #top-banner-right {
        /* width: 350px; */
        line-height: 50px;
        width: 73%;
        overflow: hidden;
        height: 50px;
        margin-left: 30px;
        position: fixed;
        left: 2px;
    }

    #search_box_top {
    }

        #search_box_top > input {
            width: 75%;
        }

    #top-banner {
        padding: 0px;
    }

    #top-banner-left {
        position: fixed;
        left: 1px;
    }

    .status-box {
        width: 100%;
        padding: 0px;
    }

    .input-status {
        width: 98%;
        margin: 1% 1% 1% 1%;
    }

    .status-control {
        margin-top: 9px;
        margin-bottom: 9px;
        width: 100%;
    }

    .switch3button {
        margin-left: 26%;
        margin-top: 5px;
    }

    .filer-bar-item {
        display: block;
    }

    .filer-bar {
        text-align: center;
    }

    .area-center-user {
        width: 100%;
    }

    .item-right-trang3-tab2 {
        padding-left: 0px;
    }

    .banner-right-first {
        width: 100% !important;
    }

    .list-item-custom {
        width: 100%;
    }

    .list-item-status-content {
        width: 100%;
    }

    #linklikeFacebook {
        display: none;
    }

    .top-banner-icon {
        display: none;
    }

    .ui-dialog {
        width: 100% !important;
    }
    .imageChartDetail{
        width:100%;
    }    

}


/*reponesive with @media only screen and (min-width: 150px) and (max-width: 600px) IPAD*/

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    #top-center{
	    width:50px;
	    margin-left:8% !important;
    }
    #top-banner-left{
        width:300px;
    }
    #top-banner-right{
        width: 270px;
    }
    
}
@media only screen and (min-width: 1001px) and (max-width: 1024px) {
     #top-center{
	    width:50px;
	    margin-left:20%;
    }
    #top-banner-left{
        width:300px;
    }
    #top-banner-right{
        width: 270px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
     #top-center{
	    width:50px;
	    margin-left:20%;
    }
    #top-banner-left{
        width:300px;
    }
    #top-banner-right{
        width: 270px;
    }
}