<div class="panel panel-warning panal-new">
    <div class="panel-heading">ĐĂNG KÝ TƯ VẤN</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-xs-1">
                    <span class="glyphicon glyphicon-user" style="top: 7px;"></span>
                </div>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="name" placeholder="Họ và tên">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-1">
                    <span class="glyphicon glyphicon-envelope" style="top: 7px;"></span>
                </div>
                <div class="col-xs-10">
                    <input type="email" class="form-control" id="email" placeholder="Email của bạn">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>