<div class="panel panel-warning panal-new">
    <div class="panel-heading">BÁO CÁO NỔI BẬT</div>
    <div class="panel-body">       
        <div class="row">
            <div class="col-xs-1"><span class="glyphicon glyphicon-stats"></span></div>
            <div class="col-xs-10"><span><a href="#"> very level. Victor Hu, global head of Education</a></span></div>
        </div>
        <div class="row">
            <div class="col-xs-1"><span class="glyphicon glyphicon-stats"></span></div>
            <div class="col-xs-10"><span><a href="#"> very level. Victor Hu, global head of Education</a></span></div>
        </div>
        <div class="row">
            <div class="col-xs-1"><span class="glyphicon glyphicon-stats"></span></div>
            <div class="col-xs-10"><span><a href="#"> very level. Victor Hu, global head of Education</a></span></div>
        </div>
        <div class="row">
            <div class="col-xs-1"><span class="glyphicon glyphicon-stats"></span></div>
            <div class="col-xs-10"><span><a href="#"> very level. Victor Hu, global head of Education</a></span></div>
        </div>
        <div class="row">
            <div class="col-xs-1"><span class="glyphicon glyphicon-stats"></span></div>
            <div class="col-xs-10"><span><a href="#"> very level. Victor Hu, global head of Education</a></span></div>
        </div>

    </div>
</div>