<div class="container logo">
    <div class="row" style="">
        <div class="col-xs-4 col-md-4" style="height: 60px">
            <img id="logo" alt="Home" src="~/images/Logo.png" />
        </div>
        <div class="col-xs-8 col-md-8" style="">
            <div class="btn-group button-search">
                <input type="text" class="form-control" id="searchInput">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>
        </div>
    </div>
</div>
