<!--Menu-->

<div class="container menu">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="navbar-title" href="#">Finance And Life</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                @*<li><a href="#home">Kinh tế</a></li>
                    <li><a href="#band">Tài chính</a></li>
                    <li><a href="#tour">Giáo án</a></li>
                    <li><a href="#contact">Bài giảng</a></li>
                    <li><a href="#contact">Đề thi</a></li>*@
                @*<li class="dropdown ">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Chuyên ngành
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Kinh doanh</a></li>
                            <li><a href="#">Kinh tế</a></li>
                            <li><a href="#">Tài chính</a></li>
                        </ul>
                    </li>*@
                @*<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Phổ thông
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Giáo án điện tử</a></li>
                            <li><a href="#">Bài giảng điện tử</a></li>
                            <li><a href="#">Đề thi - kiểm tra</a></li>
                            <li><a href="#">Tư liệu</a></li>
                        </ul>

                    </li>*@
                <li class="active"><a href="#band">CHÚNG TÔI LÀ AI</a></li>
                <li class=""><a href="#band ">QUẢN LÝ ĐẦU TƯ</a></li>
                <li><a href="#band">ĐĂNG KÝ TRỰC TUYẾN</a></li>
                <li class=""><a href="#band ">BLOG</a></li>
                @*<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>*@
            </ul>
            @*<ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>*@
        </div>
    </nav>
</div>
<!--Menu-->