<!--Menu-->

<div class="container menu">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="navbar-title" href="#">Finance And Life</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                @*<li><a href="#home">Kinh tế</a></li>
                    <li><a href="#band">Tài chính</a></li>
                    <li><a href="#tour">Giáo án</a></li>
                    <li><a href="#contact">Bài giảng</a></li>
                    <li><a href="#contact">Đề thi</a></li>*@
                @*<li class="dropdown ">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Chuyên ngành
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Kinh doanh</a></li>
                            <li><a href="#">Kinh tế</a></li>
                            <li><a href="#">Tài chính</a></li>
                        </ul>
                    </li>*@
                @*<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Phổ thông
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Giáo án điện tử</a></li>
                            <li><a href="#">Bài giảng điện tử</a></li>
                            <li><a href="#">Đề thi - kiểm tra</a></li>
                            <li><a href="#">Tư liệu</a></li>
                        </ul>

                    </li>*@
                <li class="" id="whoIAmLi"><a href="#band">CHÚNG TÔI LÀ AI</a></li>
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        QUẢN LÝ ĐẦU TƯ
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu menu-format">
                        <li><a href="/Quan_ly_dau_tu/quan_ly_dau_tu_la_gi">Quản lý đầu tư là gì?</a></li>                        
                        <li><a href="/FUJI_RECORED/chia_se_20_phan_tram_loi_nhuan">Đầu tư theo FUJI RECORED</a></li>
                        <li><a href="/TOP_UPGRADE/danh_muc_top_upgrape">Đầu tư theo danh mục TOP UPGRADE</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        FUJI RECORED
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu menu-format">
                        <li><a href="/FUJI_RECORED/chia_se_20_phan_tram_loi_nhuan">Chia sẻ 20% lợi nhuận</a></li>
                        <li><a href="/FUJI_RECORED/ty_suat_loi_nhuan_hon_10">Tỷ suất lợi nhuận hơn 10%</a></li>
                        <li><a href="/FUJI_RECORED/chia_se_rui_ro_voi_khach">Chia sẻ rủi ro với khách</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        TOP UPGRADE
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu menu-format">
                        <li><a href="/TOP_UPGRADE/danh_muc_top_upgrape">Danh mục TOP UPGRAPE là gì?</a></li>
                        <li><a href="/TOP_UPGRADE/hieu_qua_dau_tu">Hiệu quả đầu tư</a></li>
                        <li><a href="/TOP_UPGRADE/uu_diem">Ưu điểm</a></li>
                        <li><a href="/TOP_UPGRADE/co_che_hop_tac">Cơ chế hợp tác</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        ĐĂNG KÝ TRỰC TUYẾN
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu menu-format">
                        <li><a href="#">Email tự động</a></li>
                        <li><a href="#">Email nhắc nhở</a></li>
                        <li><a href="#">Đăng ký</a></li>
                    </ul>
                </li>
                <li><a target="_blank" href="http://finandlife.com/">BLOG</a></li>
                @*<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>*@
            </ul>
            @*<ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>*@
        </div>
    </nav>
</div>
<!--Menu-->