<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" rel="stylesheet" href="style1.css" />
</head>

<body>
		<div id="wrapper">
		<div id="banner">
			  <form name="frm" action="" method="post">
            		<img src="images/logo.png" width="100" height="90" alt="" />
                <div class="box-border">
	                     <input type="text" size="50" value="" name="txt1" id="txt1" />
	    				  <div id="img">                </div>		 
                    </div>
                    <input type="submit" value="Đăng ký" name="btn2" class="btn1" />
                    <input type="submit" value="Đăng nhập" name="btn1" class="btn2" />
            		        
			  </form>


            </div><!-- end of banner -->
            
            
            <div id="menu-bar">

						      <p>HÀNG NÓNG</p>      		
            				  <ul>
                              			<li> <a href="#"> $BABA</a></li>
                                        <li><a href="#"> $KLDI</a></li>
                                        <li><a href="#"> $GILD</a></li>
                                        <li><a href="#"> $WB</a></li>
                                        <li><a href="#"> $F</a></li>
                                        <li><a href="#"> $JD</a></li>
                                        <li><a href="#"> $VIPS</a></li>
                                        <li><a href="#"> $JCP</a></li>
										<li> <a href="#"> $BABA</a></li>
                                        <li><a href="#"> $KLDI</a></li>
                                        <li><a href="#"> $GILD</a></li>
                                        <li><a href="#"> $WB</a></li>
                                        <li><a href="#"> $F</a></li>
                                        <li><a href="#"> $JD</a></li>
                                        <li><a href="#"> $VIPS</a></li>
										<li><a href="#"> $WB</a></li>
                                        <li><a href="#"> $F</a></li>
                                        <li><a href="#"> $JD</a></li>
                                        <li><a href="#"> $VIPS</a></li>
                                        <li><a href="#"> $JCP</a></li>   			
                                      
								  			
                                                                                
                                        
                              </ul>
								
                                
                            
                            
            </div><!-- end of menu -->
            <div id="clear"></div>
            <div id="iphone">
            		<img src="images/iphone.png" />
                    <div id="iphone-content">
		                    <h1>Hòa cùng nhịp đập <br />
                             thị trường</h1>
                            <p>Khám phá những điều nhà đầu tư đang nói <br /> về cổ phiếu của bạn ngay bây giờ</p>
                            <form action="#" method="post">
                            		<input type="text" size="50" value="    Nhập email của bạn để trải nghiệm" name="txt2" id="txt2" /> <br />
                                    <input type="submit" value="Đăng ký" name="btn3" class="btn3" /> 
                            </form>
                            
                            <div id="anh">
                            <a href="#"> <img src="images/app-store-logo.png" /> </a>
                           <a href="#"><img src="images/Android-app-on-google-play.svg (1).png" /></a>
                            </div>
                    
                    </div>
            </div><!-- end of menu -->
            
            
            </div><!-- end of wrapper -->

</body>
</html>
