<!DOCTYPE html>
<html>
    <head>
        <title>Custom title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/jquery-ui/jquery-ui.css" rel="stylesheet">
        <link href="css/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/jquery/jquery.js"></script>
        <script src="js/jquery/jquery-ui.js"></script>        
    </head>
    <body style="background-color: #91c7e8;">
        <header>
            <div class="navbar">
                <div class="top-panel">                                
                    <div id="logo" class="top-panel-left">
                        <a href="#" style="margin-right: 10px;float: left;">
                            <img src="img/logo.png" alt="null">
                        </a> 
                    </div>
                    <div class="top-panel-right">
                        <ul class="nav navbar-nav pull-right panel-menu">
                            <li class="hidden-xs">
                                <a href="index.html" >
                                    <i class="fa fa-home"></i>                                    
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a href="index.html">
                                    <i class="fa fa-envelope" style="font-size: 22px;"></i>                                    
                                </a>
                            </li>
                            <li class="hidden-xs" style="margin-left: 80px;">
                                <form id="frmSearch">
                                    <span id="search_box_top">                                                       
                                        <input autofocus="" name="q" id="kq" title="Search" autocomplete="off" type="text">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </form>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle account" data-toggle="dropdown">                                
                                    <i class="fa  fa-cog pull-right"></i>
                                </a>
                                <!--                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="http://localhost:8886/Users/view/1">
                                                                        <i class="fa fa-user"></i>
                                                                        <span>Hồ sơ</span>
                                                                    </a>
                                                                </li>                                    
                                                                <li>
                                                                    <a href="http://localhost:8886/login/logout">
                                                                        <i class="fa fa-power-off"></i>
                                                                        <span>Đăng xuất</span>
                                                                    </a>
                                                                </li>
                                                            </ul>-->
                            </li>
                        </ul>
                    </div>                
                </div>   
            </div>
            <div class="menu-top-bar"> 
                <div class="top-menu-2">
                    <ul class="nav navbar-nav top-panel-left2">
                        <li class="hidden-xs">
                            <a href="index.html" class="link-menu-top-active bold">
                                HÀNG NÓNG                                   
                            </a>
                        </li> 
                        <li class="hidden-xs">
                            <a href="index.html">
                                $VNM                                   
                            </a>
                        </li> 
                        <li class="hidden-xs">
                            <a href="index.html">
                                $GAS                                   
                            </a>
                        </li> 
                        <li class="hidden-xs">
                            <a href="index.html">
                                $MSM                                   
                            </a>
                        </li> 
                        <li class="hidden-xs">
                            <a href="index.html">
                                $MSM                                   
                            </a>
                        </li>
                        <li class="hidden-xs">
                            <a href="index.html">
                                $REE                                   
                            </a>
                        </li>
                        <li class="hidden-xs">
                            <a href="index.html">
                                $SSI                                  
                            </a>
                        </li>
                        <li class="hidden-xs">
                            <a href="index.html">
                                $SSI                                  
                            </a>
                        </li>
                        <li class="hidden-xs">
                            <a href="index.html">
                                $SSI                                  
                            </a>
                        </li>
                        <li class="hidden-xs">
                            <a href="index.html">
                                $SSI                                  
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right top-panel-right2">
                        <li class="hidden-xs">
                            <a href="index.html" class="top-menu-2-active">CHỈ SỐ</a>
                        </li> 
                        <li class="hidden-xs">
                            <a href="index.html">
                                VNI
                                <span class="bullish">
                                    <i class="fa  fa-sort-up "></i>
                                    <span class="top-menu-point">
                                        39.81
                                    </span>
                                </span>

                            </a>
                        </li> 
                        <li class="hidden-xs">
                            <a href="index.html">
                                VN30
                                <span class="bearish">
                                    <i class="fa fa-sort-down"></i>
                                    <span class="top-menu-point">
                                        39.81
                                    </span>
                                </span>

                            </a>
                        </li> 
                        <li class="hidden-xs">
                            <a href="index.html">
                                HNI
                                <span class="none-bullish-bearish">
                                    <i class="fa fa-unsorted"></i>
                                    <span class="top-menu-point">
                                        39.81
                                    </span>
                                </span>
                            </a>
                        </li> 
                        <li class="hidden-xs">
                            <a href="index.html">
                                HN30
                                <span class="bullish">
                                    <i class="fa fa-sort-up"></i>
                                    <span class="top-menu-point">
                                        39.81
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header> 
        <div class="content-main">
            <div class="area-left">
                <!--                <div class="bar-login">
                                    <div class="btn-login">LOGIN</div>
                                    <div class="btn-logout">LOGOUT</div>
                                </div>-->
                <div class="user-info">
                    <div class="cover-img">
                        <img src="img/cover.jpg" alt="cover">
                    </div>
                    <div class="user-profile">
                        <div class="user-img">
                            <img src="img/avatar.jpg" alt="cover">
                        </div>
                        <div class="user-name">
                            TOM TRUONG
                            <i class="fa  fa-check-circle">&nbsp;</i>
                        </div>
                    </div>
                    <div class="user-sumary-info">
                        <span>
                            Bài Phím<br>
                            <a href="#">1</a>
                        </span>
                        <span>
                            Theo dõi<br>
                            <a href="#">999</a>
                        </span>
                        <span>
                            Được theo dõi<br>
                            <a href="#">999</a>
                        </span>
                    </div>
                </div>
                <div class="second-left-banner">
                    <div class="banner-header-black">HÀNG NÓNG VỪA XEM</div>
                    <div class="banner-item1">
                        <div class="item-left">
                            <a href="#">$GAS<br><span>PV GAS</span></a>
                        </div>
                        <div class="item-right">
                            <strong>108.66</strong>
                            <span class="bearish">
                                <i class="fa fa-sort-down"></i><br>
                                <span class="top-menu-point">
                                    0.35 (0,32%)
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="banner-item1">
                        <div class="item-left">
                            <a href="#">$GAS<br><span>PV GAS</span></a>
                        </div>
                        <div class="item-right">
                            <strong>108.66</strong>
                            <span class="bullish">
                                <i class="fa fa-sort-up"></i><br>
                                <span class="top-menu-point">
                                    0.35 (0,32%)
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="banner-item1">
                        <div class="item-left">
                            <a href="#">$GAS<br><span>PV GAS</span></a>
                        </div>
                        <div class="item-right">
                            <strong>108.66</strong>
                            <span class="bullish">
                                <i class="fa fa-sort-up"></i><br>
                                <span class="top-menu-point">
                                    0.35 (0,32%)
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="banner-item1">
                        <div class="item-left">
                            <a href="#">$GAS<br><span>PV GAS</span></a>
                        </div>
                        <div class="item-right">
                            <strong>108.66</strong>
                            <span class="bullish">
                                <i class="fa fa-sort-up"></i><br>
                                <span class="top-menu-point">
                                    0.35 (0,32%)
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="banner-item-user-detail">
                        <div class="avata-genaral-size">
                            <img src="img/avatar2.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                                                              
                            <div class="list-item-username">Tom Truong</div>                                
                            <div class="list-item-control">                                    
                                <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>                                    
                            </div>
                        </div>                        
                    </div>
                    <div class="banner-item-user-detail">
                        <div class="avata-genaral-size">
                            <img src="img/avata3.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                                                              
                            <div class="list-item-username">Tom Truong</div>                                
                            <div class="list-item-control">                                    
                                <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>                                    
                            </div>
                        </div>                        
                    </div>
                    <div class="banner-item-user-detail">
                        <div class="avata-genaral-size">
                            <img src="img/avatar4.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                                                              
                            <div class="list-item-username">Tom Truong</div>                                
                            <div class="list-item-control">                                    
                                <a class="button" href="#">PhimHang</a>                                    
                            </div>
                        </div>                        
                    </div>
                    <div class="banner-item-user-detail">
                        <div class="avata-genaral-size">
                            <img src="img/avatar5.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                                                              
                            <div class="list-item-username">Tom Truong</div>                                
                            <div class="list-item-control">                                    
                                <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>                                    
                            </div>
                        </div>                        
                    </div>

                </div>
            </div>
            <div class="area-center">
                <div class="status-box">
                    <div class="avatar-small">
                        <img src="img/avatar.jpg" class="img-rounded" alt="avatar">
                    </div>
                    <div class="input-status">
                        <form name="frmStatus">
                            <div class="input-status-text">
                                <input autofocus="" name="status" id="status" title="Search" autocomplete="off" type="text">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="filer-bar">
                    <span class="filer-bar-label">Bộ Lọc: </span>
                    <a class="filer-bar-item" href="#">Tất cả</a>
                    <a class="filer-bar-item" href="#">Theo biểu đồ</a>
                    <a class="filer-bar-item" href="#">Theo nhận định</a>
                    <a class="filer-bar-item" href="#">
                        Tùy chọn khác
                        <i class="fa fa-caret-down"></i>
                    </a>
                </div>
                <div class="filer-new-status">
                    <div class="filer-new-status-button-bar">
                        <div class="toggle-switch toggle-switch-success">
                            <label>
                                <input checked="" type="checkbox"/>
                                <span class="toggle-switch-inner"></span>
                                <span class="toggle-switch-switch"></span>
                            </label>
                        </div>
                        <div class="text-label">Hiển thị bài phím mới</div>
                    </div>
                    <div class="msg-new-status">
                        Có <strong>2</strong> bài phím mới: <a href="#">Hiển Thị <strong>2</strong> bài phím này</a>
                    </div>
                </div>
                <div class="list-status">
                    <div class="list-item-status">
                        <div class="avata-genaral-size">
                            <img src="img/avatar.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                              
                            <div class="list-item-date">Dec 1 at 9:30 PM</div>
                            <div class="list-item-username">Tom Truong</div>
                            <div class="list-item-status-content">goodmorning</div>
                            <div class="list-item-control">
                                <a class="button" href="#"><i class="fa fa-comments"></i></a>
                                <a class="button" href="#">Trả lời</a>
                                <a class="button" href="#">Chia sẻ</a>
                                <a class="button" href="#">Thích</a>
                                <a class="button" href="#">Báo cáo vi phạm</a>
                            </div>
                        </div>                        
                    </div> 
                    <div class="list-item-status">
                        <div class="avata-genaral-size">
                            <img src="img/avatar5.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                              
                            <div class="list-item-date">Dec 1 at 9:30 PM</div>
                            <div class="list-item-username">Tom Truong</div>
                            <div class="list-item-status-content">Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases</div>
                            <div class="list-item-control">
                                <a class="button"><i class="fa fa-comments"></i></a>
                                <a class="button">Trả lời</a>
                                <a class="button">Chia sẻ</a>
                                <a class="button">Thích</a>
                                <a class="button">Báo cáo vi phạm</a>
                            </div>
                        </div>                        
                    </div>
                    <div class="list-item-status">
                        <div class="avata-genaral-size">
                            <img src="img/avata3.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                              
                            <div class="list-item-date">Dec 1 at 9:30 PM</div>
                            <div class="list-item-username">Tom Truong</div>
                            <div class="list-item-status-content">Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases</div>
                            <div class="list-item-control">
                                <a class="button"><i class="fa fa-comments"></i></a>
                                <a class="button">Trả lời</a>
                                <a class="button">Chia sẻ</a>
                                <a class="button">Thích</a>
                                <a class="button">Báo cáo vi phạm</a>
                            </div>
                        </div>                        
                    </div>
                    <div class="list-item-status">
                        <div class="avata-genaral-size">
                            <img src="img/avatar2.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                              
                            <div class="list-item-date">Dec 1 at 9:30 PM</div>
                            <div class="list-item-username">Tom Truong</div>
                            <div class="list-item-status-content">Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases</div>
                            <div class="list-item-control">
                                <a class="button"><i class="fa fa-comments"></i></a>
                                <a class="button">Trả lời</a>
                                <a class="button">Chia sẻ</a>
                                <a class="button">Thích</a>
                                <a class="button">Báo cáo vi phạm</a>
                            </div>
                        </div>                        
                    </div>
                    <div class="list-item-status">
                        <div class="avata-genaral-size">
                            <img src="img/avatar4.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                              
                            <div class="list-item-date">Dec 1 at 9:30 PM</div>
                            <div class="list-item-username">Tom Truong</div>
                            <div class="list-item-status-content">Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases</div>
                            <div class="list-item-control">
                                <a class="button"><i class="fa fa-comments"></i></a>
                                <a class="button">Trả lời</a>
                                <a class="button">Chia sẻ</a>
                                <a class="button">Thích</a>
                                <a class="button">Báo cáo vi phạm</a>
                            </div>
                        </div>                        
                    </div>
                </div>

            </div>
            <div class="area-right">
                <div class="banner-right-first">
                    <div class="banner-header-white">ĐANG THEO DÕI</div>
                    <div class="banner-item1">
                        <div class="item-left">
                            <a href="#">$GAS<br><span>PV GAS</span></a>
                        </div>
                        <div class="item-right">
                            <strong>108.66</strong>
                            <span class="bearish">
                                <i class="fa fa-sort-down"></i><br>
                                <span class="top-menu-point">
                                    0.35 (0,32%)
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="banner-item1">
                        <div class="item-left">
                            <a href="#">$GAS<br><span>PV GAS</span></a>
                        </div>
                        <div class="item-right">
                            <strong>108.66</strong>
                            <span class="bullish">
                                <i class="fa fa-sort-up"></i><br>
                                <span class="top-menu-point">
                                    0.35 (0,32%)
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="banner-item1">
                        <div class="item-left">
                            <a href="#">$GAS<br><span>PV GAS</span></a>
                        </div>
                        <div class="item-right">
                            <strong>108.66</strong>
                            <span class="bullish">
                                <i class="fa fa-sort-up"></i><br>
                                <span class="top-menu-point">
                                    0.35 (0,32%)
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="banner-item1">
                        <div class="item-left">
                            <a href="#">$GAS<br><span>PV GAS</span></a>
                        </div>
                        <div class="item-right">
                            <strong>108.66</strong>
                            <span class="bullish">
                                <i class="fa fa-sort-up"></i><br>
                                <span class="top-menu-point">
                                    0.35 (0,32%)
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="loadmore"><a href="#"><i class="fa  fa-angle-double-down"></i></a></div>
                </div>
                <div class="second-left-banner">
                    <div class="banner-header-white2">DÂN PHÍM CHUYÊN NGHIỆP</div>
                    <div class="banner-item-user-detail">
                        <div class="avata-genaral-size">
                            <img src="img/avata3.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                                                              
                            <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>                                
                            <div class="list-item-control">                                    
                                <a class="button"><i class="fa fa-plus"></i>Theo dõi</a>                                   
                            </div>
                        </div>                        
                    </div>
                    <div class="banner-item-user-detail">
                        <div class="avata-genaral-size">
                            <img src="img/avatar4.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                                                              
                            <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>                                
                            <div class="list-item-control">                                    
                                <a class="button"><i class="fa fa-plus"></i>Theo dõi</a>                                   
                            </div>
                        </div>                        
                    </div> 
                    <div class="banner-item-user-detail">
                        <div class="avata-genaral-size">
                            <img src="img/avatar5.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">                                                                              
                            <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>                                
                            <div class="list-item-control">                                    
                                <a class="button"><i class="fa fa-plus"></i>Theo dõi</a>                                   
                            </div>
                        </div>                        
                    </div>                     
                    <div class="loadmore"><a href="#"><i class="fa  fa-angle-double-down"></i></a></div>
                </div>
            </div>
        </div>
    </body>
</html>
