
@{
    ViewBag.Title = "Giới thiệu mạng xã hội phố chứng khoán";
    Layout = "~/Views/Shared/_Layout_Post_Detail.cshtml";
}

<link href="~/ThemeBlue/css/SumIntro.css" rel="stylesheet" />
<div class="Div_introMain">
    <div style=" overflow: hidden; margin: 20px 5px 30px 0px;">
        <h1 class="Font1"><strong>Giới thiệu</strong></h1>
        <div class="Div_main">
            <div class="MenuTrai">
                <p class="Border_left"><a href="/gioithieu">Giới thiệu</a></p>
                <p><a href="/quydinh">Quy định</a></p>
                <p><a href="/huongdansudung"> Hướng dẫn sử dụng</a></p>
                <p><a href="/lienhe">Liên hệ</a></p>
            </div>
            <div class="Div_NoiDung">
                <p>
                    Mạng Xã  Hội <strong>Phochungkhoan.com®</strong> là một cộng đồng chứng khoán, nơi hội tụ nhà đầu tư, các môi giới và phân tích chứng khoán.
                </p>
                <br />
                <p>
                    Giấy  phép hoạt động mạng xã hội số: 716/GP-BTTTT Bộ Thông tin và Truyền thông cấp  ngày 29/12/2015
                </p>
            </div>
        </div>
    </div>
</div>

