
    <div class="banner-right-first">
        <div class="banner-header-white2">Tin Nhăn Mơi</div>
        <form name="frm">
            <div class="sms-input">
                <input name="txtSMS" id="txtSMS" class="txtSMS" />
            </div>
        </form>
        <div class="Sms-item">
            <div class="sms-item-sendername">
                <a href="#">operaghost88</a><span>Oct 30 at 4:58PM</span>
            </div>
            <p>
                Nope us up. Everything looks good now
            </p>
        </div>
        <div class="Sms-item">
            <div class="sms-item-sendername">
                <a href="#">operaghost88</a><span>Oct 30 at 4:58PM</span>
            </div>
            <p>
                Nope us up. Everything looks good now
            </p>
        </div>
        <div class="Sms-item">
            <div class="sms-item-sendername">
                <a href="#">operaghost88</a><span>Oct 30 at 4:58PM</span>
            </div>
            <p>
                Nope us up. Everything looks good now
            </p>
        </div>
        <div class="Sms-item">
            <div class="sms-item-sendername">
                <a href="#">operaghost88</a><span>Oct 30 at 4:58PM</span>
            </div>
            <p>
                Nope us up. Everything looks good now
            </p>
        </div>
        <div class="loadmore"><a href="#"><i class="fa  fa-angle-double-down"></i></a></div>
    </div>
    <div class="second-left-banner">
        <div class="banner-header-white">DÂN PHÍM CHUYÊN NGHIỆP</div>
        <div class="banner-item-user-detail">
            <div class="avata-genaral-size">
                <img src="img/avata3.jpg" class="img-rounded" alt="avatar">
            </div>
            <div class="list-item-detail">
                <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>
                <div class="list-item-control">
                    <a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a>
                </div>
            </div>
        </div>
        <div class="banner-item-user-detail">
            <div class="avata-genaral-size">
                <img src="img/avatar4.jpg" class="img-rounded" alt="avatar">
            </div>
            <div class="list-item-detail">
                <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>
                <div class="list-item-control">
                    <a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a>
                </div>
            </div>
        </div>
        <div class="banner-item-user-detail">
            <div class="avata-genaral-size">
                <img src="img/avatar5.jpg" class="img-rounded" alt="avatar">
            </div>
            <div class="list-item-detail">
                <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>
                <div class="list-item-control">
                    <a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a>
                </div>
            </div>
        </div>
        <div class="loadmore"><a href="#"><i class="fa  fa-angle-double-down"></i></a></div>
    </div>
    <div class="banner-info" style="color: #666;">
        <div>
            <a style="color: #666;" href="#">Giới thiệu</a>
            <a style="color: #666;" href="#">Quy định</a>
            <a style="color: #666;" href="#">Trợ giúp</a>
            <a style="color: #666;" href="#">Liên hệ</a>
        </div>
        <p>
            Bản quyền thuộc về Công ty TNHH XXXXXXXXXX<br>
            Theo giấy xác nhận cung cấp dịch vụ MXH trực tuyến số: ....
        </p>
    </div>
