<div class="banner-header-white">DÂN PHÍM CHUYÊN NGHIỆP</div>
<div class="banner-item-user-detail">
    <div class="avata-genaral-size">
        <img src="/img/avata3.jpg" class="img-rounded" alt="avatar">
    </div>
    <div class="list-item-detail">
        <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>
        <div class="list-item-control">
            <a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a>
        </div>
    </div>
</div>
<div class="banner-item-user-detail">
    <div class="avata-genaral-size">
        <img src="/img/avatar4.jpg" class="img-rounded" alt="avatar">
    </div>
    <div class="list-item-detail">
        <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>
        <div class="list-item-control">
            <a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a>
        </div>
    </div>
</div>
<div class="banner-item-user-detail">
    <div class="avata-genaral-size">
        <img src="/img/avatar5.jpg" class="img-rounded" alt="avatar">
    </div>
    <div class="list-item-detail">
        <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>
        <div class="list-item-control">
            <a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a>
        </div>
    </div>
</div>
<div class="loadmore"><a href="#"><i class="fa  fa-angle-double-down"></i></a></div>