<div class="cp-banner">
    <div class="cp-top">
        <span>@ViewBag.StockCode </span> <br />
        <span class="bullish cp-index">
            999(+2)
        </span>
    </div>
    <div class="cp-detail clear">
        <h4>@ViewBag.StockName</h4>
        <div class="cp-detail-sub">
            <div class="f-left">
                <div style="margin-top: 5px;"><b>Bài Phím:</b> 99999</div>
                <div><b>Được theo dõi:</b> 99999</div>
            </div>
            <div class="cp-detail-sub-fl f-right">                
                <a href="#" class="button-flow"><i class="fa fa-plus"></i>Theo dõi</a>
            </div>
        </div>
    </div>
</div>