@using PhimHang.Models;
@{

    foreach (var item in ViewBag.ListStockHot as List<string>)
    {
        <li class="hidden-xs">
            <a href="/Ticker/@item">
                $@item
            </a>
        </li>

    }
}
