
@*<form id="frmSearch" action="@Url.Action("","Search")" method="get">
    <span id="search_box_top">
        <input name="q" id="searchUserNameOrStock" placeholder="MÃ CỔ PHIẾU ($VNM) hoặc USERNAME" title="Search" autocomplete="off" type="text">
        <input type="submit" style="display:none" />
        <i class="fa fa-search"></i>
    </span>
</form>

    <div id="dialog-message" title="Hướng dẫn" style="display:none">
        <p id>
            <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0; "></span>
            Nhập $ cho cổ phiếu hoặc <br />
            Nhập $ cho tìm kiếm user
        </p>
        <p>
              Currently using <b>36% of your storage space</b>.
            </p>
        
    </div>*@

 <form id="frmSearch" action="@Url.Action("","Search")" method="get">
    <span id="search_box_top">
        <input name="q" id="kq" placeholder="MÃ CỔ PHIẾU ($VNM) hoặc USERNAME" title="Search" autocomplete="off" type="text">
        <i class="fa fa-search"></i>
    </span>
</form>
