
@{
    ViewBag.Title = "Trang chủ cungphim.com";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<div class="area-center">
    <img src="/images/company_logo.jpg?width=1200&height=650&mode=crop" />
</div>
