@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container menu">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="#">Top upgrape</a></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
    <div class="container-fluid" style="margin-bottom:14px">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="/images/Pic_Tab_Quanlydautulagi.jpg" />
            </div>
        </div>
    </div>
    <div>
        <div class="row enigma_blog_wrapper">
            <div class="col-md-8">

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;line-height:150%;text-autospace:none'>
                    <b>
                        <span lang=EN-US
                              style='font-size:16.0pt;line-height:150%;font-family:"Cambria","serif";
color:#1D87BD'>Qu&#7843;n lý &#273;&#7847;u t&#432;</span>
                    </b>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        &#272;ây là hình th&#7913;c mà nhà &#273;&#7847;u t&#432;
                        s&#7917; d&#7909;ng d&#7883;ch v&#7909; qu&#7843;n lý &#273;&#7847;u t&#432;
                        c&#7911;a &#273;&#7897;i ng&#361; giàu kinh nghi&#7879;m &#273;&#7875; tìm
                        ki&#7871;m l&#7907;i nhu&#7853;n t&#7915; th&#7883; tr&#432;&#7901;ng
                        ch&#7913;ng khoán.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%'>
                    <span lang=EN-US
                          style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        H&#417;n 10 n&#259;m g&#7855;n bó v&#7899;i th&#7883; tr&#432;&#7901;ng
                        ch&#7913;ng khoán, &#273;&#7897;i ng&#361; c&#7911;a chúng tôi &#273;ã kinh qua
                        nh&#7919;ng v&#7883; trí quan tr&#7885;ng trong phân tích, &#273;&#7847;u
                        t&#432; ch&#7913;ng khoán &#7903; nh&#7919;ng công ty ch&#7913;ng khoán và qu&#7929;
                        &#273;&#7847;u t&#432;.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%'>
                    <span lang=EN-US
                          style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        Chúng tôi &#273;ã xây d&#7921;ng cho mình m&#7897;t n&#7873;n t&#7843;ng
                        phân tích sâu s&#7855;c, nh&#7841;y bén trong phát hi&#7879;n xu h&#432;&#7899;ng,
                        h&#7879; th&#7889;ng giao d&#7883;ch, cách ch&#7885;n l&#7921;a c&#7893; phi&#7871;u
                        và danh m&#7909;c luôn th&#7855;ng th&#7883; tr&#432;&#7901;ng.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%'>
                    <b>
                        <span lang=EN-US
                              style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>FIN</span>
                    </b><b>
                        <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#B2B2B2'>AND</span>
                    </b><b>
                        <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                            LIFE cung c&#7845;p 2 hình th&#7913;c qu&#7843;n lý
                            &#273;&#7847;u t&#432; d&#7921;a trên s&#7921; thành công c&#7911;a 2 danh
                            m&#7909;c &#273;&#7847;u t&#432; do FIN
                        </span>
                    </b><b>
                        <span lang=EN-US
                              style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#B2B2B2'>AND</span>
                    </b><b>
                        <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#262626'>
                            LIFE nghiên
                            c&#7913;u và phát tri&#7875;n.
                        </span>
                    </b>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;line-height:150%;text-autospace:none'>
                    <b>
                        <span lang=EN-US
                              style='font-size:16.0pt;line-height:150%;font-family:"Cambria","serif";
color:#1D87BD'>
                            Hình th&#7913;c th&#7913; nh&#7845;t: &#272;&#7847;u t&#432;
                            theo Fuji Record
                        </span>
                    </b>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;line-height:150%;text-autospace:none'>
                    <b>
                        <a href="/TOP_UPGRADE/danh_muc_top_upgrape">
                            <span lang=EN-US style='font-size:16.0pt;line-height:150%;font-family:"Cambria","serif";color:#1D87BD'>
                                Hình th&#7913;c th&#7913; hai: &#272;&#7847;u t&#432; theo danh m&#7909;c TOP UPGRADE
                            </span>
                        </a>
                    </b>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;line-height:150%;text-autospace:none'>
                    <b>
                        <span lang=EN-US
                              style='font-size:16.0pt;line-height:150%;font-family:"Cambria","serif";
color:#1D87BD'>
                            Ph&#432;&#417;ng th&#7913;c qu&#7843;n lý &#273;&#7847;u t&#432;
                            ch&#7913;ng khoán
                        </span>
                    </b>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white;
vertical-align:baseline'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:
150%;font-family:"Cambria","serif";color:#262626'>
                        Nhà &#273;&#7847;u t&#432;
                        m&#7903; tài kho&#7843;n ch&#7913;ng khoán t&#7841;i công ty c&#7893;
                        ph&#7847;n ch&#7913;ng khoán Quân &#272;&#7897;i (MBS), chúng tôi s&#7869; giúp
                        khách hàng giao d&#7883;ch ch&#7913;ng khoán trên chính tài kho&#7843;n
                        c&#7911;a nhà &#273;&#7847;u t&#432;.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;line-height:150%;text-autospace:none'>
                    <b>
                        <span lang=EN-US
                              style='font-size:16.0pt;line-height:150%;font-family:"Cambria","serif";
color:#1D87BD'>Tuy&#7879;t &#273;&#7889;i an toàn</span>
                    </b>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white;
vertical-align:baseline'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:
150%;font-family:"Cambria","serif";color:#262626'>
                        Chúng tôi qu&#7843;n lý
                        &#273;&#7847;u t&#432; tr&#7921;c ti&#7871;p trên tài kho&#7843;n c&#7911;a khách
                        hàng nên s&#7869; không x&#7843;y ra các tr&#432;&#7901;ng h&#7907;p th&#7845;t
                        thoát tài s&#7843;n.
                    </span>
                </p>


            </div>
            <div class="col-md-4">
                @Html.Partial("~/Views/Shared/_BoxRight.cshtml")
            </div>
        </div>
    </div>
</div>



