<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    @* validate - phai có 2 key trong webconfig <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/> *@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*end validate  *@
    <script src="~/ThemeBlue/bootstrap-twiter/js/bootstrap.min.js"></script>
    <link href="~/ThemeBlue/bootstrap-twiter/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/ThemeBlue/bootstrap-twiter/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/ThemeBlue/css/Notification.css" rel="stylesheet" /> @*notification style*@
</head>
<body class="user-profile" style="background: url('/img/bg.png');">
    <div class="NotificationCenter">
        <span id="textNoti"></span>
    </div>
    <section id="page" role="application">
        <header id="heading" role="heading">
            <div class="banner" role="banner">
                <h1><a href="/">cungphim.com</a></h1>
            </div>
            <div style="clear: both"></div>
        </header>
        <div class="container">
            <div class="row" style="padding-top: 75px;">

                <div class="row">
                    <div class="span12">
                        <div class="user-details">
                            <span class="name">@User.Identity.Name</span>
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li id="profileli"><a href="/account/profile">Hồ sơ cá nhân</a></li>
                        @*<li><a href="#philosophy" data-toggle="tab">Trường phái đầu tư</a></li>*@
                        <li id="manageli"><a href="/account/manage">Mật khẩu</a></li>
                        @*<li><a href="#identityProviders" data-toggle="tab">Identity Providers</a></li>*@
                    </ul>
                    <div class="tab-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </section>
    @RenderSection("scripts", required: false)

</body>

</html>
