
<div id="facebookLoadSlow"></div> 

<script>
    $(document).ready(function () {
        $("#facebookLoadSlow").load('/home/LoadFacebokSDK');
    })
</script>

<!--facebook plugin-->
@{
    if (User.Identity.IsAuthenticated)
    {
        <a id="btn-config" href="#" data-dropdown="#dropdown-1">
            <span style="padding-right: 5px;"><i class="fa fa-cog"></i></span>
        </a>
    }
}
<div id="dropdown-1" class="dropdown dropdown-tip dropdown-anchor-right dropdown-relative">    
    <ul class="dropdown-menu">
        <li><a href="/">Trang chủ</a></li>
        <li class="dropdown-divider"></li>
        <li><a href="/account/profile">Tùy chỉnh</a></li>
        <li class="dropdown-divider"></li>
        @{
            if (User.Identity.IsAuthenticated)
            {
                @: @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <li><a href="/account/manage">Đổi mật khẩu</a></li>  
                    <li class="dropdown-divider"></li>
                    if (Request.Cookies["FacebookLogin"] != null)
                    {
                        if (Request.Cookies["FacebookLogin"].Value == "F")
                        {
                            <li><a onclick=" logoutAll();">Đăng xuất</a></li>    
                        }
                        else
                        {
                            <li><a onclick=" logoutSite();">Đăng xuất</a></li>    
                        }
                    }
                    else
                    {
                        <li><a onclick=" logoutSite();">Đăng xuất</a></li>    
                    } 
                    <input type="hidden" name="returnUrl" value="@Request.Url.AbsolutePath" />
                }
            }
            else
            {
                <li><a href="/Account/Register?ReturnUrl=@Request.Url.AbsolutePath">Đăng ký</a></li>
                <li class="dropdown-divider"></li>
                <li><a href="/Account/Login?ReturnUrl=@Request.Url.AbsolutePath">Đăng nhập</a></li>                
            }
        }
    </ul>
</div>
