<div class="toSpan top-banner-icon f-right">
    <a data-title="Hộp thư tin nhắn" href="/myprofile/MessagesCenter"><i class="fa fa-comments-o"></i></a>
    @if (ViewBag.NewMessege > 0)
    {
        <span id="CreateMesseger">
            <span class="MessegeNofity">@ViewBag.NewMessege</span>
        </span>
    }
    else
    {
        <span id="CreateMesseger"></span>
    }
</div>
<div class="toSpan top-banner-icon f-right">
    <a data-title="Toàn thị trường" href="/myprofile"><i id="fahome" class="fa fa-home"></i></a>
</div>

<div class="toSpan top-banner-icon2 f-right">   
    <span class="f-right-userInfo">
        <a data-title="Trang cá nhân" href="/@User.Identity.Name" class="avatar">
            <img src="@ViewBag.AvataEmage?width=40&height=40&mode=crop" alt="Phố chứng khoán">
        </a>
    </span>        
    <span class="f-right-moreInfo">
        <a href="#" onclick="openMenu();"><i class="fa fa-bars"></i></a>
    </span>    
</div>

