
    <div class="banner-header-white">QUẢNG CÁO</div>
         <div class="banner-item1">
        <div class="item-left">
            <a href="/Symbol/item.CompanyID">item.CompanyID<br><span>item.CompanyID</span></a>
        </div>
        <div class="item-right">
            <strong>item.FinishPrice</strong>
          
                <span class="none-bullish-bearish">
                    <br>
                    <span class="top-menu-point">
                        item.Diff (item.DiffRate)
                    </span>
                </span>
        
            
        </div>
    </div>
    

    
    
 
    <div class="loadmore"><a href="#"><i class="fa  fa-angle-double-down"></i></a></div>

