<div id="LayoutLogin" class="f-right" style="border-radius:1px">
    <a class="logoutbutton" href="/Account/Register?ReturnUrl=@Request.Url.PathAndQuery">Đăng ký</a>
    <a class="logoutbutton" href="/Account/Login?ReturnUrl=@Request.Url.PathAndQuery">Đăng nhập</a>
</div>
<span class="f-right-moreInfo" style="top:-2px;left:12px;">
    <a href="#" onclick="openMenu();"><i class="fa fa-bars"></i></a>
</span>
