<div class="banner-right-first">
    <div class="banner-header-white">HƯỚNG DẪN SỬ DỤNG</div>
    <div class="banner-item1">
        <div class="item-left">
            <span><a href="#">ĐĂNG KÝ</a></span>
            <span><a href="#">ĐĂNG NHẬP</a></span>
            <span><a href="#">CÁ NHÂN</a></span>
            <span><a href="#">VIẾT BÀI</a></span>
            <span><a href="#">TRẢ LỜI</a></span>            
            <span><a href="#">THEO DÕI</a></span>
        </div>
    </div>
</div>
