
  
    @{
    foreach (var item in ViewBag.ListIndex as List<PhimHang.Models.StockRealTime>)
    {
        <li class="hidden-xs IndexBar">
            <a title="Chỉ số INDEX" href="/Ticker/@item.CompanyID">
                <strong>@item.CompanyID</strong>
                @if (item.Diff == 0)
                {
                    <span class="NoChangeIndex ">
                        <!--<i class="fa  fa-sort-up "></i>-->
                        &nbsp;
                        <span class="top-menu-point">
                            @item.FinishPrice
                        </span>
                    </span>
                }
                else if (item.Diff > 0)
                {
                    <span class="bullishIndex">
                        <!--<i class="fa  fa-sort-up "></i>-->
                        &nbsp;
                        <span class="top-menu-point">
                            @item.FinishPrice
                        </span>
                    </span>
                }
                else
                {
                    <span class="bearishIndex">
                        <!--<i class="fa  fa-sort-up "></i>-->
                        &nbsp;
                        <span class="top-menu-point">
                            @item.FinishPrice
                        </span>
                    </span>
                }


            </a>
        </li>
    }
}
