
@{
    ViewBag.Title = "Helper";
    Layout = "~/Views/Shared/_Layout_MyProfile_Setting.cshtml";
}

<div style="width:1180px;height:400px;background-color:white;margin-top:10px">
    <h4>Nhập $ để tìm cổ phiếu</h4>
    <h4>Nhập để tìm cổ thành viên</h4>
    <h4>Hoặc liên hệ với quản trị</h4>
</div>
