/* body */
body { color: #333; font: 100% Arial, Helvetica, sans-serif; }

/* reset */
h1, h2, h3, h4, h5,
body, fieldset, blockquote, p,
ul, ul li, ol, ol li, dl, dl dt, dl dd,
fieldset input, fieldset select, fieldset textarea { margin: 0px; padding: 0px; }
ul, ol { list-style: none; }

/* form */
fieldset { border: none; }
fieldset input, fieldset select, fieldset textarea { color: #333; font: normal normal 1em Arial, Helvetica, sans-serif; }

/* hyperlink */
a:link, a:visited { text-decoration: none; }
a img { border: none; }

/* horizontal */
hr { display: none; }

/* clear */
.Clearfix { clear: both; height: 0px; overflow: hidden; }

/* layout */
body { background: url(../images/bg-body.gif) repeat-x; text-align: center; }

/* header */
#header { font-size: .75em; height: 112px; margin: 0 auto; position: relative; text-align: left; width: 980px; }
#header h1, #header #userPanel, #header #themes, #header #features { position: absolute; }
#header h1 { left: 15px; top: 27px; }
#header h1 a {
    background: url(../images/logo.gif) no-repeat;
    display: block;
    height: 58px;
    overflow: hidden;
    text-indent: -1983em;
    width: 99px;
}
#header #userPanel { border-left: #ddd solid 1px; color: #09f; left: 130px; padding: 5px 15px; top: 17px; }
#header #userPanel h2 { font-size: 1.5em; }
#header #userPanel h3 { font-size: 1em; }
#header #userPanel .Privilege { color: #f90; font-weight: bolder; }
#header #themes { bottom: 5px; right: 5px; }
#header #themes li { float: left; }
#header #themes li img { margin: 0 2px; vertical-align: top; }
#header #features { right: 0px; top: 10px; }
#header #features li {
    border-left: #ddd solid 1px;
    float: left;
    font-weight: bolder;
    line-height: 17px;
    padding: 0 10px;
}
#header #features li.First { border-left: none; }
#header #features li fieldset, #header #features li label, #header #features li select { float: left; }
#header #features li select { margin-left: 10px; vertical-align: middle; }
#header #features li a:link, #header #features li a:visited { color: #333; }

/* footer */
#footer { background-color: #eee; border-top: #ddd solid 1px; font-size: .75em; }
#footer p { margin: 0 auto; padding: 15px 0; text-align: left; width: 980px; }

/* main */
#main { font-size: .75em; margin: 0 auto 20px; text-align: left; width: 980px; }
#quickSearch, #nav, #content { background-color: #eee; border: #ddd solid 1px; padding: 10px; }

/* quickSearch */
#quickSearch { margin-bottom: 20px; position: relative; }
#quickSearch h2 {
    background: no-repeat;
    color: #fff;
    font-size: 1.25em;
    height: 27px;
    left: -17px;
    padding-bottom: 6px;
    padding-left: 6px;
    position: relative;
}
#quickSearch h2 span { background: repeat-x; display: block; float: left; line-height: 27px; padding: 0 25px 0 19px; }
#quickSearch .Toggle {
    background: no-repeat;
    display: block;
    height: 8px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-indent: -1983em;
    top: 10px;
    width: 9px;
}
* html #quickSearch .Toggle { top: 15px; }
#quickSearch .Invert { background-position: left -9px; }
#quickSearch fieldset { padding: 10px 50px; }
#quickSearch fieldset div { overflow: hidden; padding-top: 5px; }
* html #quickSearch fieldset div { height: 1%; }
#quickSearch fieldset label, #quickSearch fieldset input, #quickSearch fieldset select {
    float: left;
    margin-right: 5px;
    padding: 1px 2px;
    vertical-align: top;
}
#quickSearch fieldset label { font-weight: bolder; padding-right: 5px; text-align: right; width: 100px; }
#quickSearch fieldset div ul, #quickSearch fieldset div ul li { float: left; width: 600px; }
#quickSearch fieldset div ul li { padding-bottom: 5px; }
#quickSearch fieldset .TextInput { width: 250px; }
#quickSearch fieldset .DropDown1 { width: 150px; }
#quickSearch fieldset .DropDown2 { width: 70px; }
#quickSearch fieldset .Submit { padding: 0 0 0 110px; }
#quickSearch fieldset .Button, #quickSearch fieldset .Button span,
#quickSearch fieldset .Button input { float: left; }
#quickSearch fieldset .Button { background: no-repeat; margin-right: 5px; padding-left: 15px; }
#quickSearch fieldset .Button span { background: no-repeat right top; padding-right: 15px; }
#quickSearch fieldset .Button input {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
    height: 23px;
    margin: 0px;
    padding: 0 0 4px;
}

/* nav */
#nav { float: left; font-weight: bolder; width: 190px; }
#nav a:link, #nav a:visited { color: #333; }
#nav li { background: url(../images/ico-minus.gif) no-repeat left 5px; padding: 3px 5px 3px 20px; }
#nav li ul { padding: 5px 0; }
#nav li.HasChild { background-image: url(../images/ico-plus.gif); }
#nav span { cursor:pointer; }


/* content */
#content { float: right; width: 721px; }
#content h2 {
    background: no-repeat;
    color: #fff;
    font-size: 1em;
    height: 21px;
    left: -17px;
    padding-bottom: 6px;
    padding-left: 6px;
    position: relative;
}
#content h2 span { background: repeat-x; display: block; float: left; line-height: 21px; padding: 0 25px 0 19px;  }

/* tab */
#tab { height: 23px; left: -11px; margin-top: 4px; position: relative; }
#tab li {
    background: #fbfbfa url(../images/bg-tabs.gif) repeat-x;
    border: #ddd solid 1px;
    float: left;
    line-height: 21px;
    margin-right: 2px;
    padding: 0 30px;
    position: relative;
}
#tab li.Over { background-position: left -21px; }
#tab li.Active { background-position: left -42px !important; }
#tab li a:link, #tab li a:visited { color: #333; }
#tab li a.Close {
    background: url(../images/bg-close.gif) no-repeat left -9px;
    display: block;
    height: 9px;
    overflow: hidden;
    position: absolute;
    right: 8px;
    text-indent: -1983em;
    top: 6px;
    width: 8px;
}
#tab li.Active a.Close { background-position: left top; }

/* subtab */
#subtab { height: 29px; padding: 0 10px; }
#subtab li {
    background: #fbfbfa url(../images/bg-sub-tabs.gif) repeat-x;
    border: #ddd solid 1px;
    float: left;
    font-weight: bolder;
    line-height: 27px;
    margin-right: 2px;
    padding: 0 25px;
}
#subtab li.Over { background-position: left -27px; }
#subtab li.Active { background-position: left -54px; color: #fff; }
#subtab li a:link, #subtab li a:visited { color: #333; }

/* panel */
#content .Panel { height: 23px; padding: 10px 0; }

/* functions */
#content .Panel .Functions {
    background: #fbfbfa url(../images/bg-functions.gif) repeat-x;
    border: #ddd solid 1px;
    float: left;
    font-weight: bolder;
    height: 21px;
    left: -11px;
    padding: 0 5px;
    position: relative;
}
#content .Panel .Functions li { float: left; line-height: 21px; padding: 0 5px; position: relative; }
#content .Panel .Functions li a:link, #content .Panel .Functions li a:visited { color: #333; }
#content .Panel .Functions li.HasChild { background: no-repeat right 7px; cursor: pointer; padding-right: 20px; }
#content .Panel .Functions li ul {
    background: #e5e5e4 url(../images/bg-functions-sub.gif) repeat-x;
    border: #ddd solid 1px;
    display: none;
    padding: 3px 0;
    position: absolute;
    right: -6px;
    top: 21px;
    width: 110px;
}
#content .Panel .Functions li ul li { float: none; }
#content .Panel .Functions li ul li ul { right: -112px; top: 0px; }

/* pager */
#content .Panel .Pager { float: right; }
#content .Panel .Pager li { display: inline; float: left; line-height: 23px; padding: 0 3px; }
#content .Panel .Pager li.RangePrevious, #content .Panel .Pager li.Previous,
#content .Panel .Pager li.RangeNext, #content .Panel .Pager li.Next {
    background: url(../images/bg-pager.gif) repeat-x;
    border: #ddd solid 1px;
    line-height: 21px;
    padding: 0 8px;
}
#content .Panel .Pager li.Over { background-position: left -21px; }
#content .Panel .Pager li.RangePrevious, #content .Panel .Pager li.Previous { margin-right: 2px; }
#content .Panel .Pager li.RangeNext, #content .Panel .Pager li.Next { margin-left: 2px; }
#content .Panel .Pager li a:link, #content .Panel .Pager li a:visited { color: #333; }
#content .Panel .Pager li span { font-weight: bolder; }

/* mainContent */
#mainContent { padding: 10px; }