

@{
    ViewBag.Title = "Thanh toán";
}

<h2>   <div class="contentLogin">
        
         <fieldset>
        <br /> 
        
        <table>
            <tr>
                <td> THANH TOÁN THÀNH CÔNG </td>
               
            </tr>
            
        </table>
        
    </fieldset>
    </div>
    
    </h2>
