@{    
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bản quyền thuộc về phochungkhoan.com</title>    
</head>
<body>    
    <p><img src="https://phochungkhoan.com/img/avatar2.jpg" alt="Logo pho chung khoan" /></p>
    <h1>Địa chỉ truy cập không tồn tại</h1>
    <p><a href="https://phochungkhoan.com">https://phochungkhoan.com</a></p>

</body>


</html>


