@{    
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    

    <title> https://cungphim.com </title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            if (window.location.hostname.indexOf('vinasm.net') != -1) {
                window.location = 'http://vinasm.net:9999/forum';
            }
        });


    </script>
</head>
<body>
    <h1><a style="text-decoration:none" href="https://cungphim.com" title="Mạng xã hội cùng phím">cungphim.com</a></h1>
</body>


</html>


