<div id="page3-tab2" class="banner-right-first">
    <div class="banner-header-white banner-header-white-page3">Danh mục đầu tư</div>
    @{
        foreach (var item in ViewBag.FollowStockList as List<string>)
        {
             <div class="banner-item1">
                <div class="item-left">
                    <a href="/Ticker/@item">$@item<br><span>PV GAS</span></a>
                </div>
                <div class="item-right item-right-trang3-tab2">
                    <strong>108.66</strong>
                    <span class="bearish">
                        <i class="fa fa-sort-down"></i><br>
                        <span class="top-menu-point">
                            0.35 (0,32%)
                        </span>
                    </span>
                </div>
            </div>
        }
    }
   
    
    
</div>
<script>
    $(function () {
        $('.category-tab-active').removeClass('category-tab-active');
        $('#tab-DauTu').addClass('category-tab-active');
    });
    </script>