<div id="page3-tab3" class="banner-right-first" style="display: none;">
    <div class="banner-header-white banner-header-white-page3">Theo dõi</div>
    <div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username"><a href="#">Tom Truong</a></div>
            <div class="list-item-status-content">1234567890-1234567890-1234567890-1234567890</div>
        </div>
    </div>
    <div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar2.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username">Jerry Hiếu</div>
            <div class="list-item-status-content">Obama biladen</div>
        </div>
    </div>
    <div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar5.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username">Kendy sang</div>
            <div class="list-item-status-content">Kim Jong Un</div>
        </div>
    </div><div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar5.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username">Kendy sang</div>
            <div class="list-item-status-content">Kim Jong Un</div>
        </div>
    </div>

    <div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar2.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username">Jerry Hiếu</div>
            <div class="list-item-status-content">Obama biladen</div>
        </div>
    </div>
    <div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar5.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username">Kendy sang</div>
            <div class="list-item-status-content">Kim Jong Un</div>
        </div>
    </div>
    <div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar4.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username">Quân Kun</div>
            <div class="list-item-status-content">Obama</div>
        </div>
    </div>
    <div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar2.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username">Jerry Hiếu</div>
            <div class="list-item-status-content">Obama biladen</div>
        </div>
    </div>
    <div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar5.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username">Kendy sang</div>
            <div class="list-item-status-content">Kim Jong Un</div>
        </div>
    </div>

    <div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar2.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username">Jerry Hiếu</div>
            <div class="list-item-status-content">Obama biladen</div>
        </div>
    </div>
    <div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar5.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username">Kendy sang</div>
            <div class="list-item-status-content">Kim Jong Un</div>
        </div>
    </div>
    <div class="follower-item" tabindex="-1">
        <div class="avata-genaral-size">
            <img src="img/avatar4.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail list-item-custom">
            <div class="list-item-date button-follow-page3"><a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a></div>
            <div class="list-item-username">Quân Kun</div>
            <div class="list-item-status-content">Obama</div>
        </div>
    </div>
</div>