@{
    ViewBag.Title = "Terms";
}


<div style="margin-top:30px">
<div class="staticText" >
<h1>Giới thiệu Sigma Booking</h1> <br/>
    <p >
        Sigma Booking là công ty cung cấp dịch vụ đặt phòng khách sạn trực tuyến online, đặt phòng khách sạn offline, đặt vé máy bay. 
        Với phương châm đem đến cho Quý khách một công cụ đặt phòng đơn giản , dễ sử dụng, có thể so sánh giá cả, 
        dịch vụ của các khách sạn cũng như kết hợp việc đặt vé máy bay và khách sạn trong cùng một booking. 
        Sigma Booking sẽ đem đến cho Quý Khách một sự lựa tốt nhất cho việc đặt khách sạn và vé máy bay cho các chuyến du lịch và công tác của Quý khách.
    </p>
    <p >
        Sigma Booking thuộc công ty TNHH Công nghệ Aquila. Với văn phòng tại quận Tân Phú và văn phòng đại diện tại quận 1 bắt hoạt động từ năm 2013. 
        Hiện là một đơn vị cung cấp dịch vụ đặt phòng vé máy bay của nhiều các nhân và công ty trên địa bàn quận Tân Phú. 
        Với mong mỏi không ngừng phát triển các dịch vụ liên quan đến du lịch, chúng tôi luôn tìm mọi cách giảm thiểu chi phí cho các chuyến du lịch và công tác của Quý khách nhằm thỏa mãn tốt nhất kỳ vọng của Quý Khách khi sử dụng dịch vụ của chúng tôi.
    </p>
</div>
</div>