@{
    ViewBag.Title = @Resources.UserInterface.home;    
}
    <div class="box-main">
		<div class="box-left">
		        @Html.Partial("_LongSearchPartial")
		</div><!--box-left-->
		<div class="box-right">
		    <div class="slider">	   
                 @Html.Partial("_SliderPartial")
		    </div>
		</div><!--box-right-->
		</div><!--box-main-->
    <div class="box-main">
		    <div class="box">
		        <div class="title">SAMMY HOTEL </div>
		        <div class="text">
		            <div class="travel-main">
		            <div class="travel-left">
		                <img src="../../images/hinh3.jpg" />
		                <h3>Sammy Hotel </h3>
		                <strong>Khách sạn đà lạt Plalace </strong>
		                tạo lạc ngay trung tâm dà lạt thành phố với khí hậu ôn đới quanh năm, khách sạn được thiết kế theo phong cách cổ điển sang trọng của pháp<br />
		                <strong>Khách sạn đà lạt Plalace</strong> tạo lạc ngay trung tâm dà lạt thành phố với khí hậu ôn đới quanh năm, khách sạn được thiết kế theo phong cách cổ điển sang trọng của pháp 
		            </div>
		            <div class="travel-right cols">
		                <label><span>Rate from</span></label> 4,500,000 VND<br />
		                <label><span>Review</span></label>		6<br />
		                <label><span>Comments</span></label> 	(23)<br />
		                <label>&nbsp;</label><span>Book now</span>
		            </div>
		            </div>	
		        </div>
		    </div><!--box-->
		</div><!--box-main-->


		<div class="box-main">
		    <div class="box">
		        <div class="title">BEDROOM SYSTEM</div>
		        <div class="text">
		            <ul class="line-chay">
		                <li><img src="../../images/hinh2.jpg" /> <a href="#">phòng 1 giường</a></li>
		                <li><img src="../../images/hinh2.jpg" /> <a href="#">phòng 1 giường</a></li>
		                <li><img src="../../images/hinh2.jpg" /><a href="#">phòng 1 giường</a> </li>
		                <li><img src="../../images/hinh2.jpg" /><a href="#">phòng 1 giường</a> </li>
		            </ul><!--line-chay-->
		        </div><!--text-->
		    </div><!--box-->
		</div><!--box-main-->