@{
    ViewBag.Title = "Terms";
}


<div style="margin-top:30px">
<div class="staticText" >
<h1>Điều khoản và điều kiện</h1> <br/>
<p ><span>1. Độ tuổi:</span>  Quý Khách phải từ 18 tuổi trở lên mới được phép tham gia đặt phòng trên trang web <a href="/Home" target="_blank">www.aquila.com.vn</a></p>
<p ><span>2. Thanh toán:</span>    <br />
    <span class="staticTextLevel2">2.1 Khách sạn tại Việt Nam:</span> </p>
    <ul class="staticTextul">
        <li>Thẻ tín dụng hay thẻ ATM: khi Quý Khách thanh toán tiền cọc đặt phòng bằng thẻ tín dụng hay thẻ ATM. Tổng tiền thanh toán của đơn hàng và tiền cọc Quý Khách thanh toán sẽ được hiển thị tại trang đặt phòng trước khi Quý Khách nhấn nút “Thanh Toán”. Sau khi Quý Khách thanh toán thành công, Quý Khách sẽ nhận đuợc email xác nhận thanh toán từ hệ thống đặt phòng của Aquila.com. Đối với thẻ tín dụng, dựa trên loại tiền tệ và quốc gia phát hành thẻ của Quý Khách, nhà cung cấp thẻ sẽ tính thêm chi phí tỉ giá và các mức phí khác với sự đồng ý của Quý Khách và nhà cung cấp thẻ.  </li>
        <li>Tiền mặt hoặc chuyển khoản: Quý Khách có thể đặt cọc tiền phòng tại văn phòng giao dịch của chúng tôi hoặc chuyển khoản tới tài khoản ngân hàng của chúng tôi (Xem danh mục ngân hàng thanh toán).Quý Khách thanh toán bằng tiền mặt tại văn phòng aquila.com.vn chuyển khoản trong vòng 24 giờ từ lúc thực hiện giao dịch. Sau thời hạn này nếu Quý Khách không thanh toán mã đặt phòng của Quý Khách sẽ bị huỷ</li>
        <li>Số tiền thanh toán: Chúng tôi thực hiện chính sách đặt phòng trước thanh toán sau. Do vậy, chúng tôi chỉ thu tiền cọc của Quý Khách cho các giao dịch đặt phòng. Số tiền còn lại Quý Khách thanh toán khi sử dụng dịch vụ tại khách sạn</li>
    </ul>

<p ><span>3. Xác nhận thông tin đặt phòng:</span></p>
<ul class="staticTextul"><li>Những thông tin đặt phòng, mã xác nhận đặt phòng sẽ được chúng tôi gửi email cho Quý Khách để xác nhận việc đặt phòng .
Giao dịch đặt phòng của Quý Khách chỉ có hiệu lực khi chúng tôi nhận được thanh toán của Quý Khách. Việc đặt phòng của Quý Khách bị hủy bỏ nếu Quý Khách không thực hiện thanh toán trong vòng 24 giờ tính từ lúc đặt phòng trên trang aquila.com.vn Chúng tôi không thể chắc chắn bất kỳ thông tin đặt phòng nào cho đến khi chúng tôi gửi email xác nhận đã nhận được thanh toán.
</li></ul>
<p ><span>4. Thay đổi thông tin đặt phòng:</span></p>
<ul class="staticTextul"><li>
Nếu Quý Khách muốn thay đổi thông tin đặt phòng, vui lòng liên hệ Bộ Phận Chăm Sóc Khách Hàng qua số điện thoại 08.36027684. Chúng tôi sẽ cố gắng để hỗ trợ Quý Khách một cách tốt nhất, tuy nhiên chúng tôi không đảm bảo  mọi yêu cầu thay đổi sẽ thực hiện được.  Việc thay đổi đặt phòng như nhu cầu của quý khách được thực hiện tuỳ vào chính sách huỷ phòng của từng khách sạn. 
Chúng tôi khuyến cáo Quý Khách đọc kỹ chính sách huỷ phòng khi thực hiện đặt phòng. Chúng tôi cũng thu phí quản lý  cho các yêu cầu thay đổi đặt phòng/thông tin hủy phòng được chấp nhận, (phí cộng thêm ngoài mức phí huỷ phòng của nhà cung cấp phòng), bấm aquila.com.vn  để biết thêm phí quản lý.
Số tiền cọc của Quý Khách chỉ được hoàn lại trong trường hợp Quý Khách huỷ/thay đổi đặt phòng không thành công và không vi phạm chính sách điều chỉnh/huỷ phòng hoặc không đến của Khách sạn. Số tiền cọc hoàn lại là số tiền sau khi đã trừ phí quản lý. 
</li></ul>
<p ><span>5. Thông tin thanh toán:</span></p>
<ul class="staticTextul"><li>
Chúng tôi không cung cấp thông tin chi tiết thẻ tín dụng của Quý Khách cho bất kỳ nhà cung cấp phòng nào. Tuy nhiên, để hạn chế việc sử dụng thẻ tín dụng giả mạo, nhân viên khách sạn có thể sẽ yêu cầu Quý Khách bổ sung giấy CMND hoặc hộ chiếu (passport) khi nhận phòng để xác nhận chủ thẻ. Một bản lưu của thẻ tín dụng / CMND hoặc hộ chiếu (passport) của Quý Khách cũng có thể được nhà cung cấp phòng giữ lại với mục đích loại trừ thẻ giả mạo, xác nhận nơi cấp thẻ tín dụng, trong trường hợp xảy ra sự cố. Những thông tin này có thể sẽ được nhân viên khách sạn cung cấp cho chúng tôi.
</li></ul>
<p ><span>6. Thông tin trên trang web:</span></p>
<ul class="staticTextul"><li>
Chúng tôi luôn nỗ lực hiển thị các thông tin (bao gồm hình ảnh khách sạn) chính xác trên trang web. Tuy nhiên xin lưu ý các thông tin bao gồm hình ảnh cũng được chỉnh sửa từ nhà cung cấp phòng, do đó chúng tôi không đảm bảo được những tất cả thông tin trên là hoàn toàn chính xác hoặc không có bất kỳ sai sót nào. Chúng tôi bảo lưu quyền thay đổi thông tin hiển thị trên trang web (bao gồm Điều khoản và Điều kiện này ) bất kỳ thời điểm nào mà không phải báo trước.
</li></ul>
<p ><span>7. Trách nhiệm:</span></p>
<ul class="staticTextul"><li>
Những qui định hay giới hạn được miễn trừ:
Chúng tôi sẽ không chịu trách nhiệm với bất kỳ thiệt hại, mất mát, trách nhiệm, khiếu nại hoặc khoản phí nào (bao gồm những nguyên nhân sau: sự bất cẩn gây hậu quả trực tiếp hay gián tiếp gây ra) được phát sinh từ trang web chúng tôi liên quan đến những sản phẩm hay những dịch vụ được thực hiện trên trang này.
Chúng tôi không bảo đảm hay là người đại diện cho những sản phẩm phòng ở hay dịch vụ nào trên trang web hoặc các trang kết nối. Ở đây trách nhiệm của chúng tôi chỉ cho phép thực hiện việc đặt phòng . Chúng tôi cam kết cho thuê phòng còn trống được cung cấp bởi các khách sạn thành viên, và không cho bán số phòng nhiều hơn số phòng chúng tôi có (chúng tôi không chịu trách nhiệm với lý do không có phòng trống vì khách sạn đã cho thuê vượt quá số phòng).
 </li></ul>
<p ><span>8.Ý kiến đóng góp:</span></p>
<ul class="staticTextul"><li>
Chúng tôi luôn mong muốn giải quyết những đề xuất hoặc thắc mắc một cách nhanh chóng và công bằng nhất. Mọi ý kiến đóng góp xin gửi email về booking@aquila.com.vn. Hoặc liên hệ Bộ Phận Chăm Sóc Khách Hàng
- 131, Tây Thạnh, phường Tây Thạnh, quận Tân Phú, thành phố Hồ Chí Minh. Điện thoại : 848 3602.7684 - 848 3602.7685
 </li></ul>
<p ><span>9. Bản quyền:</span></p>
<ul class="staticTextul"><li>Các hình ảnh khách sạn do khách sạn cung cấp, Quý khách không được phép sao chép hoặc được sử dụng lại hình ảnh và nội dung trên aquila.com.vn trên các trên trang web khác hoặc cho các mục đích khác.
 </li></ul>
</div>
</div>