* {
    margin: 0;
    padding: 0;
}
body {
    background:url(../images/bg.jpg);
    color: #000;
    font-family: 'Lato',Arial;
    font-size: 14px;
	line-height:20px;
}
a {
    color: #1b75bb;
    text-decoration: none;
}
li {
    list-style: none outside none;
}
img {
    border: 0 none;
}
.clear {
    clear: both;
}
.main {
	width:980px;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
}
.header {
	height:100px;
	position:relative;
}
.logo {
	float:left;
}
.right-header {
	float:right;
}
.top-hea {
	float:right;
}
.top-hea a {
	color:#fff;
	margin-left:20px;
	background:url(../images/mui.png) no-repeat right;
	padding-right:30px;
	font-weight:bold;
	display:block;
	float:left;
}
.top-hea  span {
	background:url(../images/bg-englist.png) repeat-x;
	border-radius:7px 7px;
	padding:5px 10px;
	color:#1870ec;
}
.menu-hea {
	float:right;
	margin-top:15px;
	padding-top:15px;
	border-top:1px solid #ddd;
}
.menu-hea li {
	float:left;
	margin-left:20px;
}

.menu-hea li a {
	color:#fff;
}
.nav {
	overflow:hidden;
	margin-bottom:10px;
}
.nav li {
	float:left;
	margin-right:20px;
}
.nav li a {
	color:#fff;
}
.box-main {
	margin-bottom:5px;
	min-height:187px;
}
.box-left {
	float:left;
	width:500px;
	margin-right:5px;
}
.box-right {
	float:right;
	width:475px;
}
.box {
	border-radius:10px 10px;
	background:#fff;
	border:1px solid #d4e3f1;
	-moz-box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px#333;
	box-shadow: 0 0 5px #333;
	margin-bottom:5px;
}
.box .title {

	padding:10px;
	color:#1870ec;
	font-size:18px;
	background:url(../images/bg-title.png) repeat-x bottom;
}
.box .text {
	padding:10px;
	margin-top:5px;
	overflow:hidden;
}
.search input {
	border:1px solid #5295ca; 
	border-radius:7px 7px;
	height:25px;
}
.search p {
	height:40px;
}
.search label {
	float:left;
	font-size:16px;
	margin-right:20px;
	display:block;
	width:50px;
}
.search button {
	background:#1b75bb;
	border-radius:7px 7px;
	border:0px;
	padding:5px 10px;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}
.slider {
	background:#fff;
	padding:5px;
	height:136px;
	border-radius:7px 7px;
	margin-top:42px;
}
.slide {
	width:100%;
}
.slider img  {
	width:100%;
	border-radius:10px 10px;
	height:135px;
}
.effectContainer{
	height:137px;
}
.fadenav {
	overflow:hidden;
	position:absolute;
	z-index:10000;
	right:20px;
	bottom:10px;
}
.fadenav a {
	background:#f9e708;
	width:10px;
	height:10px;
	border-radius:20px;
	display:block;
	float:left;
	margin-right:5px;
}
.fadenav a.current {
	background:#f90308;
}
.travel-main {
	overflow:hidden;
}
.travel-left {
	float:left;
	width:700px;
}
.travel-right {
	float:right;
	width:230px;
}
.travel-left img {
	float:left;
	width:200px;
	margin-right:10px;
}
.travel-right {
	line-height:30px;
	border-left:1px solid #ccc;
	padding-left:20px;
}
.cols span {
	padding:3px;
	background:#1b75bb;
	border-radius:5px 5px;
	color:#fff;
}
.cols label {
	width:130px;
	display:inline-block;
}
h3 {
	color:#1870EC;
}
.line-chay {
	overflow:hidden;
}
.line-chay li {
	float:left;
	text-align:center;
	margin-left:10px;
}
.line-chay li img {
	width:228px;
	height:220px;
	border-radius:10px 10px;
	display:block;
	margin-bottom:5px;
}
.footer {
	overflow:hidden;
	color:#1b75bb;
	background:#fff;
	border-radius:10px 10px;
	padding:20px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px#000;
	box-shadow: 0 0 5px #000;
}
.footer li {
	float:left;
}
.footer li a {
	color:#1b75bb;
	display:block;
	width:200px;
}
.footer li.addres {
	border-left:1px solid #1b75bb;
	padding-left:10px;
}
.box-social {
	position:absolute;
	right:0px;
	bottom:-50px;
}
.box-fac {
	overflow:hidden;
	background:#b7d6f5;
	border:1px solid #97bbfd;
}
.box-fac a {
	background-image:url(../images/like.png);
	display:block;
	float:left;
}
.twter {
	background-position:0px -24px;
	width:27px;
	height:25px;
}
.face {
	background-position:-27px -50px;
	width:27px;
	height:25px;
}
.like {
	background-position:-63px -50px;
	width:45px;
	height:25px;
	margin-left:10px;
}
.mail {
	background-position:-110px -50px;
	width:37px;
	height:25px;
	margin-left:10px;
	margin-right:5px;
}
.box-like {
	background:#b7d6f5;
	border:1px solid #97bbfd;
	padding:3px;
	margin-top:3px;
}
.cols-la {
	padding:10px;
	line-height:30px;
}
.cols-la label {
	width:auto;
	margin-right:30px;
}
.box-de {
	overflow:hidden;
	padding:10px;
	color:#1B75BB;
	line-height:25px;
}
.box-de img {
	width:40%;
	margin-right:10px;
	float:left;
}
.read-more {
	background: none repeat scroll 0 0 #1B75BB;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    padding: 3px 10px;
	display:block;
	float:right;
}
.hot-deal {
	background:url(../images/hot.jpg) no-repeat bottom;
	height:470px;
}
.deal-phan {
	line-height:30px;
	color:#0d00df;
	width:350px;
	margin:auto;
}
.line {
	border-bottom:1px solid #0d00df;
	margin-bottom:10px;
	margin-top:10px;
}
.content {
	overflow:hidden;
}
.left {
	overflow:hidden;
	width:320px;
	float:left;
}
.but-search {
	float:right;
	margin-right:10px;
	margin-top:10px;
}
.box-box {
	padding:10px;
}
.menu-left li {
	margin-bottom:7px;
	overflow:hidden;
}
.menu-left li a {
	color:#;
	padding-left:20px;
	background:url(../images/bg-menu-left.jpg) no-repeat 0px 3px;
}
.menu-left li a.botton {
	background: none repeat scroll 0 0 #1B75BB;
    border: 0 none;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
	float:right;
}
.hinh-pro {
	padding:10px;
}
.hinh-pro img {
	width:100%;
	border-radius:10px 10px;
	margin-top:30px;
}
.right {
	float:right;
	width:655px;
}
.review {
	font-size:14px;
	color:#f16522;
	float:right;
	font-weight:bold;
}
.line-review  li img{
	width:148px;
	height:140px;
}
.table-re {
	width:100%;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	margin-bottom:10px;
}
.table-re th{
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.table-re td{
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:5px;
	text-align:center;
}
.img-bo {
	width:150px;
	border-radius:10px 10px;
	display:inline-block;
}
.box-check {
	border:1px solid #1e75f5;
	border-radius:0px 0px 10px 10px;
}
.title-check {
	background:url(../images/cac-dd.jpg) repeat-x;
	height:30px;
	line-height:30px;
	color:#fff;
	font-weight:bold;
	padding-left:10px;
	overflow:hidden;
}
.title-check img {
	float:right;
}
.table-tngh {
	padding:10px;
	width:100%;
	background:#f5f5f5;
}
.table-tngh td.check {
	background:url(../images/co.jpg) no-repeat;
	padding-left:30px;
}
.table-tngh td.no {
	background:url(../images/khong.jpg) no-repeat;
	padding-left:30px;
}
.hea-kh .right-header {
	position:relative;
	top:-10px;
}
.hea-kh .box-social {
	bottom:-25px;
}
.pricing{
    border-right: 1px solid #3870f3;
    border-top: 1px solid #3870f3;
    margin-bottom: 10px;
    width: 100%;
}
.pricing td {
    border-bottom: 1px solid #3870f3;
    border-left: 1px solid #3870f3;
    padding: 10px;
    text-align: center;
}