
@{
    ViewBag.Title = "Hướng dẫn sử dung";
    Layout = "~/Views/Shared/_Layout_Post_Detail.cshtml";
}


<link href="~/ThemeBlue/css/SumIntro.css" rel="stylesheet" />

<div class="Div_introMain">
    <div style=" overflow: hidden; margin: 20px 5px 30px 0px;">
        <h1 class="Font1"><strong>Hướng dẫn sử dụng</strong></h1>
        <div class="Div_main">
            <div class="MenuTrai">
                <p><a href="/gioithieu">Giới thiệu</a></p>
                <p><a href="/quydinh">Quy định</a></p>
                <p class="Border_left"><a href="/huongdansudung"> Hướng dẫn sử dụng</a></p>
                <p><a href="/lienhe">Liên hệ</a></p>

            </div>
            <div class="Div_NoiDung">
                <!--dang nhap-->
                <p class="Font_2"><strong>1. Đăng Ký: </strong></p>
                <ul>
                    <li>Truy cập vào <a href="https://phochungkhoan.com/Account/Register/">https://phochungkhoan.com/Account/Register/</a></li>
                    <li>Điền các thông tin: địa chỉ email, tên đăng  nhập (username), họ và tên, mật khẩu.</li>
                </ul>
                <center>
                    <p><img src="/images/dangky.PNG" alt="dangky" width="370" height="436" class="CanhGiua" /></p>
                </center>
                <!--dang nhap-->
                <p class="Font_2"><strong> 2. Đăng nhập: </strong></p>
                <ul>
                    <li>Cách thứ 1: Đăng nhập bằng cách thông thường, nhập tên đăng nhập và mật khẩu đã đăng ký trước với Phochungkhoan.com<strong></strong></li>
                    <li>Cách thứ 2: Đăng nhập bằng tài khoản Facebook<strong></strong></li>
                    
                </ul>
                <center> <p><img src="/images/dangnhap.PNG" width="383" height="318" alt="dangnhap" /></p> </center>

                <!--chinh sua thong tin cá nhân-->

                <p class="Font_2"><strong>3. Tùy Chỉnh Thông Tin Cá Nhân: </strong></p>
                <p>Bấm chọn nút setting <img src="/images/nutTuychinh.PNG" width="34" height="34" alt="nuttuychinh" /> và chọn “Tùy Chỉnh” </p>
                <p>
                    <center>
                        <img src="/images/TuyChinh.png" width="269" height="197" alt="tuychinh" />
                    </center>
                </p>
                <ul>
                    <li>Cập nhật thông tin và bấm lưu:</li>
                </ul>
                <p>
                    <center>
                        <img src="/images/tuychinh_bentrong.PNG" width="489" height="527" alt="luutai" />
                    </center>
                </p>

                <!--đăng bài viết-->

                <p class="Font_2"><strong>4. Đăng bài viết: </strong></p>
                <ul>
                    <li>Nhấn chuột vào ô viết bài như hình:<strong></strong></li>
                    <p>
                        <center>
                            <img src="/images/postbai.PNG" width="528" height="136" alt="phim" />
                        </center>
                    </p>
                    <li>Chèn mã cổ phiếu bằng ký tự <strong>$</strong> trước mỗi cổ phiếu (ví dụ <strong>$VNM</strong> là cổ phiếu vinamilk). <span style="color:red">Chú ý: </span> phải có <strong>$mãcổphiếu</strong> thì bài viết mới được đưa lên <strong>toàn thị trường</strong>, nếu không có bài viết chỉ nằm ở trang cá nhân. </li>
                    <li>Gửi thông tin bài viết này cho người sử dụng khác bằng cách <strong>&#64;username</strong> (ví dụ <strong>&#64;tomtruong.</strong>)<span style="color:red" > Chú ý: </span> nếu có <strong>&#64;tênđăngnhập</strong> thì bài viết này sẽ được gửi thằng vào hộp tin nhắn của người sử dụng đó.</li>
                    <li>Chèn ảnh bằng nút<img src="/images/chenanh.PNG" width="43" height="35" alt="chupanh" /></li>
                    <li>Nhận định Tăng/Giảm bằng click chọn nút<img src="/images/nuttanggiam.PNG" width="97" height="33" alt="tanggiam" /></li>
                    <li>Kết thúc Post bài bằng nút<img src="/images/nutphim.PNG" width="70" height="35" alt="phim" /></li>
                </ul>

                <!--trả lời bài viết-->

                <p class="Font_2"><strong>5. Trả Lời Bài Viết: </strong></p>
                <ul>
                    <li>Click vào nút <img src="/images/nuttraloi.PNG" width="52" height="27" alt="traloi" /> trong mỗi bài viết<strong></strong></li>
                    <li>Bắt đầu <strong>trả  lời </strong>giống như post bài.<strong></strong></li>
                </ul>

                <p>
                    <center>
                        <img src="/images/comment.png" width="551" height="232" alt="comment" />
                    </center>
                </p>

                <!--follow another user-->
                <p class="Font_2"><strong>6. Theo Dõi Thành Viên Khác: </strong></p>
                <p>Vào  trang Cá Nhân của Thành Viên Khác, click chọn nút <img width="81" height="32" src="/images/Buttontheodoi.png" /> </p>
                <p>
                    <center>
                        <img src="/images/theodoi.png" width="541" height="158" alt="theodoi" />
                    </center>
                </p>

                <!-- xem bài nhận định tại phochungkhoan.com-->

                <p class="Font_2"><strong>7. Cách xem bài viết trên PhoChungKhoan.Com</strong></p>
                <ul>
                    <li>
                        <strong>Có 05 kiểu lọc bài viết:</strong>
                        <p>a. Lọc bài viết theo Toàn thị trường </p>
                        <p>b. Lọc bài viết theo Biểu Đồ </p>
                        <p>b. Lọc bài viết theo Biểu Đồ </p>
                        <p>c. Lọc bài viết theo Tăng/Giảm </p>
                        <p>d. Lọc bài viết theo Người Theo Dõi </p>
                        <p>e. Lọc bài viết theo Cổ phiếu theo dõi </p>
                    </li>
                </ul>
                <p>
                    <center>
                        <img src="/images/boloc.PNG" width="416" height="560" alt="boloc" />
                    </center>
                </p>

            </div>

        </div>
    </div>
</div>


