
@{
    ViewBag.Title = "Hướng dẫn sử dung";
    Layout = "~/Views/Shared/_Layout_Post_Detail.cshtml";
}


<link href="~/ThemeBlue/css/SumIntro.css" rel="stylesheet" />

<div class="Div_introMain">
    <div style=" overflow: hidden; margin: 20px 5px 30px 0px;">
        <h1 class="Font1"><strong>Liên hệ</strong></h1>
        <div class="Div_main">
            <div class="MenuTrai">
                <p><a href="/gioithieu">Giới thiệu</a></p>
                <p><a href="/quydinh">Quy định</a></p>
                <p class="Border_left"><a href="/huongdansudung"> Hướng dẫn sử dụng</a></p>
                <p><a href="/lienhe">Liên hệ</a></p>

            </div>
            <div class="Div_NoiDung">
                <p>
                    <strong class="Font_2">Cách  Post Bài:</strong><br />
                    Đưa con  trỏ chuột vào ô Post bài và tag mã cổ phiếu ($VNM) để được hiện lên toàn thị  trường. Bài viết không có tag $ sẽ không hiện lên toàn thị trường mà sẽ hiện  trên site cá nhân của user.
                </p>
                <p><img src="/images/userguild_image1.jpg" width="720" alt="Hinh1" /></p>
                <p>
                    <strong class="Font_2">Cách Trả lời bài viết:</strong><br />
                    Bước 1:  Click vào bài viết muốn trả lời
                </p>
                <p><img src="/images/userguild_image2.png" width="720" alt="Hinh2" /></p>
                <p>Bước 2: Màn hình hiển thị như sau, bạn viết  comment và click vào nút <img src="/images/NutTraLoi.png" width="84" height="31" alt="NutTraLoi" /></p>
                <p><img src="/images/userguild_image3.png?w=720" width="720" alt="Hinh3" /></p>
                <p class="Font_2"><strong>Các  hướng dẫn chức năng khác xin vui lòng xem thêm ở đây:</strong></p>
                <p>	<a target="_blank" href="/documents/Huongdan_PhoChungKhoan.pdf">Hướng dẫn sử dung</a></p>
                <p>
                </p>                

            </div>

        </div>
    </div>
</div>


