@{
    ViewBag.Title = "Quy định";
    Layout = "~/Views/Shared/_Layout_Post_Detail.cshtml";
}

<link href="~/ThemeBlue/css/SumIntro.css" rel="stylesheet" />

<div class="Div_introMain">
    <div style=" overflow: hidden; margin: 20px 5px 30px 0px;">
        <h1 class="Font1"><strong>Quy định</strong></h1>
        <div class="Div_main">
            <div class="MenuTrai">
                <p><a href="/gioithieu">Giới thiệu</a></p>
                <p class="Border_left"><a href="/quydinh">Quy định</a></p>
                <p><a href="/huongdansudung"> Hướng dẫn sử dụng</a></p>
                <p><a href="/lienhe">Liên hệ</a></p>
            </div>
            <div class="Div_NoiDung">
                <p class="Font2"><strong>Tên  Nick và Tên Người Dùng</strong></p>
                <ul>
                    <li>Không  được đặt nick theo tên các vị lãnh tụ của Việt Nam, các vị lãnh đạo của Nhà nước  và các quan chức của Chính phủ, các danh nhân Việt Nam.</li>
                    <li>Nghiêm  cấm đặt tên nick đả kích thành viên khác, đặt tên nick có nội dung tục tĩu, phản  cảm, không phù hợp thuần phong mỹ tục Việt Nam.</li>
                    <li>Nghiêm  cấm việc nhái nick giữa các thành viên. Nhái nick là việc tạo ra và sử dụng một  nick có tên, ảnh đại diện, chữ ký, blast và thông tin các nhân gần giống với một  nick có trước đó, nhằm cố tình gây nhầm lẫn giữa 2 nick với nhau.</li>
                    <li>Nghiêm  cấm mạo danh người khác. Nếu người bị mạo danh than phiền thì sẽ khóa nick vĩnh  viễn. Nếu có hành vi lừa đảo sẽ bị áp dụng khung hình phạt cao nhất là khóa,  xóa nick và các bài viết liên quan (sau khi đã chứng thực cả đôi bên).</li>
                </ul>
                <p class="Font2"><strong>Ảnh Đại Diện và Hình Nền</strong></p>
                <ul>
                    <li>Nghiêm  cấm dùng hình ảnh các vị lãnh tụ của Việt Nam, Quốc Kỳ, Quốc Huy, các chính trị  gia, danh nhân Việt Nam.</li>
                    <li>Nghiêm  cấm dùng các hình ảnh có tính chất đồi trụy, khêu gợi, trái với thuần phong mỹ  tục.</li>
                </ul>
                
                <p class="Font2"><strong>Thỏa  Thuận Cung Cấp Dịch Vụ xem:</strong></p>
                <p class="Font2"><strong><span class="Font1"><a target="_blank" href="/documents/ThoathuanCungcapDichvu.pdf">Tại đây</a></span></strong></p>
                
                

            </div>

        </div>
    </div>
</div>
