<div><h4>@ViewBag.StockName</h4> <a href="#">@ViewBag.LongName</a></div>
<div class="clear stock-detail-index-box" id="stockPriceDivId">
    <div class="stock-id-box f-left RED_Price">
        <strong>@ViewBag.StockCode</strong><br>
        <div>@ViewBag.MarketName</div>
    </div>
    <div class="stock-detail-content f-left">
        <div>
            <strong class="f-left" data-bind="text:FinishPrice"></strong>
            <div class="cRed f-left" data-bind="css:ColourChange()">
                <div class="f-left" style="width: 16px; font-size: 16px; padding-top: 20px;"><i class="fa fa-sort-down" style="display:none"></i></div>
                <div class="f-left" style=" width: 50px; font-size: 2rem; margin-top: 0px;"><div data-bind="text:Diff"></div> <div data-bind="text:DiffRateChange()"></div></div>

            </div>
        </div>
        <div class="clear stock-lastupdate-time">
            LAST UPDATE 4:55 PM EST NOV 28
        </div>
    </div>
</div>
