<div><h3>Alibaba</h3> <a href="#">Internet Software & Services</a></div>
<div class="clear stock-detail-index-box">
    <div class="stock-id-box f-left">
        <strong>BABA</strong><br>
        <div>NYSE</div>
    </div>
    <div class="stock-detail-content f-left">
        <div>
            <strong class="f-left">111.57</strong>
            <div class="cRed f-left">
                <div class="f-left" style="width: 16px; font-size: 16px; padding-top: 20px;"><i class="fa fa-sort-down"></i></div>
                <div class="f-left" style="width: 50px; font-size: 2rem; margin-top: 0px;">1.13 (1.00%)</div>
            </div>
        </div>
        <div class="clear stock-lastupdate-time">
            LAST UPDATE 4:55 PM EST NOV 28
        </div>
    </div>
</div>
