<!DOCTYPE html>

<html>
<head>
	<title>HTML5/CSS3</title>
	<meta charset = "utf-8"/>
	<link rel="stylesheet" href="style.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
</head>
<body class="body">
	<header class="mainHeader">
		<img src="company_logo.jpg" width="300px" height="200px" />
		<nav>
			<ul>
				<li  class="active"><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	
	<div class="mainContent">
		<div class="content">
			<article class="topcontent">
				<header>
					<h2><a href="#" title="First post">First post</a></h2>
				</header>
				
				<footer>
					<p class="post-info"> This post is written by Christain </p>
					
				</footer>
				<content>
					<p>
						In the Highcharts Forum you'll find questions and answers, and can discuss anything with the Highcharts developers directly. A large community is ready to help you, and our support engineers monitor the forum and attends to unanswered questions daily on business days
					</p>
					<p>
						In the Highcharts Forum you'll find questions and answers, and can discuss anything with the Highcharts developers directly. A large community is ready to help you, and our support engineers monitor the forum and attends to unanswered questions daily on business days
					</p>
				</content>
			</article>
			
			<article class="bottomcontent">
				<header>
					<h2><a href="#" title="First post">Second post</a></h2>
				</header>
				
				<footer>
					<p class="post-info"> This post is written by Christain </p>
					
				</footer>
				<content>
					<p>
						In the Highcharts Forum you'll find questions and answers, and can discuss anything with the Highcharts developers directly. A large community is ready to help you, and our support engineers monitor the forum and attends to unanswered questions daily on business days
					</p>
					<p>
						In the Highcharts Forum you'll find questions and answers, and can discuss anything with the Highcharts developers directly. A large community is ready to help you, and our support engineers monitor the forum and attends to unanswered questions daily on business days
					</p>
				</content>
			</article>
		</div>
		<aside class="top-sidebar">
			<article>
				<h2>Top sidebar</h2>
				<p>Do you want to use products for a personal website, a school site or a non-profit </p>
			</article>
		</aside>
		
		<aside class="middle-sidebar">
			<article>
				<h2>Middle sidebar</h2>
				<p>Do you want to use products for a personal website, a school site or a non-profit </p>
			</article>
		</aside>
		
		<aside class="bottom-sidebar">
			<article>
				<h2>Bottom sidebar</h2>
				<p>Do you want to use products for a personal website, a school site or a non-profit </p>
			</article>
		</aside>		
	</div>
	
	
	
	<footer class="mainFooter">
		<p>CopyRight &copy ; <a href="#">1stwebdesigner.com</a></p>
	</footer>
	
</body>

</html>

