<table class="form-table">
    <tbody>
        <tr>
            <th>
                <label for="user_avatar">Cover:</label>
            </th>
            <td>
                <img alt="Default_avatar_medium" src="~/@ViewBag.ImageUrlCover" height="200" width="800">

                <br>
                <input id="user_avatar" name="user[avatar]" type="file">
                <br>
                <span class="hint">Maximum size of 700 kb. JPG, GIF, or PNG.</span>
                <span class="hint">Images will automatically be cropped to a square.</span>
            </td>
        </tr>
        <tr>
            <th></th>
            <td><input class="btn btn-default" name="commit" style="margin-bottom: 0;" type="submit" value="Upload cover"></td>
        </tr>

    </tbody>
</table>
