
@{
    ViewBag.Title = "Quản lý tài khoản";
}

<ul style="margin:20px">
    <li>@Html.ActionLink("Đổi mật khẩu", "Manage", "Account")</li>
    <li>@Html.ActionLink("Cập nhật thông tin", "Profile", "Account")</li>
   
</ul>

