@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container menu">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="#">Fuji recored</a></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
    <div>
        <div class="row enigma_blog_wrapper">
            <div class="col-md-8">

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white;
vertical-align:baseline'>
                    <b>
                        <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#262626'>
                            Chia s&#7867;
                            r&#7911;i ro v&#7899;i khách hàng
                        </span>
                    </b>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        &#272;ây là c&#417; ch&#7871; h&#7907;p tác mà nhà qu&#7843;n lý
                        &#273;&#7847;u t&#432; có chia s&#7867; r&#7911;i ro v&#7899;i khách hàng trong
                        tr&#432;&#7901;ng h&#7907;p th&#7883; tr&#432;&#7901;ng b&#7845;t l&#7907;i
                        d&#7851;n &#273;&#7871;n danh m&#7909;c b&#7883; l&#7895;.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        Th&#7901;i h&#7841;n h&#7907;p tác &#273;&#7847;u t&#432;:&nbsp;T&#7889;i
                        thi&#7875;u m&#7897;t (01) n&#259;m.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        C&#417; ch&#7871; tính phí th&#432;&#7903;ng và phí ph&#7841;t
                        s&#7869; thay &#273;&#7893;i theo t&#7915;ng khung t&#7927; su&#7845;t sinh
                        lãi, c&#7909; th&#7875; nh&#432; sau:
                    </span>
                </p>

                <p class=MsoNormal align=center style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;
background:white'>
                    <img width=414 height=184 id="Picture 4"
                         src="/images/chiaseruiro001.jpg">
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        Khách hàng không &#273;&#432;&#7907;c ch&#7845;m d&#7913;t
                        h&#7907;p &#273;&#7891;ng tr&#432;&#7899;c h&#7841;n. Trong tr&#432;&#7901;ng
                        h&#7907;p khách hàng ch&#7845;m d&#7913;t h&#7907;p &#273;&#7891;ng
                        tr&#432;&#7899;c h&#7841;n ho&#7863;c rút ti&#7873;n khi ch&#432;a h&#7871;t
                        th&#7901;i h&#7841;n h&#7907;p tác qu&#7843;n lý &#273;&#7847;u t&#432; cam
                        k&#7871;t ban &#273;&#7847;u thì:
                    </span><span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#262626'>&nbsp;</span>
                </p>

                <p class=MsoListParagraphCxSpFirst style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        N&#7871;u&nbsp;NAV hi&#7879;n
                        t&#7841;i &gt; NAV ban &#273;&#7847;u:&nbsp;<b>FIN</b>
                    </span><b>
                        <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#B2B2B2'>AND</span>
                    </b><b>
                        <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#262626'>LIFE</span>
                    </b><span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        s&#7869; &#273;&#432;&#7907;c h&#432;&#7903;ng thù lao theo
                        th&#7887;a thu&#7853;n bên trên và khách hàng ph&#7843;i ch&#7883;u b&#7891;i
                        th&#432;&#7901;ng thi&#7879;t h&#7841;i cho <b>FIN</b>
                    </span><b>
                        <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#B2B2B2'>AND</span>
                    </b><b>
                        <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#262626'>LIFE,</span>
                    </b><span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        m&#7913;c b&#7891;i th&#432;&#7901;ng là 2%/n&#259;m, tính trên
                        NAV ban &#273;&#7847;u.&nbsp;
                    </span>
                </p>

                <p class=MsoListParagraphCxSpLast style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        N&#7871;u&nbsp;NAV hi&#7879;n
                        t&#7841;i &lt; NAV ban &#273;&#7847;u:&nbsp;Khách hàng ph&#7843;i ch&#7883;u
                        100% r&#7911;i ro.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <u>
                        <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>Minh h&#7885;a c&#417; ch&#7871; h&#7907;p tác:</span>
                    </u>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        Khách hàng A s&#7917; d&#7909;ng d&#7883;ch v&#7909; qu&#7843;n
                        lý &#273;&#7847;u t&#432; c&#7911;a <b>FIN</b>
                    </span><b>
                        <span lang=EN-US
                              style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#B2B2B2'>AND</span>
                    </b><b>
                        <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#262626'>LIFE</span>
                    </b><span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        . Sau th&#7901;i h&#7841;n h&#7907;p tác cam k&#7871;t, 2 bên
                        s&#7869; cùng tính toán hi&#7879;u qu&#7843; &#273;&#7847;u t&#432; và
                        x&#7843;y ra các tình hu&#7889;ng sau:
                    </span>
                </p>

                <p class=MsoNormal align=center style='text-align:center'>
                    <img width=624
                         height=227 id="Picture 6" src="/images/chiaseruiro001.jpg">
                </p>


            </div>
            <div class="col-md-4">
                @Html.Partial("~/Views/Shared/_BoxRight.cshtml")
            </div>
        </div>
    </div>
</div>





