@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container menu">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="#">Fuji recored</a></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
    <div>
        <div class="row enigma_blog_wrapper">
            <div class="col-md-8">

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%'>
                    <b>
                        <span lang=EN-US
                              style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                            Cam k&#7871;t không h&#432;&#7903;ng phí qu&#7843;n lý &#273;&#7847;u
                            t&#432; n&#7871;u t&#7927; su&#7845;t sinh lãi th&#7845;p h&#417;n 10%
                        </span>
                    </b>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        Ch&#7881; th&#432;&#7903;ng hi&#7879;u qu&#7843; cho nhà
                        qu&#7843;n lý &#273;&#7847;u t&#432; khi t&#7927; su&#7845;t l&#7907;i
                        nhu&#7853;n &#273;&#7841;t t&#7889;i thi&#7875;u 10%/n&#259;m.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        Phí th&#432;&#7903;ng hi&#7879;u qu&#7843;: 30% ph&#7847;n
                        l&#7907;i nhu&#7853;n v&#432;&#7907;t 10%/n&#259;m.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        Th&#7901;i h&#7841;n h&#7907;p tác &#273;&#7847;u t&#432;:&nbsp;T&#7889;i
                        thi&#7875;u m&#7897;t (01) n&#259;m.
                    </span>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <u>
                        <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>Minh h&#7885;a c&#417; ch&#7871; h&#7907;p tác:</span>
                    </u>
                </p>

                <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        Khách hàng A s&#7917; d&#7909;ng d&#7883;ch v&#7909; qu&#7843;n
                        lý &#273;&#7847;u t&#432; c&#7911;a <b>FIN</b>
                    </span><b>
                        <span lang=EN-US
                              style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#B2B2B2'>AND</span>
                    </b><b>
                        <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#262626'>LIFE</span>
                    </b><span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        . Sau th&#7901;i h&#7841;n h&#7907;p tác cam k&#7871;t, 2 bên
                        s&#7869; cùng tính toán hi&#7879;u qu&#7843; &#273;&#7847;u t&#432; và
                        x&#7843;y ra các tình hu&#7889;ng sau:
                    </span>
                </p>

                <p class=MsoListParagraphCxSpFirst style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        Tình hu&#7889;ng 1: N&#7871;u
                        t&#7927; su&#7845;t l&#7907;i nhu&#7853;n &#273;&#7841;t t&#7915; 0%
                        &#273;&#7871;n 10% thì toàn b&#7897; l&#7907;i nhu&#7853;n s&#7869; thu&#7897;c
                        v&#7873; khách hàng A.
                    </span>
                </p>

                <p class=MsoListParagraphCxSpMiddle style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        Tình hu&#7889;ng 2: N&#7871;u
                        l&#7907;i nhu&#7853;n &#273;&#7841;t 30%, thì 10% &#273;&#7847;u tiên thu&#7897;c
                        v&#7873; khách hàng, ph&#7847;n 20% còn l&#7841;i s&#7869; &#273;&#432;&#7907;c
                        chia 70% cho khách hàng, 30% phí th&#432;&#7903;ng hi&#7879;u qu&#7843; cho nhà
                        qu&#7843;n lý &#273;&#7847;u t&#432;. Ví d&#7909;: <b>FIN</b>
                    </span><b>
                        <span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#B2B2B2'>AND</span>
                    </b><b>
                        <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:"Cambria","serif";color:#262626'>LIFE</span>
                    </b><span lang=EN-US style='font-size:13.0pt;line-height:150%;font-family:"Cambria","serif";
color:#262626'>
                        giúp khách hàng A sinh lãi 30 tri&#7879;u &#273;&#7891;ng trên
                        v&#7889;n &#273;&#7847;u t&#432; ban &#273;&#7847;u 100 tri&#7879;u
                        &#273;&#7891;ng (t&#432;&#417;ng &#273;&#432;&#417;ng t&#7927; su&#7845;t
                        l&#7907;i nhu&#7853;n 30%). 10 tri&#7879;u &#273;&#7891;ng l&#7907;i
                        nhu&#7853;n &#273;&#7847;u tiên &#273;&#432;&#417;ng nhiên thu&#7897;c v&#7873;
                        khách hàng. Ph&#7847;n 20 tri&#7879;u còn l&#7841;i, khách hàng A s&#7869;
                        ti&#7871;p t&#7909;c h&#432;&#7903;ng 70%*20 tri&#7879;u = 14 tri&#7879;u
                        &#273;&#7891;ng. Phí th&#432;&#7903;ng hi&#7879;u qu&#7843; cho nhà qu&#7843;n
                        lý &#273;&#7847;u t&#432; s&#7869; là 30%*20 tri&#7879;u = 6 tri&#7879;u
                        &#273;&#7891;ng. Nh&#432; v&#7853;y, trong k&#7923; khách hàng A thu v&#7873; lãi
                        ròng 24 tri&#7879;u &#273;&#7891;ng.
                    </span>
                </p>

                <p class=MsoListParagraphCxSpLast style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:54.0pt;text-align:justify;text-indent:-18.0pt;
line-height:150%;background:white'>
                    <span lang=EN-US style='font-size:13.0pt;
line-height:150%;font-family:Wingdings;color:#262626'>
                        §<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;
                        </span>
                    </span><span lang=EN-US style='font-size:13.0pt;line-height:150%;
font-family:"Cambria","serif";color:#262626'>
                        Tình hu&#7889;ng 3: N&#7871;u
                        kho&#7843;n &#273;&#7847;u t&#432; ghi nh&#7853;n l&#7895;, khách hàng A
                        ch&#7883;u toàn b&#7897; ph&#7847;n l&#7895;.
                    </span>
                </p>

            </div>
            <div class="col-md-4">
                @Html.Partial("~/Views/Shared/_BoxRight.cshtml")
            </div>
        </div>
    </div>
</div>





