@model PhimHang.Models.UserLogin
<div class="user-info2">
    <div class="user-profile">
        <div class="user-img-2">
            <img src="@ViewBag.AvataImageUrl" alt="cover">
        </div>
    </div>
    <div class="user-name2">
        @Model.FullName
        <i class="fa  fa-check-circle">&nbsp;</i>
    </div>
    <div class="user-position">
        Trưởng phòng mô giới<br>
        Công ty chứng khoán Hải Phòng
    </div>
    <div class="user-info-detail">
        <div><i class="fa fa-map-marker"></i> &nbsp;Trưởng phái đầu tư: Cơ bản</div>
        <div><i class="fa fa-unlink"></i> Kinh nghiệm chứng trường: 9 năm</div>
        <div><i class="fa fa-clock-o"></i> Giới thiệu bản thân</div>
        <div class="user-info-intro">
            Tôi là một trong những nhà đầu tư thành công nhất Việt Nam
        </div>
        <div class="user-info-mypage">
            <p><i class="fa fa-home"></i> Homepage:</p>
            <a href="#">www.facebook.com/abc</a>
            <a href="#">www.twitter.com/abc</a>
            <a href="#">www.bbc.co.uk/abc</a>
        </div>
    </div>
</div> 