<!--Logo-->
@Html.Partial("~/Views/Shared/_Logo.cshtml")
<!--End logo-->

@Html.Partial("~/Views/Shared/_Menu.cshtml")

<!--End Menu-->
<!--Slide Show-->

<!--End Slide Show-->
@Html.Partial("~/Views/Shared/_Slide.cshtml")
<!--Catalogy-->
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-xs-6 text-left">
            <p class="catalogy-title">Sách khoa học</p>
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
            <button class="btn-link btn-md"><p><strong>Xem thêm</strong></p></button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
    </div>
    <!--------------------------------------->
    <div class="row">
        <div class="col-sm-6 col-xs-6 text-left">
            <p class="catalogy-title">Sách khoa học</p>
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
            <button class="btn-link btn-md"><p><strong>Xem thêm</strong></p></button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
    </div>
    <!--------------------------------------->
    <div class="row">
        <div class="col-sm-6 col-xs-6 text-left">
            <p class="catalogy-title">Sách khoa học</p>
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
            <button class="btn-link btn-md"><p><strong>Xem thêm</strong></p></button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://covers4.booksamillion.com/covers/bam/0/06/230/767/0062307673_b.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://covers1.booksamillion.com/covers/bam/1/25/006/594/1250065941_b.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://covers4.booksamillion.com/covers/bam/0/06/230/767/0062307673_b.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://covers1.booksamillion.com/covers/bam/1/25/006/594/1250065941_b.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://covers4.booksamillion.com/covers/bam/0/06/230/767/0062307673_b.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="http://covers1.booksamillion.com/covers/bam/1/25/006/594/1250065941_b.jpg" alt="Paris">
                <p><strong>Tài liệu 01</strong></p>
                <p>27 November 2015</p>
                <a href="#">Download<span class="badge">5</span></a><br>
            </div>
        </div>
    </div>

</div>


<!--End Catalogy-->