<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header  text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">THÔNG TIN ĐẦU TƯ</h4>
                <p>Vui lòng hoàn tất bản câu hỏi sau để chúng tôi có thể tư vấn cho quý khách tốt hơn</p>
            </div>
            <div class="modal-body">
                <div>
                    <p>1. Thời gian tham gia thị trường chứng khoán</p>
                    <div>
                        <div class="radio">
                            <label><input type="radio" name="timeJoinMarketGroup">Dưới 1 năm</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="timeJoinMarketGroup">Từ 1 đến 3 năm</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="timeJoinMarketGroup">Trên 3 năm</label>
                        </div>
                    </div>
                </div>
                <div>
                    <p>2. Thời gian đầu tư dự kiến</p>
                    <div>
                        <div class="radio">
                            <label><input type="radio" name="timePlanGroup">Dưới 1 năm</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="timePlanGroup">Từ 1 đến 3 năm</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="timePlanGroup">Trên 3 năm</label>
                        </div>
                    </div>
                </div>
                <div>
                    <p>3. Mức độ chấp nhận rủi ro</p>
                    <div>
                        <div class="radio">
                            <label><input value="1" type="radio" name="LevelRiskGroup">Thấp</label>
                        </div>
                        <div class="radio">
                            <label><input value="2" type="radio" name="LevelRiskGroup">Trung bình</label>
                        </div>
                        <div class="radio">
                            <label><input value="3" type="radio" name="LevelRiskGroup">Cao</label>
                        </div>
                    </div>
                </div>
                <div>
                    <p>4. Giá trị tài sản dự kiến đầu tư</p>
                    <div>
                        <div class="radio">
                            <label><input value="1" type="radio" name="InvesmentAmountGroup">Dưới 300 triệu</label>
                        </div>
                        <div class="radio">
                            <label><input value="2" type="radio" name="InvesmentAmountGroup">Từ 300 - 500 triệu</label>
                        </div>
                        <div class="radio">
                            <label><input value="3" type="radio" name="InvesmentAmountGroup">Từ 500 - 1 tỷ</label>
                        </div>
                        <div class="radio">
                            <label><input value="4" type="radio" name="InvesmentAmountGroup">Trên 1 tỷ</label>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        5. Cơ chế hợp tác quản lý đầu tư<br />
                        (Chi tiết vui lòng xem <a href="#">tại đây</a>)
                    </p>

                    <div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Theo Fuji Record:</label>
                        </div>
                        <div style="margin-left:22px">
                            <div class="radio">
                                <label><input type="radio" name="InvesmentWayGroup">Chia sẻ 20% lợi nhuận cho nhà quản lý đầu tư</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="InvesmentWayGroup">Cam kết không hưởng phí quản lý nếu tỷ suất sinh lãi thấp hơn 10%</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="InvesmentWayGroup">Chia sẻ rủi ro với khách hàng</label>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Theo danh mục Top Upgrade:</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align:left">
                <button type="button" class="btn btn-default BlackButton" data-dismiss="modal">ĐĂNG KÝ</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">ĐÓNG</button>
            </div>
        </div>

    </div>
</div>