@using PhimHang.Models;

@model ApplicationUser



    <div class="banner-header-white">DMDT</div>
    <div class="banner-item1">
        <div class="item-left">
            <a href="#">$GAS<br><span>PV GAS</span></a>
        </div>
        <div class="item-right">
            <strong>108.66</strong>
            <span class="bearish">
                <i class="fa fa-sort-down"></i><br>
                <span class="top-menu-point">
                    0.35 (0,32%)
                </span>
            </span>
        </div>
    </div>
    <div class="banner-item1">
        <div class="item-left">
            <a href="#">$GAS<br><span>PV GAS</span></a>
        </div>
        <div class="item-right">
            <strong>108.66</strong>
            <span class="bullish">
                <i class="fa fa-sort-up"></i><br>
                <span class="top-menu-point">
                    0.35 (0,32%)
                </span>
            </span>
        </div>
    </div>
    <div class="banner-item1">
        <div class="item-left">
            <a href="#">$GAS<br><span>PV GAS</span></a>
        </div>
        <div class="item-right">
            <strong>108.66</strong>
            <span class="bullish">
                <i class="fa fa-sort-up"></i><br>
                <span class="top-menu-point">
                    0.35 (0,32%)
                </span>
            </span>
        </div>
    </div>
    <div class="banner-item1">
        <div class="item-left">
            <a href="#">$GAS<br><span>PV GAS</span></a>
        </div>
        <div class="item-right">
            <strong>108.66</strong>
            <span class="bullish">
                <i class="fa fa-sort-up"></i><br>
                <span class="top-menu-point">
                    0.35 (0,32%)
                </span>
            </span>
        </div>
    </div>
    <div class="loadmore"><a href="#"><i class="fa  fa-angle-double-down"></i></a></div>

