@using PhimHang.Models;

@model ApplicationUser


<div class="user-info">
    <div class="cover-img">
        <img src="~/@ViewBag.CoverImage?width=280&height=91&mode=crop" alt="cover">
    </div>
    <div class="user-profile">
        <div class="user-img">
            <img src="~/@ViewBag.AvataEmage?width=62&height=62&mode=crop" alt="cover">
       </div>
        <div class="user-name">
            @Model.UserExtentLogin.FullName.ToUpper()
            <i class="fa  fa-check-circle">&nbsp;</i>
        </div>
    </div>
    <div class="user-sumary-info">
        <span>
            Bài Phím<br>
            <a href="#">@ViewBag.TotalPost </a>
        </span>
        <span>
            Theo dõi<br>
            <a href="#">@ViewBag.Follow</a>
        </span>
        <span>
            Được theo dõi<br>
            <a href="#">@ViewBag.Follower</a>
        </span>
    </div>
</div>


<div class="second-left-banner">
<div class="banner-header-white">HÀNG NÓNG VỪA XEM</div>
<div class="banner-item1">
    <div class="item-left">
        <a href="#">$GAS<br><span>PV GAS</span></a>
    </div>
    <div class="item-right">
        <strong>108.66</strong>
        <span class="bearish">
            <i class="fa fa-sort-down"></i><br>
            <span class="top-menu-point">
                0.35 (0,32%)
            </span>
        </span>
    </div>
</div>
<div class="banner-item1">
    <div class="item-left">
        <a href="#">$GAS<br><span>PV GAS</span></a>
    </div>
    <div class="item-right">
        <strong>108.66</strong>
        <span class="bullish">
            <i class="fa fa-sort-up"></i><br>
            <span class="top-menu-point">
                0.35 (0,32%)
            </span>
        </span>
    </div>
</div>
<div class="banner-item1">
    <div class="item-left">
        <a href="#">$GAS<br><span>PV GAS</span></a>
    </div>
    <div class="item-right">
        <strong>108.66</strong>
        <span class="bullish">
            <i class="fa fa-sort-up"></i><br>
            <span class="top-menu-point">
                0.35 (0,32%)
            </span>
        </span>
    </div>
</div>
<div class="banner-item1">
    <div class="item-left">
        <a href="#">$GAS<br><span>PV GAS</span></a>
    </div>
    <div class="item-right">
        <strong>108.66</strong>
        <span class="bullish">
            <i class="fa fa-sort-up"></i><br>
            <span class="top-menu-point">
                0.35 (0,32%)
            </span>
        </span>
    </div>
</div>

<div class="banner-item-user-detail">
    <div class="avata-genaral-size">
        <img src="~/img/avatar2.jpg" class="img-rounded" alt="avatar">
    </div>
    <div class="list-item-detail">
        <div class="list-item-username">Tom Truong 1</div>
        <div class="list-item-control">
            <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>
        </div>
    </div>
</div>
<div class="banner-item-user-detail">
    <div class="avata-genaral-size">
        <img src="~/img/avatar2.jpg" class="img-rounded" alt="avatar">
    </div>
    <div class="list-item-detail">
        <div class="list-item-username">Tom Truong</div>
        <div class="list-item-control">
            <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>
        </div>
    </div>
</div>
<div class="banner-item-user-detail">
    <div class="avata-genaral-size">
        <img src="~/img/avatar4.jpg" class="img-rounded" alt="avatar">
    </div>
    <div class="list-item-detail">
        <div class="list-item-username">Tom Truong</div>
        <div class="list-item-control">
            <a class="button" href="#">PhimHang</a>
        </div>
    </div>
</div>
<div class="banner-item-user-detail">
    <div class="avata-genaral-size">
        <img src="~/img/avatar5.jpg" class="img-rounded" alt="avatar">
    </div>
    <div class="list-item-detail">
        <div class="list-item-username">Tom Truong</div>
        <div class="list-item-control">
            <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>
        </div>
    </div>
</div>

    </div>