@model PhimHang.Models.UserLogin
<div class="top-menu-2">
    <div class="area-left"></div>
    <div class="area-center">
        <div class="category-top">
            <a href="/user/@Model.UserNameCopy/tab/1" class="category-tab category-tab-active">
                <span>
                    <span class="category-tab-name">Bài phím</span>
                    <span class="strong">2,706</span>
                </span>
            </a>
            <a href="/user/@Model.UserNameCopy/tab/2" class="category-tab" style="width: 130px;">
                <span>
                    <span class="category-tab-name">Danh mục đầu tư</span>
                    <span class="strong">88</span>
                </span>
            </a>
            <a href="/user/@Model.UserNameCopy/tab/3" class="category-tab">
                <span>
                    <span class="category-tab-name">Theo dõi</span>
                    <span class="strong">88</span>
                </span>
            </a>
            <a href="/user/@Model.UserNameCopy/tab/4" class="category-tab">
                <span>
                    <span class="category-tab-name">Được theo dõi</span>
                    <span class="strong">38.2M</span>
                </span>
            </a>
        </div>
    </div>
    <div class="area-right">
        <div class="btn-right-top">
            <a href="#" class="button-flow"><i class="fa fa-plus"></i>Theo dõi</a>
        </div>
    </div>
</div>